workflows/Backup n8n Workflows to Google Drive.json
{"createdAt":"2025-04-20T15:57:50.822Z","updatedAt":"2025-04-29T07:53:05.000Z","id":"KOQ7mR5nczK2XGFm","name":"Backup n8n Workflows to Google Drive","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":30}]}},"id":"de6411b5-5d53-4d42-b3b6-0fc4b84c52ea","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[400,500],"typeVersion":1.2},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"id":"f5033398-ccf6-4126-9039-6fa8a5968552","name":"Code","type":"n8n-nodes-base.code","position":[1020,500],"typeVersion":2},{"parameters":{"filters":{},"requestOptions":{}},"id":"b8532f27-a619-4683-a835-096f3a450397","name":"Get all n8n Workflows","type":"n8n-nodes-base.n8n","position":[800,500],"typeVersion":1,"credentials":{"n8nApi":{"id":"exc8Z6eO22Qzev00","name":"n8n account"}}},{"parameters":{"name":"={{  $json.name+ \".json\"}}","driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"options":{}},"id":"e6c815c6-00ac-4d91-b92f-dfc0c962bcd3","name":"Backup to Google Drive","type":"n8n-nodes-base.googleDrive","position":[1240,500],"retryOnFail":true,"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $now.format('yyyy-MM-dd-hh-mm') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1NBsRLtuZVXN6S7xk9CWyhn9X08LME_8l","mode":"list","cachedResultName":"Backup WF","cachedResultUrl":"https://drive.google.com/drive/folders/1NBsRLtuZVXN6S7xk9CWyhn9X08LME_8l"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[600,500],"id":"4d8473e1-c629-4eb3-9d70-695a40d6217b","name":"Google Drive","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}}],"connections":{"Code":{"main":[[{"node":"Backup to Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Get all n8n Workflows":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Get all n8n Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"3112","templateCredsSetupCompleted":true},"pinData":{},"versionId":"7920bd95-8834-43e0-959c-e65430fb558c","triggerCount":0,"tags":[]}