workflows/BK Credential to Disk VPS.json
{"createdAt":"2025-04-03T03:06:25.807Z","updatedAt":"2025-04-03T03:21:24.000Z","id":"jWgEi3U46RokDkL1","name":"BK Credential to Disk VPS","active":false,"nodes":[{"parameters":{},"id":"91a6dd68-d64d-411d-a9c7-362e2949adac","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1400,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"883e2c8f-e725-4419-a731-4419086c9aa9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1400,160],"typeVersion":1.1},{"parameters":{"command":"=n8n export:credentials --backup --decrypted --output=/backups/{{$now.format(\"LL-dd-yy\") }}/credentials/temp/"},"id":"e94954c3-533d-4e45-b724-ad9389d0b25d","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[580,400]},{"parameters":{"fileSelector":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/*","options":{}},"id":"d50e4823-7bd8-4614-b652-82bfce28f45c","name":"Read Credentials","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[800,400]},{"parameters":{"command":"=rm -r /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/\n\n\n"},"id":"9c35f75c-6b82-4dac-8b99-54c9be1cba63","name":"Remove Temp dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,400],"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"id":"b250b855-f7e8-4c2c-b9a8-71b70544cbef","name":"MAKE JSON FILES","type":"n8n-nodes-base.moveBinaryData","position":[1400,700],"notesInFlow":true,"typeVersion":1},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/{{ $('Turn individual files to single json  output to get filename').item.json.data.name }}.json","options":{"append":false}},"id":"43fae225-23b1-4b82-b0fc-fded1e404ff9","name":"Write individual Files in understanable name","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1400,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9784dcf5-0803-4419-acd8-d61b2e5fb350","name":"GET WORKFLOWS","type":"n8n-nodes-base.n8n","position":[1200,700],"typeVersion":1,"credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/workflows/{{ $node[\"GET WORKFLOWS\"].json[\"name\"] }}.json","options":{"append":false}},"id":"ec262a13-fa0d-4f71-8a1c-848732300fcf","name":"Write Workflows","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,700]},{"parameters":{"content":"1. Exports the Credentials into /credentials/temp directory as individual files\n2. Renames them to the Credential Name (as opposed to credential ID)\n3. Saves to /credentials, and \n4. Deletes /credentials/temp","height":231.3877551020408,"width":1733.7346938775481},"id":"6c03fe14-8627-4255-8464-b9d86db0f961","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,340]},{"parameters":{"content":"Creates a directory structure under /backups - subdir todays date, then additional subdirs for credentials and workflows.\n\nNote the /backups needs to be a directory you've created within your n8hn environment, (or in case of Docker, made available to the n8n \n container by mapping the  directory read-write) - in my case this was //volume1/docker/n8n/backups)","height":287.6326530612244,"width":1734.8163265306116},"id":"5473e2f1-5538-4941-934e-97a400a13231","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"5. retrieves the workflows from n8n, and\n6. saves them as the workflow name under /backups/{today's date}/workflows","height":231.3877551020408,"width":1722.9183673469383},"id":"63225af2-bdbb-4a4a-b318-91bc5abcd5ec","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,620]},{"parameters":{"command":"=mkdir /backups/{{ $now.format(\"LL-dd-yy\") }}\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/workflows\n\n"},"id":"596ea963-2ddb-47e2-9b86-5af427f5e775","name":"Create directory structures","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,100],"onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"id":"daacd2f0-ecfa-436d-af99-5e15f4737675","name":"Convert back to json files","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,400]},{"parameters":{"operation":"fromJson","options":{}},"id":"a710c3f5-c022-48a4-b704-e8e04c30c85b","name":"Turn individual files to single json  output to get filename","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1000,400]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Turn individual files to single json  output to get filename","type":"main","index":0}]]},"Remove Temp dir":{"main":[[{"node":"GET WORKFLOWS","type":"main","index":0}]]},"MAKE JSON FILES":{"main":[[{"node":"Write Workflows","type":"main","index":0}]]},"Write individual Files in understanable name":{"main":[[{"node":"Remove Temp dir","type":"main","index":0}]]},"GET WORKFLOWS":{"main":[[{"node":"MAKE JSON FILES","type":"main","index":0}]]},"Create directory structures":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert back to json files":{"main":[[{"node":"Write individual Files in understanable name","type":"main","index":0}]]},"Turn individual files to single json  output to get filename":{"main":[[{"node":"Convert back to json files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b76a6a77-46a7-48d7-badf-2b5cc060aa2f","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:00:28.238Z","updatedAt":"2025-04-03T03:00:28.238Z","id":"J66Pom6PGRYeUSoL","name":"core"}]}