workflows/Chat AI with Gsheet Memory.json
{"createdAt":"2025-04-03T03:00:10.656Z","updatedAt":"2025-04-03T03:16:20.000Z","id":"8Uf53ZpOEDMe3y7s","name":"Chat AI with Gsheet Memory","active":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Dạ, chào anh chị SINIFOOD có thể giúp gì không ạ?","options":{"subtitle":"Bot có thể hỗ trợ khách hàng về thông tin sản phẩm, giá, chính sách giao hàng và nhiều hơn nữa!","title":"Chat với Bot AI SiniFood","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #777980;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-light);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[240,60],"id":"ea43b04a-d2a3-4311-afb7-030a6497f200","name":"When chat message received","webhookId":"a4f14b90-d111-46a0-bc4a-3dfb97ea7311"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,240],"id":"b7c79850-8b3a-4a17-ac24-3e17d1bcd700","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[520,280],"id":"dfbaf057-4ef9-4fa7-8299-46d30e439366","name":"Window Buffer Memory"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU","mode":"list","cachedResultName":"Memory AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Users":"SINIFOOD","Memories":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Memories', `Một nội dung mới của người dùng cần lưu trong ký ức, hoặc chủ đề mà được người dùng hỏi liên tục trong 3 lần. Summary một cách ngắn gọn trong 1 câu`, 'string') }}","Created":"={{ $now.format('yyyy-MM-dd')}}"},"matchingColumns":[],"schema":[{"id":"Memories","displayName":"Memories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Users","displayName":"Users","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[700,280],"id":"3a4a6ba4-7ace-4511-a6cc-dae0b4c8aaf3","name":"Save Memory","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"name":"Get_Memory","description":"Gọi tool này để tra cứu về lịch sử trò chuyện trước đây với người dùng, nhầm nâng cao chất lượng trò chuyện","workflowId":{"__rl":true,"value":"AOninW3Fq6q5dklS","mode":"list","cachedResultName":"Chat AI with Gsheet Memory"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[820,260],"id":"892bbeb1-5e43-4dd7-aa4c-344258003784","name":"Get Memory"},{"parameters":{"options":{"systemMessage":"=#Vai trò:\nBạn là một trợ lý AI hữu ích, chuyên cung cấp các thông tin cần thiết cho người dùng về sản phẩm\nBạn đang đối thoại với SiniFoods Chat AI\n\n#Công cụ:\n1. `Save Memory`: Sử dụng công cụ này để lưu những thông tin cần chú ý của người dùng (thói quen/sở thích/mindset/những điểm cá nhân hóa) vào google sheet khi cần thiết.\n2. `Get_Memory`: Luôn sử dụng công cụ này trước khi phản hồi, mục đích để lọc lại bộ nhớ về thói quen/lịch sử trò chuyện với người dùng trước đây, nhằm nâng cao chất lượng trò chuyện. Nếu trong Get_Memory không có thông tin thì trả lời không biết, sau đó kêu liên hệ shop để biết chi tiết\n\n#Hướng dẫn:\n- Đảm bảo trả lời thân thiện, chuyên nghiệp, xưng hô anh chị với người chat, trả lời dạ trước khi trả lời, gọi khách thay gì gọi bạn. Nếu khách xưng hô gì thì mình xưng hô lại ví dụ khách xưng anh/chị thì mình gọi họ anh/chị và xưng em, còn khách xưng cô/chú/bác thì mình gọi cô/chú/bác và xưng con.\n- Luôn gọi công cụ Get_Memory để trích dẫn lịch sử trò chuyện với người dùng, trước khi đưa ra câu trả lời\n- Thời gian hiện tại là: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[460,60],"id":"04d98094-9f3c-4d8a-9623-9a186538b988","name":"Trợ Lý AI"},{"parameters":{"content":"## Main Workflow","height":540,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"2523c7fe-ae1f-48b8-9950-095fcf8a77be","name":"Sticky Note"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[260,660],"id":"31368606-0c8c-48c2-9f2a-7906ffe21769","name":"When Executed by Another Workflow"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Memories"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,660],"id":"9759464b-a49c-471b-9804-c69b7ad8f422","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"49cd97d3-eba7-4413-85a2-3797a87dbda2","name":"Memories","value":"={{ $json.Memories }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,660],"id":"9b31a9cf-b54c-4df6-b8e6-485757fec5e9","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU","mode":"list","cachedResultName":"Memory AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1khI-WdzDf-8AuMAoFMusLiVhjyxKOYxkYHDi4Tn50xU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,660],"id":"454307a6-841c-4952-a181-46b1fda5f60b","name":"Get Memory1","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"content":"## Long Memory","height":280,"width":900,"color":3},"type":"n8n-nodes-base.stickyNote","position":[100,580],"typeVersion":1,"id":"85eeaa10-c3be-45c5-9c89-e949374364b1","name":"Sticky Note1"}],"connections":{"When chat message received":{"main":[[{"node":"Trợ Lý AI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Trợ Lý AI","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Trợ Lý AI","type":"ai_memory","index":0}]]},"Save Memory":{"ai_tool":[[{"node":"Trợ Lý AI","type":"ai_tool","index":0}]]},"Get Memory":{"ai_tool":[[{"node":"Trợ Lý AI","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Memory1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40270919-e75c-4435-a7f1-0f2c5a38329a","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:00:05.905Z","updatedAt":"2025-04-03T03:00:05.905Z","id":"zf4sNLeVkmFNH7GC","name":"Long Memory Demo"}]}