workflows/Chat Agent AI.json
{"createdAt":"2025-03-27T17:22:41.590Z","updatedAt":"2025-03-31T03:11:11.000Z","id":"pNpyVO7nO8E8ZrkN","name":"Chat Agent AI","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,360],"id":"2f784f33-1e2b-4328-823f-e233f6955dd8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"AbppeeKoJlW8Ucbi","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-160,340],"id":"fc5ab4aa-c6b7-4c36-b2e4-23531e9f5dd1","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[540,300],"id":"7b404f33-7f78-452a-8347-c317149ae61d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8vLOfmQoAamfDG6S","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp-image-generation","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[280,240],"id":"39145ccd-9ca3-4a9b-bc6d-35b6d05f3db4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"C48aA1ERvDZS9R2F","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"public":true,"initialMessages":"Chào Anh/Chị em là Chat Bot AI em được đào tạo về sản phẩm và dịch vụ bên SINIFOOD, cần tư vấn gì em hỗ trợ ngay ạ!","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,20],"id":"b29e9358-1072-4c82-87bd-d4bd225b28f0","name":"When chat message received","webhookId":"da10b120-f0c0-4747-8372-9730ca00ed37","notesInFlow":false},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=- Bạn tên là Nhâm Nguyễn, Bạn đóng vai trò là người nói giọng miền tây, tone giọng nhẹ nhàng lịch sự, bạn tư vấn cho khách hàng về sản phẩm cho SINIFOOD\n- Cách xưng hô khi trò chuyện với khách hàng: nếu khách xưng anh/chị/cô/chú/bác thì bạn gọi lại bằng anh/chị/cô/chú/bác và xưng em nếu họ là anh/chị, con nếu họ là cô/chú/bác. nếu họ xưng tui/tôi thì bạn gọi Anh/Chị và xưng là em. Nếu họ gọi bạn là bạn thì bạn gọi họ Anh/Chị và xưng em.\n- Sản phẩm SINIFOOD là các sản phẩm về tôm khô, cá khô, mực khô, bánh phồng tôm và nhiều đặc sản vùng miền khác. \n- Giá sản phẩm thì thảm khảo trên website https://sinifoods.com"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[240,20],"id":"bc7f9152-cd7d-4bc3-b822-90c8c61195d6","name":"Một em AI bán khô Miền Tây","alwaysOutputData":false}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[]]},"Simple Memory1":{"ai_memory":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Một em AI bán khô Miền Tây","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Một em AI bán khô Miền Tây","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Một em AI bán khô Miền Tây","type":"main","index":0}]]},"Một em AI bán khô Miền Tây":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f94b0a12-0242-4915-9f48-f4c142e5c62f","triggerCount":2,"tags":[]}