workflows/Chat BOT training by scraping.json
{"createdAt":"2025-04-23T21:59:17.617Z","updatedAt":"2025-04-24T02:06:03.000Z","id":"xyg0IFg7QHFH1FOT","name":"Chat BOT training by scraping","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,100],"id":"bfc34a55-4289-4109-9740-8dddbc3ca2b8","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc","mode":"list","cachedResultName":"Product Data","cachedResultUrl":"https://drive.google.com/drive/folders/1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,100],"id":"4d2b8bd9-84d7-496f-b003-2840f4059cd2","name":"search_file","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[540,100],"id":"91a5625f-d59a-4d3e-a9d3-e8cff2dee9b4","name":"dowload","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,80],"id":"c85f29ab-51f0-4826-b25c-a8fc2cbe5b06","name":"Loop Over Items"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"prodata","mode":"list","cachedResultName":"prodata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1060,40],"id":"b65db6cb-0e3d-4797-a14f-3ee8f42a7ba5","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1160,260],"id":"05bb7d76-79c9-454b-bbc8-9695998afb14","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1180,400],"id":"01450bfd-069c-419a-a875-4b6f562fb43a","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[940,260],"id":"ce6c5036-521a-4453-9a6c-40f7b3a819c0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"content":"## Upload tài liệu","height":400,"width":1480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"08dcdce3-873a-487e-a1b5-1354c453ba1b","name":"Sticky Note"},{"parameters":{"options":{"systemMessage":"=## Overview:\n- Bạn là AI trợ lý riêng của người dùng. Nhiệm vụ của bạn là tiếp nhận và hỗ trợ giải đáp thắc mắc của người dùng dựa trên tài liệu nội bộ\n\n## Công Cụ:\n- `tool`: Chứa dữ liệu nội bộ, dùng để tìm kiếm thông tin trước khi đưa ra phản hồi\n- `MySQL TOOL`: Chứa dữ liệu về giá bán sản phẩm, \n\n## Hướng dẫn:\n- Luôn gọi công cụ `MySQL TOOL` để lấy dữ liệu trước khi trả lời người dùng ngay khi có thông tin nếu không có thì thì phản hồi với người dùng là không có thông tin.\n- Không tự ý tìm kiếm thông tin bên ngoài\n- Giao tiếp chuyên nghiệp, lịch sự"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,540],"id":"fb3ecd14-0484-4a3a-b1f5-2d361fd63b80","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[340,540],"id":"f86726f1-64b6-4421-ae38-95e12b2b9f9f","name":"When chat message received","webhookId":"b803fedf-771c-4036-9040-fa7b20b86e1b"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,800],"id":"c97a0216-6a97-49aa-a30f-c8e93ff1fae2","name":"Window Buffer Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,840],"id":"8a1fcf7e-52e3-4be5-8f4c-d395fa10e6fe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"name":"database","description":"Chứa dữ liệu nội bộ, truy vấn để tìm thông tin trả lời câu hỏi của người dùng"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1020,660],"id":"49f8d982-cc29-40a8-9e55-11b9e6ecdcf9","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"prodata","mode":"list","cachedResultName":"prodata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[940,820],"id":"d8ffde24-7775-4994-8d7d-2a6e21666922","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,1000],"id":"62da6118-342b-439b-a9c2-2cf684dbf0e3","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"content":"## Chat","height":560,"width":1060,"color":3},"type":"n8n-nodes-base.stickyNote","position":[240,440],"typeVersion":1,"id":"4b265382-281e-4802-bfa9-0f0823391e56","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA","mode":"list","cachedResultName":"Giá","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[780,800],"id":"26298c3e-9404-4ebb-98a6-246bb5b74543","name":"Price DB","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT name, price, keyword, moredesc, detail FROM product","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.4,"position":[160,800],"id":"dbdd02e8-7ed9-4548-b827-4bd4fe06596f","name":"MySQL TOOL","credentials":{"mySql":{"id":"z4S3Q7bwZVMljf7i","name":"MySQL account DSMCM"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"search_file","type":"main","index":0}]]},"search_file":{"main":[[{"node":"dowload","type":"main","index":0}]]},"dowload":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Price DB":{"ai_tool":[[]]},"MySQL TOOL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e54eefd-e5e3-41e6-b1a9-3654dc3a32cd","triggerCount":0,"tags":[]}