workflows/Chat Agent AI.json
{"createdAt":"2025-04-03T03:00:33.667Z","updatedAt":"2025-04-10T07:28:05.000Z","id":"MjK2hpOaJ3I2Lkv9","name":"Chat Agent AI","active":false,"nodes":[{"parameters":{},"id":"87c529b6-35a3-4664-a3a3-4d1f0ddef287","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1400,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"a440ff90-8cee-45a2-9c06-ecc468e41cc9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1400,160],"typeVersion":1.1},{"parameters":{"command":"=n8n export:credentials --backup --decrypted --output=/backups/{{$now.format(\"LL-dd-yy\") }}/credentials/temp/"},"id":"fcc4fc5d-f32c-4ba4-be76-2582bd23992b","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[580,400]},{"parameters":{"fileSelector":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/*","options":{}},"id":"c55b1e7d-e6ab-4f27-a130-d7df798efbfa","name":"Read Credentials","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[800,400]},{"parameters":{"command":"=rm -r /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/\n\n\n"},"id":"a204209e-7f64-404f-a6d7-5769f4e1e59c","name":"Remove Temp dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,400],"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"id":"8b0822f9-f504-4808-ba5b-f34af82acf23","name":"MAKE JSON FILES","type":"n8n-nodes-base.moveBinaryData","position":[1400,700],"notesInFlow":true,"typeVersion":1},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/{{ $('Turn individual files to single json  output to get filename').item.json.data.name }}.json","options":{"append":false}},"id":"688ae31a-c189-46d3-88ca-44532ffc27c7","name":"Write individual Files in understanable name","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1400,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"6ff3c9e0-4376-4b85-9cbe-344e53b733ca","name":"GET WORKFLOWS","type":"n8n-nodes-base.n8n","position":[1200,700],"typeVersion":1,"credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/workflows/{{ $node[\"GET WORKFLOWS\"].json[\"name\"] }}.json","options":{"append":false}},"id":"175f1ddb-0b6f-4418-bbd7-b403f00f3dff","name":"Write Workflows","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,700]},{"parameters":{"content":"1. Exports the Credentials into /credentials/temp directory as individual files\n2. Renames them to the Credential Name (as opposed to credential ID)\n3. Saves to /credentials, and \n4. Deletes /credentials/temp","height":231.3877551020408,"width":1733.7346938775481},"id":"238de594-acef-403d-b1bf-68be4c9856eb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,340]},{"parameters":{"content":"Creates a directory structure under /backups - subdir todays date, then additional subdirs for credentials and workflows.\n\nNote the /backups needs to be a directory you've created within your n8hn environment, (or in case of Docker, made available to the n8n \n container by mapping the  directory read-write) - in my case this was //volume1/docker/n8n/backups)","height":287.6326530612244,"width":1734.8163265306116},"id":"7cbd9820-a89d-47d5-ab75-70bd834e6485","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"5. retrieves the workflows from n8n, and\n6. saves them as the workflow name under /backups/{today's date}/workflows","height":231.3877551020408,"width":1722.9183673469383},"id":"3b9bcd2f-4353-43ef-9032-a6377405542d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,620]},{"parameters":{"command":"=mkdir /backups/{{ $now.format(\"LL-dd-yy\") }}\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/workflows\n\n"},"id":"45d18a3e-d40f-4fa5-a44c-a2d5743042e1","name":"Create directory structures","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,100],"onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"id":"7797cfb9-cc2f-4531-aef4-2d7efade7180","name":"Convert back to json files","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,400]},{"parameters":{"operation":"fromJson","options":{}},"id":"b702671b-380e-47f7-8273-225314a8aac3","name":"Turn individual files to single json  output to get filename","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1000,400]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Turn individual files to single json  output to get filename","type":"main","index":0}]]},"Remove Temp dir":{"main":[[{"node":"GET WORKFLOWS","type":"main","index":0}]]},"MAKE JSON FILES":{"main":[[{"node":"Write Workflows","type":"main","index":0}]]},"Write individual Files in understanable name":{"main":[[{"node":"Remove Temp dir","type":"main","index":0}]]},"GET WORKFLOWS":{"main":[[{"node":"MAKE JSON FILES","type":"main","index":0}]]},"Create directory structures":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert back to json files":{"main":[[{"node":"Write individual Files in understanable name","type":"main","index":0}]]},"Turn individual files to single json  output to get filename":{"main":[[{"node":"Convert back to json files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87ac7a5f-7380-4d7f-9212-09aacd477f93","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:00:28.238Z","updatedAt":"2025-04-03T03:00:28.238Z","id":"J66Pom6PGRYeUSoL","name":"core"}]}