workflows/Check Ranking My Web v2.json
{"createdAt":"2025-04-14T07:33:28.611Z","updatedAt":"2025-04-14T21:15:17.000Z","id":"Ub1eXofmcEYNZwLm","name":"Check Ranking My Web v2","active":false,"nodes":[{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,980],"id":"29e8c22c-a286-4f75-8c38-647420706549","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json.keyword }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":3,"batchInterval":2000}}}},"id":"2b4446f4-9f7b-4fdd-a017-544520c8f467","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[-960,840],"notesInFlow":false,"retryOnFail":true,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"TquYAjvec3bCMHxl","name":"scrapingrobot Auth hothseo"}}},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"}]},"options":{}},"id":"8c450c73-2b4c-424e-90d0-3f9cae8f4d3d","name":"SERP results","type":"n8n-nodes-base.set","position":[-660,840],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"be0df8d8-1756-455f-8320-a5a9de942c04","name":"Separate","type":"n8n-nodes-base.splitOut","position":[-440,840],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"3a9629b6-d0cc-4dd2-b7dd-ba9d81dbf8c7","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[-240,840],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"e3941ae5-783b-4e10-9881-c08d57a6c055","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[-20,840],"typeVersion":3.4},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"7cb8ac47-8389-4a5b-946f-3bf882246d04","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[260,840],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Vị trí từ khóa  là #{{ $json.mypos }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,1400],"id":"570bfa49-94ac-431e-9be2-4017bfeaa22a","name":"Telegram","webhookId":"19c80af7-cc97-4ac4-a532-d7fd3b97a24d","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[920,1100],"id":"4f3842e9-d37e-43f0-a25e-7d277675c2ea","name":"Convert to File"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1840,880],"id":"a74e7009-0151-4683-9063-2e9057af4171","name":"Telegram Trigger","webhookId":"230886ff-252d-486d-8f59-790315f66ae7","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"jsCode":"let kw_web = $input.first().json.message.text.split(',')\n\nconst arr_search = {keyword:kw_web[0],domain:kw_web[1]}\n\nreturn {arr_search:arr_search}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1540,860],"id":"78909077-e705-4b0d-83f2-3a0d7a8b7a59","name":"Convert text to Array"},{"parameters":{"jsCode":"let mypos = -1\nlet mydomain = $('Edit Fields').first().json.domain\nfor (const item of $input.all()) {\n  mydomain = mydomain.trim()\n  if(item.json.url.search(mydomain) > -1){\n    mypos = $input.item.json.position\n    break\n  }\n}\n\nreturn {mypos:mypos}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[740,840],"id":"33bd8b4d-1512-4cc6-83fd-2a36f4be5bad","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"a21e2419-89ba-4346-aae3-e9d591fd906f","name":"keyword","value":"={{ $json.arr_search.keyword }}","type":"string"},{"id":"9141bfc9-bb4d-453e-b8ec-e660c84635b5","name":"domain","value":"={{ $json.arr_search.domain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,860],"id":"f97f920b-72cc-4405-b148-af94385a1566","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"f16367a6-0f73-43f9-9e76-0ac7c87678cb","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"8919ebb6-dc02-4e92-9e83-d98f31575fe7","name":"position","value":"={{ $json.position }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,840],"id":"d05935ec-739e-4913-82d0-3f0da2f321ec","name":"Edit Fields1"}],"connections":{"Google Drive":{"main":[[]]},"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}],[]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Convert text to Array","type":"main","index":0}]]},"Convert text to Array":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GET SERP","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"7bdc645c-38b3-4e28-bbf7-ad09046c35ae","triggerCount":1,"tags":[]}