workflows/Check Ranking My Web.json
{"createdAt":"2025-04-12T07:12:20.821Z","updatedAt":"2025-04-12T14:38:56.000Z","id":"wTrwG4WZIeqSdksI","name":"Check Ranking My Web","active":false,"nodes":[{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,980],"id":"d5287d45-c85d-42cd-b4ae-33586267342c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"de7c0fe2-5684-4606-bee3-556ef512b1fa","name":"keyword","value":"={{ $json.KW }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,820],"id":"6a2e1592-d3d8-4b6c-90d7-b7d289adbddb","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":3,"batchInterval":2000}}}},"id":"1e1a41f7-5a0c-4899-962b-d01d087cc771","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[-660,840],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"TquYAjvec3bCMHxl","name":"scrapingrobot Auth hothseo"}},"notes":"SERP results - scrapingRobot\n\nhttps://dashboard.scrapingrobot.com/dashboard"},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"}]},"options":{}},"id":"6e14a69e-b14c-4c4e-9c4f-3107a63cac71","name":"SERP results","type":"n8n-nodes-base.set","position":[-480,840],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"94933374-87a3-4fa6-8765-f95c344f8174","name":"Separate","type":"n8n-nodes-base.splitOut","position":[-300,840],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"f8c00322-a31a-4441-9da6-8b4d94ca7acf","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[-100,840],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"7db55922-eae1-4823-bcf1-c5dd0278227e","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[120,840],"typeVersion":3.4},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"787090d7-0efa-44fc-b7de-6aab02c8f866","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[320,840],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"fieldToSplitOut":"keyword","options":{}},"id":"2a2a0c1e-eade-4b83-85d2-f52800e81b59","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[-1160,820],"typeVersion":1},{"parameters":{"chatId":"-4618273186","text":"={{ $json.messages }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,1280],"id":"5e07935e-7894-4666-b755-08d0b56c441f","name":"Telegram","webhookId":"934d92d5-9617-4452-8160-915d67a9f63b","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[920,1100],"id":"2019bebf-8caa-4fa5-b370-d70f24326948","name":"Convert to File"},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=Báo cáo kết quả tìm kiếm từ khóa ngày {{ $now.format('dd-MM-yyyy HH:mm:ii') }}","message":"={{ $json.messages }}","options":{"appendAttribution":false,"senderName":"From N8N Report"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-420,580],"id":"6402734d-62c0-47ac-a4ca-a32d026fdd98","name":"Gmail","webhookId":"ba134036-6795-4e42-ac9b-d36eb45bff67","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"jsCode":"let messages =\"KẾT QUẢ TÌM KIẾM TỪ KHÓA \" + $('Edit Fields').first().json.keyword + \"\\n\";\nfor (const item of $input.all()) {\n  let myurl = item.json.url.split('/')\n  let domain = myurl[0] + \"//\" + myurl[2]\n  messages += item.json.position+\". \"+domain+\"\\n\"+item.json.title+\"\\n\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,1340],"id":"126fcdae-29e5-4dbb-a0b8-d9c013329ca0","name":"Convert to text"},{"parameters":{"jsCode":"let messages =\"<h1>Kết quả tìm kiếm từ khóa \" + $('Edit Fields').first().json.keyword + \"</h1>\";\nfor (const item of $input.all()) {\n  messages += \"<p>\" + item.json.position+ \". \"+item.json.title + \"<br>\" + item.json.url + \"</p>\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,580],"id":"04fdfc05-1486-4f3a-a8ba-e7144a49f4ac","name":"Output HTML"},{"parameters":{"documentId":{"__rl":true,"value":"1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY","mode":"list","cachedResultName":"Check List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1880,820],"id":"8090eaf7-5ff5-43fb-8b40-e2b891e1c516","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2060,820],"id":"205e6d3a-da18-4412-b9e0-5069ff5e905c","name":"When clicking ‘Test workflow’"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1420,820],"id":"c653a22c-2550-4009-87b8-b84895e5b523","name":"Limit"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet mypos = -1\nlet mydomain = $('Google Sheets').first().json.Web\nfor (const item of $input.all()) {\n  if(item.json.url.search(mydomain) > -1){\n    mypos = $input.item.json.position\n    break\n  }\n    \n}\n\nreturn {mypos:mypos}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,840],"id":"8d232dea-a727-45f1-8c7d-0e9c04320011","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-920,820],"id":"0ab6b53a-be6e-4ad8-9260-b9bea8ea6afe","name":"Loop Over Items"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,840],"id":"4437695b-047a-44d1-9a85-24775bd27744","name":"Wait","webhookId":"3748caf3-6ccb-4c80-b69a-e689327bc2d2"}],"connections":{"Google Drive":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Convert to text":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Output HTML":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Output HTML","type":"main","index":0}],[{"node":"GET SERP","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"980ba5f2-3f5f-4921-afc5-7f677912ebbc","triggerCount":1,"tags":[]}