workflows/Check Ranking My Web v2.json
{"createdAt":"2025-04-14T07:33:28.611Z","updatedAt":"2025-04-14T07:33:28.611Z","id":"Ub1eXofmcEYNZwLm","name":"Check Ranking My Web v2","active":false,"nodes":[{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,980],"id":"29e8c22c-a286-4f75-8c38-647420706549","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"de7c0fe2-5684-4606-bee3-556ef512b1fa","name":"keyword","value":"={{ $json.KW }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,820],"id":"070b944c-1013-4932-90a0-47c06111a35b","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":3,"batchInterval":2000}}}},"id":"2b4446f4-9f7b-4fdd-a017-544520c8f467","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[-660,840],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"TquYAjvec3bCMHxl","name":"scrapingrobot Auth hothseo"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"}]},"options":{}},"id":"8c450c73-2b4c-424e-90d0-3f9cae8f4d3d","name":"SERP results","type":"n8n-nodes-base.set","position":[-400,840],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"be0df8d8-1756-455f-8320-a5a9de942c04","name":"Separate","type":"n8n-nodes-base.splitOut","position":[-180,840],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"3a9629b6-d0cc-4dd2-b7dd-ba9d81dbf8c7","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[20,840],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"e3941ae5-783b-4e10-9881-c08d57a6c055","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[240,840],"typeVersion":3.4},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"7cb8ac47-8389-4a5b-946f-3bf882246d04","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[440,840],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"fieldToSplitOut":"keyword","options":{}},"id":"492bad9d-994a-4ec0-afc3-1bfe32379f52","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[-1160,820],"typeVersion":1},{"parameters":{"chatId":"-4618273186","text":"={{ $json.messages }}","additionalFields":{"appendAttribution":false},"path":"19c80af7-cc97-4ac4-a532-d7fd3b97a24d"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,1280],"id":"570bfa49-94ac-431e-9be2-4017bfeaa22a","name":"Telegram","webhookId":"19c80af7-cc97-4ac4-a532-d7fd3b97a24d","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[920,1100],"id":"4f3842e9-d37e-43f0-a25e-7d277675c2ea","name":"Convert to File"},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=Báo cáo kết quả tìm kiếm từ khóa ngày {{ $now.format('dd-MM-yyyy HH:mm:ii') }}","message":"={{ $json.messages }}","options":{"appendAttribution":false,"senderName":"From N8N Report"},"path":"3e9dfea7-abd4-467d-a024-a535d01c8628"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-420,580],"id":"5a1a6a96-d5b1-4a87-aaf8-98adab009406","name":"Gmail","webhookId":"3e9dfea7-abd4-467d-a024-a535d01c8628","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"jsCode":"let messages =\"KẾT QUẢ TÌM KIẾM TỪ KHÓA \" + $('Edit Fields').first().json.keyword + \"\\n\";\nfor (const item of $input.all()) {\n  let myurl = item.json.url.split('/')\n  let domain = myurl[0] + \"//\" + myurl[2]\n  messages += item.json.position+\". \"+domain+\"\\n\"+item.json.title+\"\\n\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,1340],"id":"a55f2189-086b-48cc-8290-00f14fc413b6","name":"Convert to text"},{"parameters":{"jsCode":"let messages =\"<h1>Kết quả tìm kiếm từ khóa \" + $('Edit Fields').first().json.keyword + \"</h1>\";\nfor (const item of $input.all()) {\n  messages += \"<p>\" + item.json.position+ \". \"+item.json.title + \"<br>\" + item.json.url + \"</p>\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,580],"id":"fd2ad189-3c57-415a-91dc-019656db915d","name":"Output HTML"},{"parameters":{"documentId":{"__rl":true,"value":"1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY","mode":"list","cachedResultName":"Check List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jWbEfjPkK1xs3DRFitiFx3UtRTEzO1uQMIYEygYmupY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1880,820],"id":"80466a94-c317-4a83-8a24-85bbce4bea0a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2060,820],"id":"340b7a2a-376c-44a7-92dd-13178f75993d","name":"When clicking ‘Test workflow’"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1420,820],"id":"2fbdd57c-f50a-40b9-a1ad-d4b85444e2cb","name":"Limit"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet mypos = -1\nlet mydomain = $('Google Sheets').first().json.Web\nfor (const item of $input.all()) {\n  if(item.json.url.search(mydomain) > -1){\n    mypos = $input.item.json.position\n    break\n  }\n    \n}\n\nreturn {mypos:mypos}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,840],"id":"33bd8b4d-1512-4cc6-83fd-2a36f4be5bad","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-920,820],"id":"1e15b4d5-1522-42cd-9360-aa7b299c08e8","name":"Loop Over Items"},{"parameters":{"unit":"minutes","path":"fae9fdbc-76d9-4de7-909d-4694e5433611"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[820,840],"id":"96bb9cd7-1e73-41ee-8a19-5d8c17386787","name":"Wait","webhookId":"fae9fdbc-76d9-4de7-909d-4694e5433611"}],"connections":{"Google Drive":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}],[{"node":"GET SERP","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Convert to text":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Output HTML":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Output HTML","type":"main","index":0}],[{"node":"GET SERP","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"43b52226-cf30-4d9c-ada9-43c2aa8cdf35","triggerCount":1,"tags":[]}