workflows/Check Ranking My Web.json
{"createdAt":"2025-04-12T07:12:20.821Z","updatedAt":"2025-04-12T07:12:20.821Z","id":"wTrwG4WZIeqSdksI","name":"Check Ranking My Web","active":false,"nodes":[{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[520,720],"id":"d5287d45-c85d-42cd-b4ae-33586267342c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"updates":["message"],"additionalFields":{},"path":"15859ac9-1930-4e3d-95b9-e0092ac00cad"},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1880,820],"id":"28a6c77b-33b2-4448-839b-fcf06343d164","name":"Telegram Trigger","webhookId":"15859ac9-1930-4e3d-95b9-e0092ac00cad","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"de7c0fe2-5684-4606-bee3-556ef512b1fa","name":"keyword","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,820],"id":"6a2e1592-d3d8-4b6c-90d7-b7d289adbddb","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":3,"batchInterval":2000}}}},"id":"1e1a41f7-5a0c-4899-962b-d01d087cc771","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[-1040,820],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"NBxiDUqZyepqJCdr","name":"ScrapingRobot Query Auth "}},"notes":"SERP results - scrapingRobot\n\nhttps://dashboard.scrapingrobot.com/dashboard"},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"},{"id":"ac655bf2-181f-4117-a7d6-aa4ec2738bd9","name":"peopleAlsoAsk","type":"array","value":"={{ $json.result.peopleAlsoAsk }}"},{"id":"9e045f00-006e-4b8b-863d-cb25d682b69d","name":"searchQuery","type":"string","value":"={{ $json.result.searchQuery.term }}"},{"id":"08c1f92b-deac-4951-863f-721e0714739b","name":"paidAds","type":"string","value":"={{ $json.result.paidResults }}"}]},"options":{}},"id":"6e14a69e-b14c-4c4e-9c4f-3107a63cac71","name":"SERP results","type":"n8n-nodes-base.set","position":[-820,820],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"94933374-87a3-4fa6-8765-f95c344f8174","name":"Separate","type":"n8n-nodes-base.splitOut","position":[-660,820],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"f8c00322-a31a-4441-9da6-8b4d94ca7acf","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[-480,820],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"7db55922-eae1-4823-bcf1-c5dd0278227e","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[-300,820],"typeVersion":3.4},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"787090d7-0efa-44fc-b7de-6aab02c8f866","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[-100,820],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"fieldToSplitOut":"keyword","options":{}},"id":"2a2a0c1e-eade-4b83-85d2-f52800e81b59","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[-1220,820],"typeVersion":1},{"parameters":{"jsCode":"let keyword = $input.first().json.keyword.split(',')\nreturn {keyword:keyword}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,820],"id":"bdfcf8b2-2ace-4808-8823-2d91bf080a86","name":"Convert text to Array"},{"parameters":{"chatId":"-4618273186","text":"={{ $json.messages }}","additionalFields":{"appendAttribution":false},"path":"934d92d5-9617-4452-8160-915d67a9f63b"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,900],"id":"5e07935e-7894-4666-b755-08d0b56c441f","name":"Telegram","webhookId":"934d92d5-9617-4452-8160-915d67a9f63b","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,720],"id":"2019bebf-8caa-4fa5-b370-d70f24326948","name":"Convert to File"},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=Báo cáo kết quả tìm kiếm từ khóa ngày {{ $now.format('dd-MM-yyyy HH:mm:ii') }}","message":"={{ $json.messages }}","options":{"appendAttribution":false,"senderName":"From N8N Report"},"path":"ba134036-6795-4e42-ac9b-d36eb45bff67"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[520,1080],"id":"6402734d-62c0-47ac-a4ca-a32d026fdd98","name":"Gmail","webhookId":"ba134036-6795-4e42-ac9b-d36eb45bff67","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"jsCode":"let messages =\"KẾT QUẢ TÌM KIẾM TỪ KHÓA \" + $('Edit Fields').first().json.keyword + \"\\n\";\nfor (const item of $input.all()) {\n  let myurl = item.json.url.split('/')\n  let domain = myurl[0] + \"//\" + myurl[2]\n  messages += item.json.position+\". \"+domain+\"\\n\"+item.json.title+\"\\n\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,900],"id":"126fcdae-29e5-4dbb-a0b8-d9c013329ca0","name":"Convert to text"},{"parameters":{"jsCode":"let messages =\"<h1>Kết quả tìm kiếm từ khóa \" + $('Edit Fields').first().json.keyword + \"</h1>\";\nfor (const item of $input.all()) {\n  messages += \"<p>\" + item.json.position+ \". \"+item.json.title + \"<br>\" + item.json.url + \"</p>\"\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,1080],"id":"04fdfc05-1486-4f3a-a8ba-e7144a49f4ac","name":"Output HTML"}],"connections":{"Google Drive":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert text to Array","type":"main","index":0}]]},"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Output HTML","type":"main","index":0},{"node":"Convert to File","type":"main","index":0},{"node":"Convert to text","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"GET SERP","type":"main","index":0}]]},"Convert text to Array":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Convert to text":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Output HTML":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddd3e381-bb86-4666-bea8-993163a5968b","triggerCount":1,"tags":[]}