workflows/Create post Save Drive.json
{"createdAt":"2025-03-27T17:40:15.297Z","updatedAt":"2025-04-01T16:00:27.000Z","id":"oXG0lNuAzLwBKoZZ","name":"Create post Save Drive","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","unit":"minutes"}]},"documentId":{"__rl":true,"value":"1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA","mode":"list","cachedResultName":"Posts Auto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1240,100],"id":"03e8ac73-7412-4b73-b663-226176e32fb2","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"9rPiGqvvXy43D8SE","name":"Google Sheets Trigger account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1020,100],"id":"bf8fdfe4-9218-4fae-8178-42fa39dbdb98","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"0f17c9d9-ed15-4b75-a81d-ccce65323b2a","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"bb53f0a5-0260-4df4-b541-13f41b646c4a","name":"Word_Count","value":"={{ $json.Word_Count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,100],"id":"3453e483-01a8-4893-8b89-fb6c7fed71fd","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Viết 1 bài viết dài {{ $json['Word_Count'] }} chữ về {{ $json['Key'] }} giọng văn nhẹ nhà xúc tích ngắn gọn mà đầy đủ nghĩa, trình bày mạch lạc dễ nhìn","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-580,100],"id":"06c624d9-f04d-49d6-a232-013bd87cae18","name":"Basic LLM Chain","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-620,320],"id":"53656fa4-6e44-4568-8147-41aa6f38180f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"AbppeeKoJlW8Ucbi","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f93c74a6-b4f9-4b8a-87a8-4d43c592d4e5","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,100],"id":"e8331603-5a08-4bf1-8e84-1628b08f2ad2","name":"If"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"detail\": {\n      \"type\": \"string\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-440,320],"id":"cb86ab60-6e45-400e-93f9-4e0e324d41a9","name":"Structured Output Parser"},{"parameters":{"resource":"folder","name":"={{ $json.output.title}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"0B9DsxybFFsuySnk5WC16RGg2czQ","mode":"list","cachedResultName":"Content_SEO","cachedResultUrl":"https://drive.google.com/drive/folders/0B9DsxybFFsuySnk5WC16RGg2czQ?resourcekey=0-vjFDE-Y1KMpP7VVQot1d_A"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"f0771c28-9071-4a50-aa6a-1b8f46bc62cc","name":"Create Folder","credentials":{"googleDriveOAuth2Api":{"id":"29ZRYd13XHCNschb","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('If').item.json.output.detail }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[440,0],"id":"107c3d96-ae62-46bf-a455-8043ac47d7ab","name":"Save Text to Docs","credentials":{"googleDocsOAuth2Api":{"id":"TFAW9lYNJpLqdc5E","name":"Google Docs account"}}},{"parameters":{"folderId":"={{ $('Create Folder').first().json.id }}","title":"={{ $('If').item.json.output.title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"e842c1cc-833d-4f31-8e1c-ab8ac343be3f","name":"Create Docs","credentials":{"googleDocsOAuth2Api":{"id":"TFAW9lYNJpLqdc5E","name":"Google Docs account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Folder","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Create Folder":{"main":[[{"node":"Create Docs","type":"main","index":0}]]},"Create Docs":{"main":[[{"node":"Save Text to Docs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"438b637c-9dec-429e-84d5-35685c64acdc","triggerCount":0,"tags":[]}