workflows/Create post SEO up WP by DUC edited (getIMGfromURL).json
{"createdAt":"2025-04-06T07:35:35.211Z","updatedAt":"2025-04-06T08:48:04.000Z","id":"yqD8F8F7kWxLhAEh","name":"Create post SEO up WP by DUC edited (getIMGfromURL)","active":false,"nodes":[{"parameters":{"content":"Final confirmation to the user","height":80,"width":263,"color":7},"id":"301ccf96-5445-4d12-8b65-c51bfe5f05ce","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","position":[3500,3880],"typeVersion":1},{"parameters":{"resource":"image","prompt":"=Generate a photographic image to be used as the cover image for the article titled {{ $('Blog Planner').first().json.output.title }}, {{ $('Blog Planner').first().json.output.subtitle }}\nThis is the prompt for the image: {{ $('Blog Planner').first().json.output.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.","options":{"quality":"standard","size":"1792x1024","style":"natural"}},"id":"1389080d-b348-4505-a9d3-deb12dda3235","name":"Generate featured image","type":"@n8n/n8n-nodes-langchain.openAi","position":[1020,1460],"typeVersion":1,"credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-560,540],"id":"b31a8c8f-c1aa-4789-8c62-9cd97e23fef0","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Blog Planner').first().json.output.title }}\n- **Subtitle:** {{ $('Blog Planner').first().json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $json.title }}\n- **Chapter Prompt:** {{ $json.prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\nWrite a detailed, cohesive chapter for an article based on the topic, subtitle, chapter title, and chapter prompt above. The chapter should flow naturally without segmenting the content into many short or shallow subtopics.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }} words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Internal Linking:**\n  - Review the list of blog URLs below:\n    ```\n    {{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Choose one URL that is relevant to the chapter content and embed it as an internal link with appropriate hyperlink text.\n  - Use each URL only once. If none are relevant, do not add any links.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1880,460],"id":"c858f3d3-d304-4951-9c19-786982614df6","name":"Write chapter text"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1240,360],"id":"e5d2e240-f9d7-40c4-a85d-e0a12b3d98c4","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"deb6621e-982a-4e20-a1c1-1140be02cad3","name":"Website","value":"={{ $json.Website }}","type":"string"},{"id":"fdd24a9b-649b-4088-b085-da0be99f3d86","name":"Seed keyword","value":"={{ $json.Seed_keyword }}","type":"string"},{"id":"2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8","name":"Target audience","value":"={{ $json.Target_audience }}","type":"string"},{"id":"0dafb0ac-5735-4243-84cc-85e787697892","name":"Max word count","value":"={{ $json.Word_Count }}","type":"number"},{"id":"3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3","name":"Number of chapters","value":"={{ $json.Chapters }}","type":"number"},{"id":"191105bb-4f7e-4b4f-bab7-95fa1f858c43","name":"Introduction length","value":"={{ $json.Introduction_length }}","type":"number"},{"id":"d1368f97-9249-4bb6-9c5c-f3185b7ef9eb","name":"Conclusion length","value":"={{ $json.conclusion_length }}","type":"number"},{"id":"9579a7f2-1a4e-45b7-8cd7-ef249073798d","name":"style","value":"={{ $json.Style }}","type":"string"},{"id":"1575eee8-6b01-4d0f-8304-68d4d541f0f7","name":"Category ID","value":"={{ $json.Category_ID }}","type":"number"},{"id":"ae45f0c3-1ed6-4901-bf50-359ea3da33a9","name":"CTA","value":"={{ $json.CTA }}","type":"string"},{"id":"c71d3ccd-369d-4c50-8f57-1cb693af14be","name":"CTA URL","value":"={{ $json.CTA_URL }}","type":"string"},{"id":"f6e4ce2b-6d29-4ca8-9b91-6236701d71b5","name":"Company Offering","value":"={{ $json.Company_offering }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,360],"id":"028ba7cb-1b83-48fe-b3d0-965b48aaef0f","name":"Settings"},{"parameters":{"content":"## Settings","height":431,"width":567,"color":2},"id":"a178a0a9-a540-48c3-a653-e2fa52d9e7ba","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1560,280],"typeVersion":1},{"parameters":{"content":"## Create Article structure\n","height":431,"width":787,"color":2},"id":"b4ebe5ef-0883-424c-88ad-65082838d965","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-940,280],"typeVersion":1},{"parameters":{"content":"## Generate text for each chapter\n","height":531,"width":2347,"color":2},"id":"c710525e-896e-418d-8b21-84fbae116668","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[520,280],"typeVersion":1},{"parameters":{"content":"## Get all internal links\n","height":231,"width":1207,"color":2},"id":"9575a77b-c7e2-46fa-8dfe-397425f6a5fc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Generate image for each chapter","height":451,"width":2167,"color":2},"id":"c4312c0c-1b2f-4df5-ad74-aa37751c4feb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[700,880],"typeVersion":1},{"parameters":{"content":"## Combine and finalize the article\n","height":431,"width":1567,"color":2},"id":"e2dffda3-940b-4dda-9774-0dfc45825917","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2920,280],"typeVersion":1},{"parameters":{"content":"## Publish article to website\n","height":431,"width":367,"color":2},"id":"7e52aab4-aa50-47de-91e0-b86d5963b298","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4640,280],"typeVersion":1},{"parameters":{"content":"## Set featured image for the article\n","height":431,"width":987,"color":2},"id":"4ee9394e-3502-40e2-8b51-2470b1a79a5d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[5080,280],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2040,680],"id":"5fa37db1-bbb2-41f4-ab82-9753bb2f1c10","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.chapters","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,360],"id":"2f210a0b-a459-4a85-89a2-d108eed7f1b3","name":"Split out chapters"},{"parameters":{"url":"=https://{{ $json.Website }}/post-sitemap.xml","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,60],"id":"e1023fe5-f7dc-4c8a-88a7-5fba01400831","name":"Get post sitemap"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[300,60],"id":"1b471507-769b-49d3-a5f7-cfa94b0da84f","name":"Get XML file"},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[520,60],"id":"0aa4c63d-52ca-4888-a29f-aa147eece94e","name":"Split out links"},{"parameters":{"assignments":{"assignments":[{"id":"3db2a3a4-d89e-4848-835c-1d6ac68419ac","name":"chapter_title","value":"={{ $json.output.title }}","type":"string"},{"id":"25fbf572-7e57-4797-99ba-34fc1c8d560a","name":"chapter_content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,340],"id":"e35a10b7-4b4e-42a6-9431-a49f067f201e","name":"Get title chapter and content"},{"parameters":{"resource":"image","prompt":"=Generate a photographic image to be used as the cover image for the chapter {{ $json.title }} in the article titled {{ $('Blog Planner').first().json.output.title }},\nThis is the prompt for the image: {{ $json.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.","options":{"quality":"standard","size":"1792x1024","style":"natural"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1680,1040],"id":"84f15083-41da-40fd-8e7c-e8138167dcb9","name":"Generate chapter image","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"operation":"resize","dataPropertyName":"=data","width":800,"height":800,"options":{"fileName":"={{ $('Split out chapters').item.json.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1940,940],"id":"7fcaed7c-cbb0-42a2-9b05-6d963885177a","name":"Resize Image"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"210f452e-14ad-41b0-acaf-c5a083c6004d","name":"Merge chapters title and text","type":"n8n-nodes-base.merge","position":[3540,420],"typeVersion":2.1},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.article }}","destinationKey":"article","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[4280,420],"id":"6e053897-d07f-4f2e-b601-b8c97f0ebf68","name":"Markdown to HTML"},{"parameters":{"title":"={{ $('Blog Planner').first().json.output.title }}","additionalFields":{"content":"={{ $('Final article in HTML').item.json.article }}","slug":"={{ $('Blog Planner').first().json.output.slug }}","status":"publish","categories":[2]}},"id":"9428c743-3d19-48a4-a426-550602821af0","name":"Post on Wordpress","type":"n8n-nodes-base.wordpress","position":[4980,420],"typeVersion":1,"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}}},{"parameters":{"operation":"resize","width":800,"height":800,"options":{"fileName":"={{ $('Blog Planner').item.json.output.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1420,1400],"id":"a625ee5a-6bba-44f6-9a4a-ac1878fb0102","name":"Resize featured image"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $('Blog Planner').item.json.output.image.fileName }}.{{ $binary.data.fileExtension }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"ce0b754f-b953-4745-b4f9-dd733407e4e8","name":"Upload featured image","type":"n8n-nodes-base.httpRequest","position":[5620,440],"typeVersion":4.1,"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}}},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"featured_media","value":"={{ $json.id }}"}]},"options":{}},"id":"1ffe21bd-1c12-4372-b0c2-5305ed186849","name":"Set featured image for post","type":"n8n-nodes-base.httpRequest","position":[6040,440],"typeVersion":4.1},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1020,920],"id":"2a016c1f-e7d7-44b1-b135-b0d3f2b893a6","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $('Blog Planner').first().json.output.image.altText }}"},{"name":"title","value":"={{ $('Blog Planner').first().json.output.image.caption }}"},{"name":"caption","value":"={{ $('Blog Planner').first().json.output.image.caption }}"},{"name":"description","value":"={{ $('Blog Planner').first().json.output.image.caption }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5840,440],"id":"a5d42d03-832d-4fb9-8391-b04db25c2d7b","name":"Update featured image meta data","credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}}},{"parameters":{"batchSize":"={{ $('Settings').item.json['Number of chapters'] }}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1460,360],"id":"48734026-37fe-4d9e-8055-f6a1ba39b6e9","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"178011dc-bb76-420d-a01e-5a5d9797957e","name":"response","value":"=A new blog post was created and published at {{ $('Post on Wordpress').item.json.link }}. All the generated materials are saved to Google Drive: https://drive.google.com/drive/folders/{{ $('Create Drive folder').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5460,960],"id":"b7feda17-a987-41d9-a009-6a19dc89d46e","name":"Edit Fields"},{"parameters":{"content":"## Generate featured image","height":431,"width":1347,"color":2},"id":"55ed335d-3d6e-4327-9db6-8e2befcc805f","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[720,1380],"typeVersion":1},{"parameters":{"content":"## SEO\n","height":431,"width":507,"color":2},"id":"402bf052-86c1-4117-b1bc-510e84dd0aac","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[6120,280],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"excerpt","value":"={{ $('Blog Planner').first().json.output.googleExcerpt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,440],"id":"b58df344-f5ae-489e-bdd4-62cde59ca458","name":"Set excerpt"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2340,460],"id":"6a93a65e-84b0-44a0-ba2e-c51a689db9ca","name":"Wait","webhookId":"38e191b0-7dd0-4401-9200-e32fa45fe802"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2860,1040],"id":"09e1c606-53b9-4f9b-bf3b-b2bae4fad3b5","name":"Wait1","webhookId":"37870b36-dbf9-419d-9e86-f4f9a2da3b0b"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"1tc3YOBxLmOyOD9cs4Os47hvu1v1mCAMrPxHWz8QfAS4","mode":"list","cachedResultName":"Auto_Post_SEO_to_WP_v2.1_Edited_byME","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tc3YOBxLmOyOD9cs4Os47hvu1v1mCAMrPxHWz8QfAS4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tc3YOBxLmOyOD9cs4Os47hvu1v1mCAMrPxHWz8QfAS4/edit#gid=0"},"event":"rowAdded","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-2140,360],"id":"204c7d0d-fcbd-49c2-8b83-cc522831482f","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"FmO3WTWFRL3Ke6sP","name":"Google Sheets Trigger account"}}},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[760,60],"id":"d819921e-5817-4aee-9b7d-3d054fd73e22","name":"Limit1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5e0892b-6f70-46d4-81fc-e33321dc87b9","leftValue":"={{ $json.Website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4b4c8d5-9acb-4b8d-be85-7cb70954da7d","leftValue":"={{ $json['Seed keyword'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"48f46993-3214-48b6-a7d1-54a23c0cad48","leftValue":"={{ $json['Target audience'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3","leftValue":"={{ $json['Max word count'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"4b177d23-d6e7-4444-8bbb-fe4d5064da03","leftValue":"={{ $json['Number of chapters'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"34b9e9d2-c5a3-4878-a12a-f5ad87b43efa","leftValue":"={{ $json['Introduction length'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"68969bc3-a14a-4459-95d3-7c6a0cb279ce","leftValue":"={{ $json['Conclusion length'] }}","rightValue":"","operator":{"type":"dateTime","operation":"notEmpty","singleValue":true}},{"id":"30633e71-924d-4f0f-9ea8-f2d4a119ae51","leftValue":"={{ $json.style }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"ecb3a6a6-a19a-40b5-8026-2b26cca361de","leftValue":"={{ $json['Category ID'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1220,360],"id":"c16703de-26a7-4887-bed6-2e2b408235da","name":"Check inputs"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5400,440],"id":"2e987981-e43e-4ba6-97c8-aea6a18eb472","name":"Add featured image"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Final article in HTML').item.json.article }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[5300,960],"id":"e4725f12-b63e-447c-8627-20d26b04bcaa","name":"Save texts to Doc"},{"parameters":{"folderId":"={{ $('Create Drive folder').first().json.id }}","title":"={{ $('Blog Planner').first().json.output.title.replace(/ /g, \"_\") }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4920,960],"id":"95a16fe4-7bd3-431d-b528-ca71b8ae4504","name":"Create Doc"},{"parameters":{"name":"={{ $('Blog Planner').item.json.output.image.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Drive folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1420,1640],"id":"4ec2bf60-410f-419d-b95f-c0472b87b2ad","name":"Upload featured image to Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Split out chapters').item.json.image.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create Drive folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1940,1180],"id":"008764c2-0f7a-48b6-9cb5-8cd0d2c1bacd","name":"Upload chapter images to Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8cada260-4cd5-4470-8dba-139cec531ddc","name":"output","value":"={{ $('Blog Planner').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,360],"id":"830e5d49-f9fb-43a2-8f84-c70e6ee8a8cf","name":"Get output"},{"parameters":{"resource":"folder","name":"={{ $json.output.title.replace(/ /g, \"_\") }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82","mode":"list","cachedResultName":"DSDM_Posts","cachedResultUrl":"https://drive.google.com/drive/folders/1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,360],"id":"5458f3cf-53d7-450a-8a9e-f395a898d1aa","name":"Create Drive folder","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1840,1520],"id":"a8469de9-6821-467d-b00e-dcaeabe14b65","name":"Merge2"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2660,1040],"id":"26465d4a-74fb-4157-8be2-ee3e7aa57b1e","name":"Merge1"},{"parameters":{"content":"Create Save Folder on Drive","height":431,"width":467,"color":2},"id":"f92fe925-85d4-4b39-a1ec-b4e1d88da439","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,280],"typeVersion":1},{"parameters":{"content":"## Save to Doc on Drive\n","height":431,"width":1047,"color":2},"id":"85f2c4b5-a7a1-4558-852f-d8ee145c44fa","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[4640,800],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2140,580],"id":"1df859f8-4351-48db-a5f1-9825f76a635c","name":"Schedule Trigger","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2140,800],"id":"9ca1c1fd-5ebb-4305-ae55-d80d88489fd7","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"cd9e8fee-8386-4410-8cb4-5ef83c265d52","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4060,420],"id":"a34112b1-6530-414c-8c81-e41cb2672cc0","name":"Final article in Markdown"},{"parameters":{"jsCode":"let article = \"\";\n\n// Introduction\narticle += $('Blog Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final words\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Blog Planner').first().json.output.ctaUrl + \"](\" + $('Blog Planner').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Blog Planner').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"},"id":"9a917c23-4f6d-472a-84cf-e2ff1095db98","name":"Combine into article","type":"n8n-nodes-base.code","position":[3780,420],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"loc","renameField":true,"outputFieldName":"internal_links"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1020,60],"id":"27447249-dbd6-4873-9f88-29ef0e6f34c4","name":"Aggregate internal links"},{"parameters":{"content":"## README\n\nUPDATE: \n1) replace Open Router with OpenAI node!\n2) Move \"Wait\" node to end of loop instead of at start\n3) COrrect the \"Loop\" node. The batch side should be equal to the number of chapter.\n\nThe best content automation in the market\\! This advanced workflow not only creates and publishes **SEO-optimized blog posts** to your **WordPress website,** but also generates **a unique image for each chapter and a featured image for the overall article**. In addition, it automatically collects internal website links—seamlessly inserting them throughout each chapter and the entire article. Last but not least, it automatically **backs up all content and images** to a designated folder in your Google Drive.   \nThis integrated approach enhances on-page SEO, improves navigation, and streamlines your content creation process, saving you time while ensuring your work is securely stored.\n\n### How it works\n\n1. **Trigger:** It activates upon adding a new row to a Google Sheet. Users can control many customizable parameters, such as see keyword, number of chapters, target audience, length, and style.  \n2. **Structure Planning:** It plans a detailed structure for the entire article and breaks the article into chapters strongly tied to the main topic.  \n3. **Expert Copywriting: It** generates content for each chapter in depth based on the provided parameters.  \n4. **Image Generation:** It generates and adds images for each chapter, as well as a featured image for the article.  \n5. **Internal Linking:** The system gathers internal website links and strategically embeds them within each chapter and throughout the article, boosting SEO and enhancing user navigation.  \n6. **Final Assembly & Publishing:** All texts, images, and links are combined into one comprehensive article, which is then published directly to your WordPress website. You can also choose to post it as a draft for final review.  \n7. **Auto Backup to Drive:** Get peace of mind knowing all content (blog post and images) is automatically saved to Google Drive, organized in a folder named after the blog post title.\n\n### Unique features\n\n1. **Full Automation:** The workflow is designed to be 100% automated. Once imported and configured, it can run without manual intervention.  \n2. **Simple Activation:** It can be easily triggered through the Google Spreadsheets interface. You simply add a new row to a Google Sheet.  \n3. **Customization Options:** Offers a wide array of customization options, including topic, category, target audience, word count, number of chapters, length of introduction and conclusion, and writing style. It also allows for the inclusion of calls-to-action (CTAs) and company/product introductions.  \n4. **Automatic Content Saving:** After writing a blog post, all content and images are automatically saved to Google Drive, preventing data loss. The folder is even named after the title of the blog post.  \n5. **Advanced Loop:** Clever looping is used to write each chapter and generate images, ensuring optimal results. “Wait” nodes are added where appropriate to avoid API call rate limits.  \n6. **SEO-Optimized Content:** It's designed to create content optimized for SEO using seed keywords.  \n7. **Rate Limit Handling:** Includes \"Wait\" nodes to avoid rate limits.  \n8. **Internal Link Limit:** Limits the number of internal links to 20 by default.\n\nAnd many more big and small improvements.\n\n### Requirements\n\nPlease make sure you have these requirements ready to ensure smooth deployment of this n8n workflow template:\n\n1. **OpenAI API** or equivalent for text and image generation  \n2. A **WordPress** website (other website platforms will not work\\!)  \n3. Google Sheets for triggering the workflow, or a trigger of your choice  \n4. Google Drive and Google Docs for auto backup\n\n### Set up steps\n\n1. **Install the Workflow Template:** Import the JSON files into your n8n instance.   \n2. **Connect the Workflow with Your Accounts:** Link your accounts for OpenAI API, Google Drive, Google Sheets, Google Docs, and WordPress website.  \n3. **Configure the Google Sheet:** Ensure your Google Sheet is set up to trigger the workflow upon adding a new row and that the input data is correctly formatted.  \n4. **Customize the Inputs:** Adjust parameters like topic, target audience, and writing style to match your specific content needs. Optimize prompts for the best results.  \n5. **Test the Workflow:** Use low-cost AI models and image settings initially to ensure everything runs smoothly.  \n6. **Tailor Further as Needed:**  Modify workflow elements to perfectly align with your needs and content strategy.\n\n---\n\n### Tips for PROs\n\n1. **Image Generation:** The default AI model for image generation is OpenAI’s Dall-E. However, the outputs of this model are not impressive. Consider using FLUX.1 for better image quality.  \n2. **Triggering:** Triggering with a new row on Google Sheets is limited and unreliable. Consider setting an auto trigger with a daily schedule at a specific time. You can even put the whole workflow in a loop to process multiple rows one-by-one from Google Sheets.  \n3. **Human in the Loop:** It is possible to incorporate a human review process. For example, after the article is posted to WordPress as a draft, a human can review the draft. Only after approval will the post be published, and a final copy of the post will be saved to the shared Drive folder.","height":1460,"width":1360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3800,320],"id":"e571a0f2-5a10-4623-88b0-d63b861df00e","name":"Sticky Note12"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-780,560],"id":"b206b613-0561-4228-a7cc-2e8aecb23600","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,660],"id":"8597d5de-7ff3-4968-a99f-f240890d932a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1800,360],"id":"f1b240ed-de98-4ad3-8e33-d298ce10ec53","name":"Limit to the last row"},{"parameters":{"promptType":"define","text":"=## Instructions\nViết 1 bài về {{ $json['Seed keyword'] }} cho đối tượng đọc giả là người thích {{ $json['Target audience'] }} theo phong cách {{ $json.style }}. Bài viết này có {{ $json['Number of chapters'] }} chương tối đa {{ $json['Max word count'] }} từ. \n\n### Title and Subtitle\nViết một **tiêu đề hấp dẫn** và một **tiêu đề phụ ngắn gọn** phản ánh chủ đề.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Introduction length'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\nViết phần giới thiệu dài khoảng **{{ $json['Introduction length'] }} từ** để giới thiệu chủ đề và đặt nền tảng cho phần còn lại của bài viết.\n\n- **Tránh những cụm từ** giống như:\n  - \"Trong bài viết này\"\n  - \"Trong thế giới hối hả\"\n  - \"Biến đổi\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** from {{ $json['Seed keyword'] }}:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nDựa vào nội dung của bài viết:\n\n- Tối đa **156 ký tự**.\n- Sử dụng **giọng nói chủ động** và làm cho nó **có thể hành động**.\n- Có chứa {{ $json['Seed keyword'] }}\n\n### Chapters\nTạo nội dung chương chi tiết:\n\n- **Cấu trúc**:\n- Cung cấp tiêu đề và **lời nhắc đầy đủ** cho mỗi chương.\n- Đặt các chương vào một trường mảng có tên là **các chương**, với các trường:\n- `title`\n- `prompt`\n- `image`\n- Đảm bảo **luồng logic** giữa các chương mà không lặp lại các khái niệm.\n- Tránh các tiêu đề chung chung như \"Chương 1\", \"Chương 2\", v.v.; hãy sử dụng **tiêu đề mô tả**.\n\n- **Định dạng Markdown**:\n- Sử dụng các kiểu **in đậm**, *in nghiêng* và _gạch chân_ khi thích hợp.\n- Bao gồm **danh sách** và **danh sách được đánh số** khi cần.\n\n- **Chi tiết hình ảnh** cho mỗi chương:\n- **Lời nhắc hình ảnh**: Mô tả sống động và chi tiết về hình ảnh.\n- **Tên tệp**: Tên tệp mô tả cho hình ảnh (không có phần mở rộng).\n- **Chú thích**: Tóm tắt ngắn gọn về nội dung hình ảnh.\n- **Văn bản thay thế**: Mô tả hình ảnh tập trung vào khả năng truy cập.\n\n### Conclusion\nViết phần kết luận dài **{{ $json['Conclusion length'] }} từ** tóm tắt lại bài viết và cung cấp cho người đọc thông tin cuối cùng.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: Cuối bài viết, hãy đưa vào một thông điệp kêu gọi hành động hấp dẫn thúc đẩy người đọc thực hiện bước tiếp theo: {{ $('Settings').item.json.CTA }}\n- **URL CTA**: Cung cấp URL cho CTA: {{ $('Settings').item.json['CTA URL'] }}\n- **Dịch vụ của công ty**: Đưa vào mô tả chi tiết về dịch vụ của công ty: {{ $('Settings').item.json['Company Offering'] }}\n\n---\n\n## Image Details for Article Cover\nBài viết phải bao gồm **đối tượng hình ảnh nổi bật** với các trường sau:\n\n- **Lời nhắc hình ảnh**: Mô tả sống động và chi tiết về hình ảnh phản ánh nội dung và cảm xúc của bài viết.\n- **Tên tệp**: Tên tệp mô tả cho ảnh bìa (không có phần mở rộng).\n- **Chú thích**: Tóm tắt ngắn gọn về nội dung ảnh bìa.\n- **Văn bản thay thế**: Mô tả tập trung vào khả năng truy cập của ảnh bìa.\n\n**Requirements** for the Cover Image:\n- **Tỷ lệ khung hình**: 16:9\n- Phải **có liên quan** đến nội dung và cảm xúc của bài viết.\n- Chứa **chi tiết phong phú** và phản ánh nội dung văn bản theo **phong cách chân thực như ảnh**.\n- Loại trừ bất kỳ văn bản nào khác ngoài lời nhắc DALL-E 3.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-760,360],"id":"a969397a-4831-4c99-a55e-de60188a0497","name":"Blog Planner","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f85e6d76-179d-4fa8-ac9b-d0ae849c2d83","leftValue":"{{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,360],"id":"e1e067be-bcfa-4edc-9755-3f47c62c2ebf","name":"Check empty output"},{"parameters":{"assignments":{"assignments":[{"id":"b6877f11-541d-4ac5-8556-f10374322f2a","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4520,420],"id":"140291de-a113-40a3-a4a2-721d95a0ec97","name":"Final article in HTML"}],"connections":{"Generate featured image":{"main":[[{"node":"Upload featured image to Drive","type":"main","index":0},{"node":"Resize featured image","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Blog Planner","type":"ai_outputParser","index":0}]]},"Write chapter text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Check inputs","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Write chapter text","type":"ai_outputParser","index":0}]]},"Split out chapters":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Get post sitemap":{"main":[[{"node":"Get XML file","type":"main","index":0}]]},"Get XML file":{"main":[[{"node":"Split out links","type":"main","index":0}]]},"Split out links":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get title chapter and content":{"main":[[{"node":"Merge chapters title and text","type":"main","index":0}]]},"Generate chapter image":{"main":[[{"node":"Upload chapter images to Drive","type":"main","index":0},{"node":"Resize Image","type":"main","index":0}]]},"Resize Image":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge chapters title and text":{"main":[[{"node":"Combine into article","type":"main","index":0}]]},"Markdown to HTML":{"main":[[{"node":"Final article in HTML","type":"main","index":0}]]},"Post on Wordpress":{"main":[[{"node":"Add featured image","type":"main","index":0}]]},"Resize featured image":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Upload featured image":{"main":[[{"node":"Update featured image meta data","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge chapters title and text","type":"main","index":1}],[]]},"Update featured image meta data":{"main":[[{"node":"Set featured image for post","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get title chapter and content","type":"main","index":0}],[{"node":"Write chapter text","type":"main","index":0}]]},"Set featured image for post":{"main":[[{"node":"Set excerpt","type":"main","index":0}]]},"Set excerpt":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Limit to the last row","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Aggregate internal links","type":"main","index":0}]]},"Check inputs":{"main":[[{"node":"Blog Planner","type":"main","index":0},{"node":"Get post sitemap","type":"main","index":0}]]},"Add featured image":{"main":[[{"node":"Upload featured image","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"Save texts to Doc","type":"main","index":0}]]},"Upload chapter images to Drive":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get output":{"main":[[{"node":"Split out chapters","type":"main","index":0},{"node":"Generate featured image","type":"main","index":0}]]},"Create Drive folder":{"main":[[{"node":"Get output","type":"main","index":0}]]},"Upload featured image to Drive":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Final article in Markdown":{"main":[[{"node":"Markdown to HTML","type":"main","index":0}]]},"Combine into article":{"main":[[{"node":"Final article in Markdown","type":"main","index":0}]]},"Aggregate internal links":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Blog Planner","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Write chapter text","type":"ai_languageModel","index":0}]]},"Limit to the last row":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Blog Planner":{"main":[[{"node":"Check empty output","type":"main","index":0}]]},"Check empty output":{"main":[[{"node":"Create Drive folder","type":"main","index":0}]]},"Final article in HTML":{"main":[[{"node":"Post on Wordpress","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[]]},"Merge2":{"main":[[{"node":"Add featured image","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54f84938-a16e-4393-b77a-52ca6a2b10fc","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:04:54.631Z","updatedAt":"2025-04-03T03:04:54.631Z","id":"08VlwlFaB1lTAFMn","name":"OpenAI"},{"createdAt":"2025-04-03T03:04:54.608Z","updatedAt":"2025-04-03T03:04:54.608Z","id":"NGzPEh36t8faxqM6","name":"AI"},{"createdAt":"2025-04-03T03:04:54.657Z","updatedAt":"2025-04-03T03:04:54.657Z","id":"fBcNH6Q0E5X8FWRR","name":"WordPress"}]}