workflows/Create post SEO save docs.json
{"createdAt":"2025-04-03T02:57:30.729Z","updatedAt":"2025-04-04T08:25:08.000Z","id":"BpmzCRH0OgDrceqZ","name":"Create post SEO save docs","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","unit":"minutes"}]},"documentId":{"__rl":true,"value":"1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA","mode":"list","cachedResultName":"Posts Auto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1380,100],"id":"5be7e31d-8a1c-4101-9dfe-1c792355aea2","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"FmO3WTWFRL3Ke6sP","name":"Google Sheets Trigger account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1220,100],"id":"faed38fd-e0f0-4a39-9336-07aaecd1f242","name":"Limit"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-620,320],"id":"c5e27b03-37a8-47a9-805c-f3369ec85706","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"detail\": {\n      \"type\": \"string\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-440,320],"id":"e3e56493-e8df-4673-9d5c-7c2e4f70a3c2","name":"Structured Output Parser"},{"parameters":{"resource":"folder","name":"={{ $json.output.title}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82","mode":"list","cachedResultName":"DSDM_Posts","cachedResultUrl":"https://drive.google.com/drive/folders/1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,-20],"id":"bc64a02e-4d5d-466f-a05c-1551186607c4","name":"Create Folder","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Check Output 1').item.json.output.detail }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[440,-20],"id":"38019b87-a67b-4958-bf57-d6c2a6b64d3e","name":"Save Text to Docs","credentials":{"googleDocsOAuth2Api":{"id":"5SHJnEmObiSkX0L1","name":"Google Docs account"}}},{"parameters":{"folderId":"={{ $('Create Folder').first().json.id }}","title":"={{ $('Check Output 1').item.json.output.title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[240,-20],"id":"ec714d92-44c3-4d00-9ca9-84071d9a3212","name":"Create Docs","credentials":{"googleDocsOAuth2Api":{"id":"5SHJnEmObiSkX0L1","name":"Google Docs account"}}},{"parameters":{"promptType":"define","text":"=Viết 1 bài viết dài {{ $json['Word_Count'] }} chữ về  {{ $json.Topic }} giọng văn nhẹ nhà xúc tích ngắn gọn mà đầy đủ nghĩa, trình bày mạch lạc dễ nhìn","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-600,80],"id":"fc19a77f-ee20-4459-abc7-07a5c242507d","name":"Post Planner","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"0f17c9d9-ed15-4b75-a81d-ccce65323b2a","name":"Topic","value":"={{ $json.Topic }}","type":"string"},{"id":"3a52a19e-87c9-4a4f-a52f-215a257938a3","name":"Sub_Topic1","value":"={{ $json.Sub_Topic1 }}","type":"string"},{"id":"68c4b373-227c-4bff-9855-37e92c7c4f2a","name":"Sub_Topic2","value":"={{ $json.Sub_Topic2 }}","type":"string"},{"id":"04b094cf-2dde-4d03-ac2c-9076c8948c93","name":"Sub_Topic3","value":"={{ $json.Sub_Topic3 }}","type":"string"},{"id":"1b2c2959-5f7d-4057-9277-262581773d2e","name":"Sub_Topic4","value":"={{ $json.Sub_Topic4 }}","type":"string"},{"id":"54f3273c-c926-49c1-b45a-00240036f9ff","name":"Word_Count","value":"={{ $json.Word_Count }}","type":"number"},{"id":"81615e21-cfa4-4ed8-a051-1d718fd7205c","name":"Intro_length","value":"={{ $json.Intro_length }}","type":"number"},{"id":"b7ba9212-2ed0-48af-a2e4-d77457157986","name":"Conclusion_length","value":"={{ $json.Conclusion_length }}","type":"number"},{"id":"8f46f6a7-bd6c-4dfc-a3cc-23020459bce0","name":"Keyword","value":"={{ $json.Keyword }}","type":"string"},{"id":"1e67b6b3-6da5-4ee3-a28f-14466a375e35","name":"Link_keyword","value":"={{ $json.Link_keyword }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1060,100],"id":"7d9f0ee3-ad83-46f6-80f8-6d2ec30a9306","name":"Setting"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f93c74a6-b4f9-4b8a-87a8-4d43c592d4e5","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,80],"id":"672e97cb-0aa8-437b-9d8e-8538f179dba0","name":"Check Output 1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f93c74a6-b4f9-4b8a-87a8-4d43c592d4e5","leftValue":"={{ $('Google Sheets Trigger').item.json.Topic }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cbee52fc-3dd5-46c9-b3e7-3dc672b43eec","leftValue":"={{ $('Google Sheets Trigger').item.json.Sub_Topic1 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"f5d84fc1-9867-4c37-98f7-bf9401700427","leftValue":"={{ $('Google Sheets Trigger').item.json.Word_Count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,100],"id":"16d9182c-943c-4aa4-b472-f17451b74ec5","name":"Check Output"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Setting","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Post Planner","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Post Planner","type":"ai_outputParser","index":0}]]},"Create Folder":{"main":[[{"node":"Create Docs","type":"main","index":0}]]},"Create Docs":{"main":[[{"node":"Save Text to Docs","type":"main","index":0}]]},"Post Planner":{"main":[[{"node":"Check Output 1","type":"main","index":0}]]},"Setting":{"main":[[{"node":"Check Output","type":"main","index":0}]]},"Check Output 1":{"main":[[{"node":"Create Folder","type":"main","index":0}],[{"node":"Post Planner","type":"main","index":0}]]},"Check Output":{"main":[[{"node":"Post Planner","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cee33729-494d-4690-b87a-47eb08385b47","triggerCount":0,"tags":[]}