workflows/Create post SEO Mysite save Docs in GDrive.json
{"createdAt":"2025-04-08T21:52:29.428Z","updatedAt":"2025-04-09T03:17:31.000Z","id":"yRGDTuThold4meX3","name":"Create post SEO Mysite save Docs in GDrive","active":false,"nodes":[{"parameters":{"content":"Final confirmation to the user","height":80,"width":263,"color":7},"id":"361d7726-0da8-4417-b877-3a1d3dee8a99","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","position":[3500,3880],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-9040,600],"id":"468a88f9-106d-4428-be17-55dd46dd653a","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Create Post Planner').first().json.output.title }}\n- **Subtitle:** {{ $('Create Post Planner').first().json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $json.title }}\n- **Chapter Prompt:** {{ $json.prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\nWrite a detailed, cohesive chapter for an article based on the topic, subtitle, chapter title, and chapter prompt above. The chapter should flow naturally without segmenting the content into many short or shallow subtopics.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }} words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Internal Linking:**\n  - Review the list of blog URLs below:\n    ```\n    {{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Choose one URL that is relevant to the chapter content and embed it as an internal link with appropriate hyperlink text.\n  - Use each URL only once. If none are relevant, do not add any links.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-6560,-40],"id":"7e91755d-f055-4c29-8b21-15c7d19bcf5e","name":"Write chapter text"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7160,-140],"id":"a865a116-d1dc-4be5-a2b3-0814fe90ac67","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"deb6621e-982a-4e20-a1c1-1140be02cad3","name":"Website","value":"={{ $json.Website }}","type":"string"},{"id":"fdd24a9b-649b-4088-b085-da0be99f3d86","name":"Seed keyword","value":"={{ $json.Seed_keyword }}","type":"string"},{"id":"fe21222a-a352-4f5d-b2f6-b26fe9008c66","name":"Post","value":"={{ $json.Post }}","type":"string"},{"id":"2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8","name":"Target audience","value":"={{ $json.Target_audience }}","type":"string"},{"id":"0dafb0ac-5735-4243-84cc-85e787697892","name":"Max word count","value":"={{ $json.Word_Count }}","type":"number"},{"id":"3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3","name":"Number of chapters","value":"={{ $json.Chapters }}","type":"number"},{"id":"191105bb-4f7e-4b4f-bab7-95fa1f858c43","name":"Introduction length","value":"={{ $json.Introduction_length }}","type":"number"},{"id":"d1368f97-9249-4bb6-9c5c-f3185b7ef9eb","name":"Conclusion length","value":"={{ $json.conclusion_length }}","type":"number"},{"id":"9579a7f2-1a4e-45b7-8cd7-ef249073798d","name":"style","value":"={{ $json.Style }}","type":"string"},{"id":"1575eee8-6b01-4d0f-8304-68d4d541f0f7","name":"Category ID","value":"={{ $json.Category_ID }}","type":"number"},{"id":"ae45f0c3-1ed6-4901-bf50-359ea3da33a9","name":"CTA","value":"={{ $json.CTA }}","type":"string"},{"id":"c71d3ccd-369d-4c50-8f57-1cb693af14be","name":"CTA URL","value":"={{ $json.CTA_URL }}","type":"string"},{"id":"f6e4ce2b-6d29-4ca8-9b91-6236701d71b5","name":"Company Offering","value":"={{ $json.Company_offering }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10100,200],"id":"dfacf065-aad5-49d0-98be-a05558143c84","name":"Settings"},{"parameters":{"content":"## Settings","height":431,"width":567,"color":2},"id":"5c8e7a4b-3978-4f84-8136-83c42d1be14b","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-10180,80],"typeVersion":1},{"parameters":{"content":"## Create Article structure\n","height":511,"width":787,"color":2},"id":"47b79766-75b9-4670-b57a-0f855fce90e9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-9500,280],"typeVersion":1},{"parameters":{"content":"## Generate text for each chapter\n","height":531,"width":1907,"color":2},"id":"46469a55-cb5c-482d-a05a-74315fbea828","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-7460,-200],"typeVersion":1},{"parameters":{"content":"## Combine and finalize the article\n","height":551,"width":1007,"color":2},"id":"5c37a057-63c3-441c-8d9a-a6354a4044df","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-6560,-780],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-5960,200],"id":"6c4e3513-eb0f-4962-a324-1610adde05ad","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.chapters","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-7320,60],"id":"f9c5f684-e131-4638-bed8-f6c9d6ef698f","name":"Split out chapters"},{"parameters":{"assignments":{"assignments":[{"id":"3db2a3a4-d89e-4848-835c-1d6ac68419ac","name":"chapter_title","value":"={{ $json.output.title }}","type":"string"},{"id":"25fbf572-7e57-4797-99ba-34fc1c8d560a","name":"chapter_content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6420,-700],"id":"fbc147fe-aa10-45bb-a180-307ecb842756","name":"Get title chapter and content"},{"parameters":{"mode":"combine","mergeByFields":{"values":[{}]},"options":{}},"id":"0d59a7df-7022-47a6-847b-d0ba592543d0","name":"Merge chapters title and text","type":"n8n-nodes-base.merge","position":[-6220,-700],"typeVersion":2.1},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.article }}","destinationKey":"article","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-6420,-460],"id":"f3cbdb4e-a167-421a-8f39-32062cbea8b1","name":"Markdown to HTML"},{"parameters":{"batchSize":"={{ $('Settings').item.json['Number of chapters'] }}","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6880,-140],"id":"074c4755-86aa-4927-b0a7-b54aa4f18e9a","name":"Loop Over Items1"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5760,-60],"id":"309f969b-2f2d-4bca-a966-de71d4ba723f","name":"Wait","webhookId":"6adbe5d8-f736-414c-80c9-d257e869d90d"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0","mode":"list","cachedResultName":"Auto_Post_SEO_to_MyWeb_v1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0/edit#gid=0"},"event":"rowAdded","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-10740,200],"id":"2aa500e9-eb3a-4996-afdc-4e1abdcd7788","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"FmO3WTWFRL3Ke6sP","name":"Google Sheets Trigger account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5e0892b-6f70-46d4-81fc-e33321dc87b9","leftValue":"={{ $json.Website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4b4c8d5-9acb-4b8d-be85-7cb70954da7d","leftValue":"={{ $json['Seed keyword'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"48f46993-3214-48b6-a7d1-54a23c0cad48","leftValue":"={{ $json['Target audience'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3","leftValue":"={{ $json['Max word count'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"4b177d23-d6e7-4444-8bbb-fe4d5064da03","leftValue":"={{ $json['Number of chapters'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"34b9e9d2-c5a3-4878-a12a-f5ad87b43efa","leftValue":"={{ $json['Introduction length'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"68969bc3-a14a-4459-95d3-7c6a0cb279ce","leftValue":"={{ $json['Conclusion length'] }}","rightValue":"","operator":{"type":"dateTime","operation":"notEmpty","singleValue":true}},{"id":"30633e71-924d-4f0f-9ea8-f2d4a119ae51","leftValue":"={{ $json.style }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"ecb3a6a6-a19a-40b5-8026-2b26cca361de","leftValue":"={{ $json['Category ID'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9820,200],"id":"b6ffd11b-377e-4619-bf6d-18966a1e5ed8","name":"Check inputs"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Final article in HTML').item.json.article }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-5800,-460],"id":"3f2a07c0-c19c-4398-989c-93f4d30cb15b","name":"Save texts to Doc","credentials":{"googleDocsOAuth2Api":{"id":"5SHJnEmObiSkX0L1","name":"Google Docs account"}}},{"parameters":{"folderId":"={{ $('Create Drive folder').first().json.id }}","title":"={{ $('Create Post Planner').first().json.output.title.replace(/ /g, \"_\") }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-6000,-460],"id":"e24e832e-eb87-4f27-9ce7-ce573fd4ba82","name":"Create Doc","credentials":{"googleDocsOAuth2Api":{"id":"5SHJnEmObiSkX0L1","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8cada260-4cd5-4470-8dba-139cec531ddc","name":"output","value":"={{ $('Create Post Planner').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7400,580],"id":"3f28ad0f-9d26-4c1d-82bc-1aa1b35997da","name":"Get output"},{"parameters":{"resource":"folder","name":"={{$('Check empty output').item.json.output.title.replace(/ /g, \"_\")}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Check Exist Drive Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-7940,500],"id":"f7a736f9-cd37-4b0f-af10-a5e4a165d807","name":"Create Drive folder","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd9e8fee-8386-4410-8cb4-5ef83c265d52","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5800,-700],"id":"eba55536-695c-4db2-a101-20cf94148223","name":"Final article in Markdown"},{"parameters":{"jsCode":"let article = \"\";\n\n// Introduction\narticle += $('Create Post Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final words\\n\\n\";\narticle += $('Create Post Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Create Post Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Create Post Planner').first().json.output.ctaUrl + \"](\" + $('Create Post Planner').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Create Post Planner').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"},"id":"f9471e33-f490-4624-b0c3-61089aa8c830","name":"Combine into article","type":"n8n-nodes-base.code","position":[-6000,-700],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-9380,600],"id":"5660e342-cb00-4b34-9af5-382767987fca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-6200,200],"id":"6436e4ee-34e7-431e-a898-5879ea8b20a4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-10400,200],"id":"855ee625-c16a-4625-bf43-289bc7a0b4d8","name":"Limit to the last row","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f85e6d76-179d-4fa8-ac9b-d0ae849c2d83","leftValue":"{{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8900,400],"id":"c517c6e9-b835-4981-971e-72ba38ed0b65","name":"Check empty output"},{"parameters":{"assignments":{"assignments":[{"id":"b6877f11-541d-4ac5-8556-f10374322f2a","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6200,-460],"id":"230f62c2-67e4-4e3b-9d5e-c19477040b5c","name":"Final article in HTML"},{"parameters":{"conditions":{"boolean":[{"value1":"={{!!$item(0).$json[\"id\"]}}","value2":true}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-8380,560],"id":"e2d59d83-47c5-4758-86e2-b19b0668e49f"},{"parameters":{"resource":"folder","name":"={{ $('Input form').item.json.Website }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82","mode":"list","cachedResultName":"DSDM_Posts","cachedResultUrl":"https://drive.google.com/drive/folders/1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-8100,740],"id":"598c6012-007d-4f34-96fc-1d1e033482d7","name":"Create Parent Drive folder","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","operation":"list","queryFilters":{"mimeType":[{"mimeType":"application/vnd.google-apps.folder"}],"name":[{"value":"={{ $('Input form').item.json.Website }}"}]},"options":{}},"name":"Check Exist Drive Folder","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[-8560,560],"alwaysOutputData":true,"id":"d9cd9f5b-a47d-4033-9204-527e99e12f21","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"content":"## Check exitst parent folder, if no will create\n","height":531,"width":1547,"color":2},"id":"e070e340-ac2a-44c7-a279-430f5907ebef","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-8640,420],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d80d93de-a946-4405-acf6-f879291b27be","leftValue":"={{ $('Google Sheets Trigger').item.json.Chapters }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6080,-40],"id":"69710863-251e-478c-a9f4-483e3f584367","name":"If"},{"parameters":{"formTitle":"Nhập thông tin","formFields":{"values":[{"fieldLabel":"Website","fieldType":"dropdown","fieldOptions":{"values":[{"option":"dacsanmuicamau.com"},{"option":"tomkhocamau.net"},{"option":"cakhocamau.com"},{"option":"dacsandatmui.com"}]},"requiredField":true},{"fieldLabel":"Seed_KW","placeholder":"Nhập chủ đề cần viết","requiredField":true},{"fieldLabel":"Target_Audience","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Tôm khô, cá khô, mực khô"},{"option":"đặc sản vùng miền"}]},"requiredField":true},{"fieldLabel":"Word_Count","fieldType":"number","placeholder":"Số từ/chương","requiredField":true},{"fieldLabel":"Chapters","fieldType":"dropdown","fieldOptions":{"values":[{"option":"1"},{"option":"2"},{"option":"3"},{"option":"4"},{"option":"5"}]},"requiredField":true},{"fieldLabel":"Intro_Len","fieldType":"dropdown","fieldOptions":{"values":[{"option":"100"},{"option":"156"}]},"requiredField":true},{"fieldLabel":"Conclusion_Len","fieldType":"dropdown","fieldOptions":{"values":[{"option":"100"},{"option":"156"}]},"requiredField":true},{"fieldLabel":"Writing_Style","fieldType":"textarea","placeholder":"Phong cách viết"},{"fieldLabel":"Cate_ID","fieldType":"number","placeholder":"Mục bài viết"},{"fieldLabel":"Image","fieldType":"file","acceptFileTypes":".jpg, .png"},{"fieldLabel":"CTA","placeholder":"Lời kêu gọi mua hàng"},{"fieldLabel":"CTA_URL","placeholder":"Link mua hàng"},{"fieldLabel":"Company_Offering","placeholder":"Ưu đãi"}]},"options":{"buttonLabel":"Xác nhận"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-10080,720],"id":"3d20d9e9-3e54-4bd4-baf7-d7e62b0bcb87","name":"Input form","webhookId":"a93d1f5d-6b09-48e8-9548-6ea313a34f4a"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0","mode":"list","cachedResultName":"Auto_Post_SEO_to_MyWeb_v1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10nR5TzDEA21AHXgDvXFUggMz7CqZKu3OBH4YR1ONAb0/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seed_keyword","displayName":"Seed_keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subHeading1","displayName":"subHeading1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subHeading2","displayName":"subHeading2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subHeading3","displayName":"subHeading3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subHeading4","displayName":"subHeading4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subHeading5","displayName":"subHeading5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL_Image","displayName":"URL_Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL_Image1","displayName":"URL_Image1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL_Image2","displayName":"URL_Image2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL_Image3","displayName":"URL_Image3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL_Image4","displayName":"URL_Image4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL_Image5","displayName":"URL_Image5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target_audience","displayName":"Target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Word_Count","displayName":"Word_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chapters","displayName":"Chapters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Introduction_length","displayName":"Introduction_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conclusion_length","displayName":"conclusion_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Style","displayName":"Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category_ID","displayName":"Category_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CTA","displayName":"CTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CTA_URL","displayName":"CTA_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company_offering","displayName":"Company_offering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"formMode","displayName":"formMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-9840,720],"id":"c7254386-b840-4eba-ab48-95dc63da17de","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"operation":"completion","respondWith":"redirect","redirectUrl":"=https://yourUrl.com/form/4dbcec5b-b2d8-4a38-946a-38056a70904b?business name={{ $json.businessName }}"},"type":"n8n-nodes-base.form","typeVersion":1,"position":[-9640,1520],"id":"4b6b62e0-2646-4b00-aef8-48718c756a11","name":"Form","webhookId":"4431511b-b017-4e8f-aab3-a65452514fc3"},{"parameters":{"content":"## Input form to create post SEO","height":360,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10180,600],"id":"708f6c47-e77b-452c-85c1-2b1ac3aede28","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"=## Instructions\nViết 1 bài về {{ $json['Seed_KW'] }} cho đối tượng đọc giả là người thích {{ $json['Target_Audience'] }} theo phong cách {{ $json.Writing_Style }}. Bài viết này có {{ $json['Chapters'] }} chương tối đa {{ $json['Word_Count'] }} từ. \n\n### Title and Subtitle\nViết một **tiêu đề hấp dẫn** và một **tiêu đề phụ ngắn gọn** phản ánh chủ đề.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Intro_Len'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\nViết phần giới thiệu dài khoảng **{{ $json['Intro_Len'] }} từ** để giới thiệu chủ đề và đặt nền tảng cho phần còn lại của bài viết.\n\n- **Tránh những cụm từ** giống như:\n  - \"Trong bài viết này\"\n  - \"Trong thế giới hối hả\"\n  - \"Biến đổi\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** from {{ $json['Seed_KW'] }}:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nDựa vào nội dung của bài viết:\n\n- Tối đa **156 ký tự**.\n- Sử dụng **giọng nói chủ động** và làm cho nó **có thể hành động**.\n- Có chứa {{ $json['Seed_KW'] }}\n\n### Chapters\nTạo nội dung chương chi tiết:\n\n- **Cấu trúc**:\n- Cung cấp tiêu đề và **lời nhắc đầy đủ** cho mỗi chương.\n- Đặt các chương vào một trường mảng có tên là **các chương**, với các trường:\n- `title`\n- `prompt`\n- `image`\n- Đảm bảo **luồng logic** giữa các chương mà không lặp lại các khái niệm.\n- Tránh các tiêu đề chung chung như \"Chương 1\", \"Chương 2\", v.v.; hãy sử dụng **tiêu đề mô tả**.\n\n- **Định dạng Markdown**:\n- Sử dụng các kiểu **in đậm**, *in nghiêng* và _gạch chân_ khi thích hợp.\n- Bao gồm **danh sách** và **danh sách được đánh số** khi cần.\n\n- **Chi tiết hình ảnh** cho mỗi chương:\n- **Lời nhắc hình ảnh**: Mô tả sống động và chi tiết về hình ảnh.\n- **Tên tệp**: Tên tệp mô tả cho hình ảnh (không có phần mở rộng).\n- **Chú thích**: Tóm tắt ngắn gọn về nội dung hình ảnh.\n- **Văn bản thay thế**: Mô tả hình ảnh tập trung vào khả năng truy cập.\n\n### Conclusion\nViết phần kết luận dài **{{ $json['Conclusion_Len'] }} từ** tóm tắt lại bài viết và cung cấp cho người đọc thông tin cuối cùng.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: Cuối bài viết, hãy đưa vào một thông điệp kêu gọi hành động hấp dẫn thúc đẩy người đọc thực hiện bước tiếp theo: \n- **URL CTA**: Cung cấp URL cho CTA: {{ $('Input form').item.json.CTA }}\n- **Dịch vụ của công ty**: Đưa vào mô tả chi tiết về dịch vụ của công ty: {{ $('Input form').item.json['Company_Offering'] }}\n\n---\n\n## Image Details for Article Cover\nBài viết phải bao gồm **đối tượng hình ảnh nổi bật** với các trường sau:\n\n- **Lời nhắc hình ảnh**: Mô tả sống động và chi tiết về hình ảnh phản ánh nội dung và cảm xúc của bài viết.\n- **Tên tệp**: Tên tệp mô tả cho ảnh bìa (không có phần mở rộng).\n- **Chú thích**: Tóm tắt ngắn gọn về nội dung ảnh bìa.\n- **Văn bản thay thế**: Mô tả tập trung vào khả năng truy cập của ảnh bìa.\n\n**Requirements** for the Cover Image:\n- **Tỷ lệ khung hình**: 16:9\n- Phải **có liên quan** đến nội dung và cảm xúc của bài viết.\n- Chứa **chi tiết phong phú** và phản ánh nội dung văn bản theo **phong cách chân thực như ảnh**.\n- Loại trừ bất kỳ văn bản nào khác ngoài lời nhắc DALL-E 3.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-9360,400],"id":"dcf3d45d-d36b-4885-be68-503dd3b6da45","name":"Create Post Planner","alwaysOutputData":false},{"parameters":{"resource":"folder","name":"={{$('Check empty output').item.json.output.title.replace(/ /g, \"_\")}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Check Exist Drive Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-7780,740],"id":"1088619a-cea0-4466-870d-a5e1f15b9b0e","name":"Create Drive folder1","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}}],"connections":{"Structured Output Parser2":{"ai_outputParser":[[{"node":"Create Post Planner","type":"ai_outputParser","index":0}]]},"Write chapter text":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Check inputs","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Write chapter text","type":"ai_outputParser","index":0}]]},"Split out chapters":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get title chapter and content":{"main":[[{"node":"Merge chapters title and text","type":"main","index":0}]]},"Merge chapters title and text":{"main":[[{"node":"Combine into article","type":"main","index":0}]]},"Markdown to HTML":{"main":[[{"node":"Final article in HTML","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get title chapter and content","type":"main","index":0}],[{"node":"Write chapter text","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Limit to the last row","type":"main","index":0}]]},"Check inputs":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"Save texts to Doc","type":"main","index":0}]]},"Get output":{"main":[[{"node":"Split out chapters","type":"main","index":0}]]},"Create Drive folder":{"main":[[{"node":"Get output","type":"main","index":0}]]},"Final article in Markdown":{"main":[[{"node":"Markdown to HTML","type":"main","index":0}]]},"Combine into article":{"main":[[{"node":"Final article in Markdown","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Create Post Planner","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Write chapter text","type":"ai_languageModel","index":0}]]},"Limit to the last row":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Check empty output":{"main":[[{"node":"Check Exist Drive Folder","type":"main","index":0}],[{"node":"Create Post Planner","type":"main","index":0}]]},"Final article in HTML":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Save texts to Doc":{"main":[[]]},"IF":{"main":[[{"node":"Create Drive folder","type":"main","index":0}],[{"node":"Create Parent Drive folder","type":"main","index":0}]]},"Create Parent Drive folder":{"main":[[{"node":"Create Drive folder1","type":"main","index":0}]]},"Check Exist Drive Folder":{"main":[[{"node":"IF","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Input form":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Create Post Planner","type":"main","index":0}]]},"Create Post Planner":{"main":[[{"node":"Check empty output","type":"main","index":0}]]},"Create Drive folder1":{"main":[[{"node":"Get output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e05d422-2f27-421c-b67b-2a1db3080db6","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:04:54.631Z","updatedAt":"2025-04-03T03:04:54.631Z","id":"08VlwlFaB1lTAFMn","name":"OpenAI"},{"createdAt":"2025-04-03T03:04:54.608Z","updatedAt":"2025-04-03T03:04:54.608Z","id":"NGzPEh36t8faxqM6","name":"AI"},{"createdAt":"2025-04-03T03:04:54.657Z","updatedAt":"2025-04-03T03:04:54.657Z","id":"fBcNH6Q0E5X8FWRR","name":"WordPress"}]}