workflows/Create img Save Drive.json
{"createdAt":"2025-03-29T01:38:59.251Z","updatedAt":"2025-03-29T01:48:06.000Z","id":"dCjyBSYsYnR7GBmg","name":"Create img Save Drive","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","unit":"minutes"}]},"documentId":{"__rl":true,"value":"1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA","mode":"list","cachedResultName":"Posts Auto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wNREfJN_6ST5PSCS6_MbJhHdFyXkEkSjtyN2kiIaXdA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1240,100],"id":"fc59a9f3-144f-44cc-b34e-bbea0d114ed7","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"9rPiGqvvXy43D8SE","name":"Google Sheets Trigger account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1020,100],"id":"2f2dd2d0-fd58-4633-b881-47b91027193f","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"0f17c9d9-ed15-4b75-a81d-ccce65323b2a","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"bb53f0a5-0260-4df4-b541-13f41b646c4a","name":"Word_Count","value":"={{ $json.Word_Count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,100],"id":"9673517a-6e12-4e4e-8216-6a99cd9272f8","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f93c74a6-b4f9-4b8a-87a8-4d43c592d4e5","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,100],"id":"fd23fb57-893a-488d-82cc-31c5f9b53822","name":"If"},{"parameters":{"resource":"folder","name":"={{ $json.output.title}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82","mode":"list","cachedResultName":"DSDM_Posts","cachedResultUrl":"https://drive.google.com/drive/folders/1SgWu_jHIXLXaDi15LBM3gEJ2bbzOAL82"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"id":"f6f9563f-0153-46b6-a2b2-b88f2acbe697","name":"Create Folder","credentials":{"googleDriveOAuth2Api":{"id":"29ZRYd13XHCNschb","name":"Google Drive account"}}},{"parameters":{"resource":"image","prompt":"=tạo ảnh với chủ đề {{ $json.Key }} chỉ có đồ vật không có con người","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-580,100],"id":"638f6e79-13e3-4a21-9d94-1bb1c2b93bb1","name":"OpenAI","credentials":{"openAiApi":{"id":"AbppeeKoJlW8Ucbi","name":"OpenAi account"}}},{"parameters":{"name":"={{ $json.output.title}}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[500,20],"id":"7716acf1-1afc-48f1-addd-2518b59dd0a5","name":"Upload images to Drive","credentials":{"googleDriveOAuth2Api":{"id":"29ZRYd13XHCNschb","name":"Google Drive account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Folder","type":"main","index":0}]]},"Create Folder":{"main":[[{"node":"Upload images to Drive","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56e85edc-f211-489e-896c-1c341ac406b1","triggerCount":0,"tags":[]}