workflows/Create or update a post in WordPress.json
{"createdAt":"2025-04-06T15:15:22.200Z","updatedAt":"2025-04-06T15:15:22.200Z","id":"Mzf6yi5yK7gXbg7e","name":"Create or update a post in WordPress","active":false,"nodes":[{"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"parameters":{},"typeVersion":1,"id":"50a216e0-3121-40a0-88f8-f37895b17a79"},{"name":"Wordpress","type":"n8n-nodes-base.wordpress","position":[580,240],"parameters":{"title":"created from n8n","additionalFields":{}},"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}},"typeVersion":1,"id":"d8a8b9b3-4d1d-4b32-911b-1274b1c82bf7"},{"name":"Wordpress1","type":"n8n-nodes-base.wordpress","position":[780,240],"parameters":{"postId":"={{$node[\"Wordpress\"].json[\"id\"]}}","operation":"update","updateFields":{"content":"This post was created using the n8n workflow."}},"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}},"typeVersion":1,"id":"d729d411-549b-4df4-84c8-4b2372a44f89"}],"connections":{"Wordpress":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Wordpress","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":{"templateId":"668"},"pinData":null,"versionId":"51a2a25d-af2b-45e0-be5c-cbb9d442ef4c","triggerCount":0,"tags":[]}