workflows/Cập nhật giá vàng.json
{"createdAt":"2025-04-25T14:32:50.137Z","updatedAt":"2025-04-29T02:24:12.000Z","id":"2hvGuuMzQbcW0Y0y","name":"Cập nhật giá vàng","active":true,"nodes":[{"parameters":{"url":"http://giavang.doji.vn/api/giavang/?api_key=258fbd2a72ce8481089d88c678e9fe4f","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,0],"id":"30471f7e-7c1f-44e1-a5b6-cc57d79e9fda","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[400,0],"id":"bf7cc878-1015-46f6-925e-2a305b634989","name":"XML"},{"parameters":{"chatId":"-4700114157","text":"={{\"<b>\"}}GIÁ VÀNG CHỈ 24k DOJI:{{\"</b>\"}} {{\"\\n<b>>\"}}Bán{{\"</b>\"}}  {{ $json.Sell }} ({{ $json['Sell change'] }}%) {{\"\\n<b>>\"}}Mua{{\"</b>\"}} {{ $json.Buy }} ({{ $json['Buy change'] }}%) {{\"\\n<i>\"}}Cập nhật lúc {{ $json['Update time'] }}{{\"</i>\"}}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,-380],"id":"08c859db-3416-4781-b640-707edf513e13","name":"Telegram","webhookId":"7c637fcb-db90-4fd7-a91b-d24f8acba6db","credentials":{"telegramApi":{"id":"ftcQBjlzcoHEvGOQ","name":"Telegram giavangdollar"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,0],"id":"867ba7d3-c1be-4a84-ac8d-0daa00dce23e","name":"Schedule Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g","mode":"list","cachedResultName":"Giá vàng","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Update time":"={{ $('XML').item.json.GoldList.IGPList.DateTime }}","Received time":"={{$now.format('hh:mm dd/MM/yyyy')}}","Sell":"={{ $('Convert Value to Number').item.json.Sell }}","Buy":"={{ $('Convert Value to Number').item.json.Buy }}","Sell change":"={{ $json.schange }}","Buy change":"={{ $json.bchange }}"},"matchingColumns":[],"schema":[{"id":"Received time","displayName":"Received time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Update time","displayName":"Update time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sell","displayName":"Sell","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Buy","displayName":"Buy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sell change","displayName":"Sell change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Buy change","displayName":"Buy change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1900,-200],"id":"38e1b1ca-8b30-4324-bb71-45fe67f1c2ad","name":"Add new row","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g","mode":"list","cachedResultName":"Giá vàng","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xK6hwea8-zWOqQJBYFcGv2WO0pRJsbejW3eNrZjZL_g/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,0],"id":"350fd423-9c83-44e2-a868-eaf8a8198c28","name":"Get last row","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccef3b73-a67d-4412-92d2-9a731cb69d57","leftValue":"={{ $('Convert Value to Number').item.json.Sell }}","rightValue":"={{ $json.Sell }}","operator":{"type":"number","operation":"notEquals"}},{"id":"a4d540be-4168-4cc9-b76a-e31e1c9c84d5","leftValue":"={{ $('Convert Value to Number').item.json.Buy }}","rightValue":"={{ $json.Buy}}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,0],"id":"ab7cfd4d-9cf5-4c03-8574-7b3dabe2ea8d","name":"Check change value","executeOnce":false},{"parameters":{"jsCode":"nsell = $('Convert Value to Number').first().json.Sell\nosell = $('Get Last Row').first().json.Sell\nschange = (nsell - osell)/osell*100\nschange = schange.toFixed(2);\nnbuy = $('Convert Value to Number').first().json.Buy\nobuy = $('Get Last Row').first().json.Buy\nbchange = (nbuy - obuy)/obuy*100\nbchange = bchange.toFixed(2);\nreturn {schange,bchange}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,-120],"id":"a51f7e9a-0d96-4ede-bff6-1b3169069e94","name":"Get Change Value"},{"parameters":{"jsCode":"var arritem = $input.last()\nreturn [arritem]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,0],"id":"339888ea-d007-4a50-9798-c33bd30dea01","name":"Get Last Row"},{"parameters":{"assignments":{"assignments":[{"id":"c8b68b2a-214b-4c89-bb37-f9ab488c742d","name":"Sell","value":"={{ $json.GoldList.JewelryList.Row[3].Sell.replace(',','')*1000 }}","type":"number"},{"id":"a9d877d3-995c-4695-a527-afe155789b3b","name":"Buy","value":"={{ $json.GoldList.JewelryList.Row[3].Buy.replace(',','')*1000 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"fe14234d-4362-4b16-9677-596b77090739","name":"Convert Value to Number"},{"parameters":{"chatId":"-4700114157","text":"=Giá vàng chỉ 24k Doji: lỗi không lấy được dữ liệu","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,200],"id":"42db4252-f16b-4080-8eb7-26d3176cc0d5","name":"Telegram Fail Get","webhookId":"7c637fcb-db90-4fd7-a91b-d24f8acba6db","credentials":{"telegramApi":{"id":"ftcQBjlzcoHEvGOQ","name":"Telegram giavangdollar"}}},{"parameters":{"chatId":"-4700114157","text":"=Giá vàng chỉ 24k Doji: không biến động","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,220],"id":"304c3e61-4109-4423-9d79-60af8e780029","name":"Telegram noChange","webhookId":"7c637fcb-db90-4fd7-a91b-d24f8acba6db","credentials":{"telegramApi":{"id":"ftcQBjlzcoHEvGOQ","name":"Telegram giavangdollar"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[660,200],"id":"ab1e7bdc-46a6-462f-aab8-1e66ab55a501","name":"Wait","webhookId":"9a554c90-2b42-4e5b-a173-e4a74a44b813"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction myVND(moneyval){\n  return new Intl.NumberFormat(\n    'vi-VN', { style: 'currency', currency: 'VND' }\n  ).format(moneyval)\n}\nfor (const item of $input.all()) {\n  item.json.Sell = myVND(item.json.Sell)\n  item.json.Buy = myVND(item.json.Buy)\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,-200],"id":"e54b420b-3660-48e8-9fa8-375173599244","name":"Code"},{"parameters":{"threadId":"4641679337853475819","message":"=Giá vàng chỉ 24k Doji: bán  {{ $json.Sell }}({{ $json['Sell change'] }}%) mua {{ $json.Buy }}({{ $json['Buy change'] }}%) được cập nhật lúc {{ $json['Update time'] }}"},"type":"n8n-nodes-zalo-tools.zaloSendMessage","typeVersion":3,"position":[2320,-100],"id":"73ae94b6-5c6d-4931-8349-41de06c76f0d","name":"Zalo Send Message","credentials":{"zaloApi":{"id":"jyDCT4KLnliRcbAx","name":"Zalo API Credentials"}}}],"connections":{"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}],[{"node":"Telegram Fail Get","type":"main","index":0}]]},"XML":{"main":[[{"node":"Convert Value to Number","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Add new row":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get last row":{"main":[[{"node":"Get Last Row","type":"main","index":0}]]},"Check change value":{"main":[[{"node":"Get Change Value","type":"main","index":0}],[]]},"Get Change Value":{"main":[[{"node":"Add new row","type":"main","index":0}]]},"Get Last Row":{"main":[[{"node":"Check change value","type":"main","index":0}]]},"Convert Value to Number":{"main":[[{"node":"Get last row","type":"main","index":0}]]},"Telegram Fail Get":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0},{"node":"Zalo Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[10]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbb99698-917e-4731-bdf6-286e68146f55","triggerCount":1,"tags":[]}