workflows/Get Google Search Results (SERPs) for SEO Report Tele.json
{"createdAt":"2025-04-11T02:42:01.288Z","updatedAt":"2025-04-11T23:14:03.000Z","id":"lGrYZaMtPZ7z3uyD","name":"Get Google Search Results (SERPs) for SEO Report Tele","active":false,"nodes":[{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,720],"id":"1ba50d79-3977-4ee9-9f82-af07d483c1d5","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1880,820],"id":"b3731b72-a4a8-4716-8503-5f0f14c1d7a9","name":"Telegram Trigger","webhookId":"230886ff-252d-486d-8f59-790315f66ae7","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"de7c0fe2-5684-4606-bee3-556ef512b1fa","name":"keyword","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,820],"id":"20b2a817-e589-454e-9258-118ac12ca049","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":3,"batchInterval":2000}}}},"id":"99a8a70d-877e-409b-9f04-7259c5edb856","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[-1040,820],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"NBxiDUqZyepqJCdr","name":"ScrapingRobot Query Auth "}},"notes":"SERP results - scrapingRobot\n\nhttps://dashboard.scrapingrobot.com/dashboard"},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"},{"id":"ac655bf2-181f-4117-a7d6-aa4ec2738bd9","name":"peopleAlsoAsk","type":"array","value":"={{ $json.result.peopleAlsoAsk }}"},{"id":"9e045f00-006e-4b8b-863d-cb25d682b69d","name":"searchQuery","type":"string","value":"={{ $json.result.searchQuery.term }}"},{"id":"08c1f92b-deac-4951-863f-721e0714739b","name":"paidAds","type":"string","value":"={{ $json.result.paidResults }}"}]},"options":{}},"id":"9721f035-ad0b-451e-b405-fb82129b9ccf","name":"SERP results","type":"n8n-nodes-base.set","position":[-820,820],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"ae600e2f-2e6a-4702-a77f-5a92cbba8ff7","name":"Separate","type":"n8n-nodes-base.splitOut","position":[-660,820],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"aea1ba14-44f2-4b7b-8342-80b20b3d411d","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[-480,820],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"28a82569-ef2c-48b9-abfe-f3aff84be7a2","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[-300,820],"typeVersion":3.4},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"0a17806e-f847-415d-99c8-c3e51cde06b7","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[-100,820],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"fieldToSplitOut":"keyword","options":{}},"id":"fa332579-a625-490c-9d24-f097599c5fe8","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[-1220,820],"typeVersion":1},{"parameters":{"jsCode":"let keyword = $input.first().json.keyword.split(',')\nreturn {keyword:keyword}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,820],"id":"de985f97-de66-45ed-b823-f860b7a93ea9","name":"Convert text to Array"},{"parameters":{"chatId":"-4618273186","text":"={{ $json.messages }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,900],"id":"06f563dd-1511-42c0-a755-3c71836a6b4c","name":"Telegram","webhookId":"644c14af-75d7-43eb-a7a0-057a0beb2fb1","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[120,720],"id":"2caf361c-6603-4ae4-97ed-12c223f5d3a0","name":"Convert to File"},{"parameters":{"jsCode":"let messages =\"\";\nfor (const item of $input.all()) {\n  messages += item.json.position+\". \"+item.json.url + \"\\n\";\n}\n\nreturn {messages:messages}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,980],"id":"87829506-9699-456c-b28a-c86747f85090","name":"Output Structure"},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=Báo cáo kết quả tìm kiếm từ khóa {{ $('Edit Fields').item.json.keyword }} ngày {{ $now.format('dd-MM-yyyy HH:mm:ii') }}","message":"={{ $json.messages }}","options":{"appendAttribution":false,"senderName":"From N8N Report"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[320,1100],"id":"9a78585d-5b0e-4c11-9141-b9fea27049d6","name":"Gmail","webhookId":"cd794aae-add2-4171-921a-16a453a341cd","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}}],"connections":{"Google Drive":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert text to Array","type":"main","index":0}]]},"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Output Structure","type":"main","index":0},{"node":"Convert to File","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"GET SERP","type":"main","index":0}]]},"Convert text to Array":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Output Structure":{"main":[[{"node":"Telegram","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"50b0e92a-06f4-4404-b693-b2269e67d6d7","triggerCount":1,"tags":[]}