workflows/Get Google Search Results (SERPs) for SEO Research.json
{"createdAt":"2025-04-09T01:45:45.710Z","updatedAt":"2025-04-11T02:27:23.000Z","id":"3tKNAF8yfitVZG3G","name":"Get Google Search Results (SERPs) for SEO Research","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"},{"id":"ac655bf2-181f-4117-a7d6-aa4ec2738bd9","name":"peopleAlsoAsk","type":"array","value":"={{ $json.result.peopleAlsoAsk }}"},{"id":"9e045f00-006e-4b8b-863d-cb25d682b69d","name":"searchQuery","type":"string","value":"={{ $json.result.searchQuery.term }}"},{"id":"08c1f92b-deac-4951-863f-721e0714739b","name":"paidAds","type":"string","value":"={{ $json.result.paidResults }}"}]},"options":{}},"id":"92aae60e-5fcd-4588-9a41-92e7c1b7f2ff","name":"SERP results","type":"n8n-nodes-base.set","position":[2440,640],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"e8a7a918-7afd-4c2b-8b79-1c5652362a53","name":"Separate","type":"n8n-nodes-base.splitOut","position":[2600,640],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}]},"options":{}},"id":"e2683fec-1a04-47ff-82b9-11749921a34c","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[2780,640],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"e2a21776-86f4-4c99-973c-19e5ede4eab3","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[3160,640],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com.vn\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":10}}}},"id":"34a38c07-6439-4177-a12a-a2f6295cd914","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[2260,640],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"NBxiDUqZyepqJCdr","name":"ScrapingRobot Query Auth "}},"notes":"SERP results - scrapingRobot\n\nhttps://dashboard.scrapingrobot.com/dashboard"},{"parameters":{"content":"**Update record in own Database**","height":223.71949738241096,"width":231.51775697271012,"color":7},"id":"e7e3ce78-a8ec-45e2-9fb9-c4f615085985","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","position":[3120,580],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"92922d26-3e68-47dd-94eb-b6be13161efe","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[2960,640],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"keyword","options":{}},"id":"53d835d0-d656-4255-abe2-b4bfb23f455e","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[2000,640],"typeVersion":1},{"parameters":{"content":"## Get Google Search Results (SERPs) for SEO Research\n\n## Use Case\nResearch search engine rankings for SEO analysis:\n- You need to track keyword rankings for your website\n- You want to analyze competitor positions in search results\n- You need data for SEO competition analysis\n- You want to monitor SERP changes over time\n\n## What this Workflow Does\nThe workflow uses ScrapingRobot API to fetch Google search results:\n- Retrieves SERP data for your target keywords\n- Captures URL rankings and page titles\n- Processes up to 5000 searches with free account\n- Organizes results for SEO analysis\n\n## Setup\n1. Create a [ScrapingRobot account](https://billing.scrapingrobot.com/aff.php?aff=2) and get your API key\n2. Add your ScrapingRobot API key to the HTTP Request node's `GET SERP` token parameter\n3. Either connect your keyword database (column name \"Keyword\") or use the \"Set Keywords\" node\n4. Configure your preferred output database connection\n\n## How to Adjust it to Your Needs\n- Modify keyword source to pull from different databases\n- Adjust the number of SERP results to capture\n- Customize output format for your reporting needs\n\n\nMade by Simon @ [automake.io](https://automake.io)","height":735.4043641289052,"width":697.67602815855,"color":4},"id":"6b2bf27e-de9b-41da-9f27-17a6541fd2f9","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"formTitle":"SERP","formFields":{"values":[{"fieldLabel":"keyword","placeholder":"Nhập từ khóa"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[1520,640],"id":"943b9ef0-0b02-472d-b222-fb30ffd0768f","name":"On form submission","webhookId":"9b41a0b2-9f17-41e7-93df-c0a8fcea0ae3"},{"parameters":{"jsCode":"let keyword = $input.first().json.keyword.split(',')\nreturn {keyword:keyword}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,640],"id":"5d553935-c327-4967-99ac-0bf66238674a","name":"Code"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3380,640],"id":"96c0576f-e03c-4205-a419-c5ba048a6602","name":"Convert to File"},{"parameters":{"name":"={{ $('Split out Keywords').item.json.keyword }}_rank_{{ $now.format('yyyy_MM_dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3600,640],"id":"b999f100-af81-4333-a94a-d26c8ea6688b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}}],"connections":{"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"GET SERP","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2475","templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ce789dc-9dc5-44c5-8f7b-c1ed3a61cb16","triggerCount":0,"tags":[]}