workflows/Monitor website Uptime Kuma.json
{"createdAt":"2025-04-20T17:18:08.864Z","updatedAt":"2025-04-21T08:20:21.000Z","id":"HHwNIloH3gokTSm9","name":"Monitor website Uptime Kuma","active":true,"nodes":[{"parameters":{"multipleMethods":true,"path":"uptime-kuma","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,0],"id":"fc35dad2-4716-488c-946d-b1ea88b9afd2","name":"Webhook","webhookId":"77298bc1-2eae-4813-ac37-f03ddf9db322"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-100,180],"id":"cb3bee36-1c36-4b8f-8d02-910f2239ccce","name":"Respond to Webhook"},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=Monitor from {{$json.body.monitor.url}}","emailType":"text","message":"={{$json.body.msg}}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[120,180],"id":"fce766c1-ab86-4cf8-90a0-736554596323","name":"Gmail","webhookId":"f22964f7-3294-4a6e-a07e-16ea2dbd868c","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}}],"connections":{"Webhook":{"main":[[],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f4b082e8-160f-4967-85c4-db994105a13c","triggerCount":1,"tags":[]}