workflows/Monitor SSL Epxired.json
{"createdAt":"2025-04-20T15:42:01.121Z","updatedAt":"2025-04-21T08:20:28.000Z","id":"aRUwYy0HuaZbKl8N","name":"Monitor SSL Epxired","active":true,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk","mode":"list","cachedResultName":"Monitor SSL website","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1931675776,"mode":"list","cachedResultName":"SSL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk/edit#gid=1931675776"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["url"],"schema":[{"id":"version","displayName":"version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"response_time_sec","displayName":"response_time_sec","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"RAW","handlingExtraData":"insertInNewColumn"}},"id":"d6861864-bb9a-4e46-9ce7-ea366b826d92","name":"URLs to Monitor","type":"n8n-nodes-base.googleSheets","position":[1180,600],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":5,"triggerAtHour":7}]}},"id":"968e4b8d-3568-4dcc-8e73-ec218f1313d9","name":"Weekly Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[440,880],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"value":"1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk","mode":"list","cachedResultName":"Monitor SSL website","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lists","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BxpZgTpEF0cG3liVtrSofnYV9WZSYbWltdZDqBgQiBk/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"id":"5199d8de-00ca-42f6-8e2f-40ccb5149891","name":"Fetch URLs","type":"n8n-nodes-base.googleSheets","position":[660,880],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"url":"=https://ssl-checker.io/api/v1/check/{{ $json[\"url\"].replace(/^https?:\\/\\//, \"\").replace(/\\/$/, \"\") }}","options":{}},"id":"2854e013-dc39-429e-91ed-3cb6e7522dd5","name":"Check SSL","type":"n8n-nodes-base.httpRequest","position":[900,880],"typeVersion":4.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ba53088b-3c74-44eb-a8f8-3c0239358b50","operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.result.cert_valid }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"invalid"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a02376b0-4712-4d78-9170-1ac9561805fd","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.result.days_left }}","rightValue":30}]},"renameOutput":true,"outputKey":"warning"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3a64a7c7-c78e-4aea-aedc-2accb93e476a","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.result.days_left }}","rightValue":60}]},"renameOutput":true,"outputKey":"notice"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"info"}},"id":"758b7a9c-97b3-4b2a-b832-5aaa82583818","name":"Switch","type":"n8n-nodes-base.switch","position":[1180,840],"typeVersion":3.2},{"parameters":{"chatId":"-4749851312","text":"=URGENT: SSL-certificate invalid, action required! - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","additionalFields":{"appendAttribution":false}},"id":"b9e070ca-3394-4776-8532-c6dd258eefa1","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1720,500],"webhookId":"44923247-9298-457e-bce8-391248f2e56c","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Q0gwW1wjnYVLp5zm","name":"Monitor web Bot"}}},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=INFO: SSL Expiry - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","emailType":"text","message":"=SSL Expiry - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","options":{"appendAttribution":false}},"id":"07685fed-500f-43b4-9292-1b138be7128a","name":"Send Notice","type":"n8n-nodes-base.gmail","position":[1500,1000],"webhookId":"039c4f5b-b91b-47b5-8dc2-49c003c18362","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=INFO: SSL Expiry check completed, took no further actions - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","emailType":"text","message":"=INFO: SSL Expiry check completed, took no further actions - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","options":{"appendAttribution":false}},"id":"91470f7e-d1b5-4ab7-b9ca-b1b225d0edf5","name":"Send Info","type":"n8n-nodes-base.gmail","position":[1500,1140],"webhookId":"a26a0c4e-2f58-494e-8432-c75aa5525a4c","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=WARNING: SSL Expiry within one month - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","emailType":"text","message":"=WARNING: SSL Expiry within one month - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","options":{"appendAttribution":false}},"id":"1c8be7b5-93f8-4e8a-b2b8-0df2a87cbd8a","name":"Send Warning","type":"n8n-nodes-base.gmail","position":[1500,840],"webhookId":"294e3ea0-dd8f-4ca5-a402-d4fcac22f24d","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"sendTo":"hoangthikd@gmail.com","subject":"=URGENT: SSL-certificate invalid, action required! - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","emailType":"text","message":"=WARNING: SSL Expiry within one month - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}","options":{"appendAttribution":false}},"id":"fddbe740-26cb-4639-a60c-00f188fb47b6","name":"Send Expired","type":"n8n-nodes-base.gmail","position":[1720,700],"webhookId":"d0c61174-323b-4fe8-84f8-185c2be18d33","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"jsCode":"var txt_tele = \"\"\nfor (const item of $input.all()) {\n  if (item.json.status=='error') \n    txt_tele += item.json.host+\" *đã hết hạn*\\n\"\n  else\n    txt_tele += item.json.host+\" còn *\"+ item.json.result.days_left+\"* ngày\\n\"\n}\nreturn {txt_tele:txt_tele}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1080],"id":"98ec251d-9b0f-495d-b5a9-19fb839923f4","name":"Code"},{"parameters":{"chatId":"-4749851312","text":"={{ $json.txt_tele }}","additionalFields":{"appendAttribution":false}},"id":"cefc230e-0f34-4ed3-b7aa-126589ddbd8d","name":"Telegram1","type":"n8n-nodes-base.telegram","position":[1500,1340],"webhookId":"44923247-9298-457e-bce8-391248f2e56c","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Q0gwW1wjnYVLp5zm","name":"Monitor web Bot"}}}],"connections":{"Switch":{"main":[[{"node":"Send Expired","type":"main","index":0},{"node":"Telegram","type":"main","index":0}],[{"node":"Send Warning","type":"main","index":0}],[{"node":"Send Notice","type":"main","index":0}],[{"node":"Send Info","type":"main","index":0}]]},"Check SSL":{"main":[[{"node":"Code","type":"main","index":0}]]},"Fetch URLs":{"main":[[{"node":"Check SSL","type":"main","index":0}]]},"Weekly Trigger":{"main":[[{"node":"Fetch URLs","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Weekly Trigger":{"recurrenceRules":[116]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b35dda7f-5cf1-4824-9e35-2e769143a1c1","triggerCount":1,"tags":[]}