workflows/My workflow 4.json
{"createdAt":"2025-04-06T16:51:25.204Z","updatedAt":"2025-04-06T16:51:25.204Z","id":"SXB5RmiQViTuubTh","name":"My workflow 4","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [\n      {\n        \"text\": \"{{ $('Content Creator').item.json.output.prompt }}. The image size is 1:1 (square)\"\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 1.4,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"text/plain\",\n    \"responseModalities\": [\"image\",\"text\"]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"09465ed2-a27a-4972-bea6-2206cd5da5ae","name":"generative"},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[0].inlineData.data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,0],"id":"77f6909a-5861-4017-b5a1-2bf998adfc77","name":"Convert to File"},{"parameters":{"name":"img","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"15eDpewVhbA5ePEXEoya1TjVhi-hAakNV","mode":"list","cachedResultName":"n8n_demo_gemini","cachedResultUrl":"https://drive.google.com/drive/folders/15eDpewVhbA5ePEXEoya1TjVhi-hAakNV"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,0],"id":"78581733-4fec-4f2e-8ad6-643d4cbc6bf5","name":"Google Drive"},{"parameters":{"documentId":{"__rl":true,"value":"17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow","mode":"list","cachedResultName":"Content Plan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"demo HITL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Ngày Đăng","lookupValue":"={{$now.plus(1,'days').format('yyyy-MM-dd')}}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1300,180],"id":"6c0e2c05-79b1-47c7-b585-7f0354f0efe7","name":"Google Sheets"},{"parameters":{"promptType":"define","text":"={{ $json['Nội dung'] }}","hasOutputParser":true,"options":{"systemMessage":"=## **Overview**:\nBạn là một AI tạo nội dung chuyên về anime. Dựa trên thông tin được cung cấp, hãy tạo ra nội dung hấp dẫn và lôi cuốn phù hợp để đăng tải lên Facebook. Nội dung cần phải thú vị, gây sự chú ý và khơi gợi cảm xúc của người hâm mộ anime, làm nổi bật những chủ đề và yếu tố thú vị của anime được đề cập.\n\nHãy viết một cách tự nhiên, không quá khách sáo hay rập khuôn. Sử dụng ngôn từ mạnh mẽ và hình ảnh sống động để thu hút người đọc. Đừng ngần ngại thể hiện cá tính và sự sáng tạo trong bài viết.\n\nNgoài ra, hãy tạo một prompt bằng tiếng Anh để có thể sử dụng cho việc tạo hình ảnh liên quan đến nội dung. Prompt này cần đủ mô tả để hướng dẫn AI tạo ra một hình ảnh đẹp mắt phù hợp với nội dung.\n\n\n## **Output Format**:\n- \"content\": Nội dung hấp dẫn cho bài đăng Facebook\n- \"prompt\": Descriptive prompt for AI image generation\n\n## **Lưu ý**:\n- \"content\" không chứa định dạng markdown như *, ** trong bài viết. Có thể dùng icon phù hợp để sinh động, nhưng tránh lạm dụng.\n- Content hãy viết một cách tự do và sáng tạo, tránh các cấu trúc an toàn hay quá cứng nhắc."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1100,180],"id":"6342ceed-4b2b-4255-9c81-bd27d7a1028d","name":"Content Creator"},{"parameters":{"jsonSchemaExample":"{\n\t\"content\": \"Tứ Hoàng là nhóm người cực mạnh trong truyện, thống trị Đại Hải Trình\",\n\t\"prompt\": \"Four Kingdom In One Piece\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1080,440],"id":"d69396e0-c631-4237-a821-a557a5d56a9e","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"62a68550-9180-4dbe-b25c-ba2bd778080f","name":"content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,180],"id":"575c1f26-80c4-487b-aa2d-2804d7bb902e","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-520,440],"id":"86ce1386-30ab-445d-b923-f3c93d146694","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"operation":"sendAndWait","chatId":"1364622834","message":"=Thân gửi bạn,\n\nDưới đây là content cho chủ đề: \"{{ $('Google Sheets').item.json['Nội dung'] }}\".\n\nBạn hãy xem qua và cho phản hồi.\n\n----------------------\n{{ $json.content }}\n","responseType":"freeText","options":{"messageButtonLabel":"Phản hồi","limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}},"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-580,20],"id":"11e8385d-687f-48aa-99dd-1cbebbda7179","name":"Telegram","webhookId":"666e6fa3-df37-482c-bb76-a73b5c4bca1d","credentials":{"telegramApi":{"id":"lu0w1n6X02Et3wgS","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1480,180],"id":"46bc2050-ec29-4666-876b-1d31f65cc4fc","name":"Schedule Trigger"},{"parameters":{"inputText":"={{ $json.data.text }}","categories":{"categories":[{"category":"approve","description":"=Phản hồi cho thấy người dùng đồng ý với nội dung content. Chứa các từ như \"oke\", \"đồng ý\", \"được rồi\" hoặc đồng nghĩa"},{"category":"revise","description":"=Phản hồi cho thấy người dùng yêu cầu chỉnh sửa"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-400,20],"id":"aa28e052-650c-433a-a1ca-25e8105ab8c4","name":"Text Classifier"},{"parameters":{"promptType":"define","text":"=Nội dung content:\n{{ $('Edit Fields').item.json.content }}\n\nYêu cầu điều chỉnh của người dùng:\n{{ $json.data.text }}\n","hasOutputParser":true,"options":{"systemMessage":"=## **Overview**:\nBạn hiện đang đóng vai trò là một AI chuyên sáng tạo nội dung về anime. Nhiệm vụ chính của bạn là tạo ra nội dung hấp dẫn, sống động và khơi gợi cảm xúc dành cho người hâm mộ anime, đặc biệt để đăng trên Facebook. Bạn đã cung cấp bản thảo đầu tiên dựa trên yêu cầu của người dùng, và bây giờ công việc của bạn là chỉnh sửa, hoàn thiện nội dung dựa trên phản hồi của họ.\n\n## **Nhiệm vụ**:\n- Bạn sẽ nhận được thông tin gồm content ban đầu và yêu cầu chỉnh sửa từ người dùng.\n- Phân tích kỹ phản hồi của người dùng để hiểu rõ họ thích gì, không thích gì hoặc muốn thay đổi điều gì (ví dụ: giọng điệu, phong cách, độ dài, các yếu tố cụ thể cần nhấn mạnh hoặc loại bỏ).\n- Giữ vững phong cách sáng tạo, tự nhiên và mạnh mẽ, tránh lối viết cứng nhắc hay quá an toàn, trừ khi người dùng yêu cầu cụ thể.\nĐiều chỉnh nội dung sao cho phù hợp hơn với mong muốn của họ, đồng thời vẫn giữ được sức hút và cảm xúc dành cho fan anime.\n\n## **Tiêu chuẩn output**:\n- \"content\": Nội dung đã được tinh chỉnh cho bài đăng Facebook, viết tự nhiên, không dùng định dạng markdown như *, **, có thể thêm icon nếu phù hợp nhưng không lạm dụng.\n- Không chứa các nội dung dư thừa khác."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-20,200],"id":"36987273-19e9-4a69-9b0b-f6ca74e07cf8","name":"Content Hiệu Chỉnh"},{"parameters":{"jsonSchemaExample":"{\n\t\"content\": \"Đây là content mới sau khi điều chỉnh\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[140,420],"id":"b3d21ba4-e7d3-4d87-aef4-82799adf9721","name":"New Structured Output"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow","mode":"list","cachedResultName":"Content Plan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"demo HITL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17H1qoVGJ7ADKzPAhI3sUUj_vQNSIEpN4TNLVQqAr9ow/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Prompt Ảnh":"={{ $('Content Creator').item.json.output.prompt }}","Content":"={{ $('Edit Fields').item.json.content }}","Link Hình Ảnh":"={{ $json.webViewLink }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nội dung","displayName":"Nội dung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ngày Đăng","displayName":"Ngày Đăng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Prompt Ảnh","displayName":"Prompt Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Hình Ảnh","displayName":"Link Hình Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,0],"id":"659c957d-51a7-477c-a1b0-f50d7240a6c2","name":"Update"}],"connections":{"generative":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Content Creator","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Content Creator","type":"ai_outputParser","index":0}]]},"Content Creator":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Content Creator","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Content Hiệu Chỉnh","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"generative","type":"main","index":0}],[{"node":"Content Hiệu Chỉnh","type":"main","index":0}]]},"New Structured Output":{"ai_outputParser":[[{"node":"Content Hiệu Chỉnh","type":"ai_outputParser","index":0}]]},"Content Hiệu Chỉnh":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f179f707-1cd6-4fff-ad28-b7645bb6ab59","triggerCount":0,"tags":[]}