workflows/My workflow 7.json
{"createdAt":"2025-04-17T14:33:10.142Z","updatedAt":"2025-04-17T17:08:07.000Z","id":"O8CuNmsFfq7knw55","name":"My workflow 7","active":true,"nodes":[{"parameters":{"multipleMethods":true,"path":"zalohoangthi","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"1d7737f1-4adf-4408-83da-c7a473ab176d","name":"Webhook","webhookId":"4b160e96-b0b0-4385-95e9-e73673f540d1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[700,-240],"id":"b97a292a-7eb4-4ace-bcf8-d0fe65d12e88","name":"Respond to Webhook"},{"parameters":{"url":"http://45.117.177.128:3000/sendmessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"username","value":"admin"},{"name":"password","value":"admin"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"Xin chào\",\n  \"threadId\": \"{{ $json.body.threadId }}\",\n  \"type\": \"0\",\n  \"ownId\": \"{{ $json.body._accountId }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,-60],"id":"e0ca81cd-8df4-430d-bb55-0aab3d45d985","name":"HTTP Request"},{"parameters":{"operation":"html","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1140,-40],"id":"b425b6b0-367d-4c62-a110-89ea7b88a23d","name":"Convert to File"},{"parameters":{"chatId":"-4618273186","text":"=from Zalo {{ $json.body.data.dName }}: {{ $json.body.data.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,100],"id":"aa2abd9a-a4b7-4264-8c96-4554005aaa2a","name":"Telegram","webhookId":"03fc26e6-e486-40e8-a8ad-aa5efab4ea11","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals"},"id":"e52a69ff-c3e6-49ba-9aed-0b0331b88504"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20b83b30-db63-4494-9fd6-cade71eb999a","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57086c96-14ba-4fa0-acc9-2b6f8246c722","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.video.msg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5d88a48-2b1e-4823-a759-3a0b9f9d3640","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[180,140],"id":"d9c9d15b-989d-49de-abcb-8f29a7da3510","name":"Switch"},{"parameters":{"operation":"sendPhoto","chatId":"-4618273186","file":"={{ $json.body.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,300],"id":"07e57629-0792-4980-b3a9-5f9d318babe6","name":"Telegram1","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a20624f9-42f9-4575-951b-813f54f457b6","triggerCount":2,"tags":[]}