workflows/My workflow 7.json
{"createdAt":"2025-04-24T01:46:12.978Z","updatedAt":"2025-04-26T07:29:53.000Z","id":"WYoORwnO2ihnAC7d","name":"My workflow 7","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT p.name, pt.tname as typename,pp.pname as package, pp.pprice as price, p.keyword, p.moredesc, p.detail\nFROM product p\nINNER JOIN product_type pt\nON p.id=pt.pid\nINNER JOIN product_property pp\nON pt.id=pp.ptid\nWHERE p.display='Y' AND p.status='store'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[660,140],"id":"62e7a0cb-d2cc-464b-bd0a-5ef24a1783d3","name":"MySQL","credentials":{"mySql":{"id":"HyDHx9fWtA6bNqyf","name":"MySQL account sinifood"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-760,-220],"id":"eb551701-dc2b-4b57-9b38-b0102c11d632","name":"Telegram Trigger","webhookId":"6d78d228-64bb-4d46-a89e-73e2723a3665","credentials":{"telegramApi":{"id":"iIaJHLu6A0bnsy99","name":"Tele sinifood_site"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1d7159b-e5c1-4cce-a39a-4d654d82105c","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-540,-220],"id":"bcbaf997-56a8-4985-910b-003e412e43bb","name":"Edit Fields"},{"parameters":{"jsCode":"var arr = $input.first().json.text.split(',')\narr['1'] = arr['1']*1000\narr['0'] = arr['0'].toUpperCase()\nreturn {arr:arr}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-220],"id":"5375a1aa-07b3-4fb0-b0da-904f12a260f8","name":"Code"},{"parameters":{"operation":"executeQuery","query":"UPDATE product\nSET price={{ $json.arr[1] }}\nWHERE sku='{{ $json.arr[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[180,-460],"id":"81229771-ead8-4c17-b86e-630d6a4c8fd1","name":"MySQL1","credentials":{"mySql":{"id":"z4S3Q7bwZVMljf7i","name":"MySQL account DSMCM"}},"onError":"continueErrorOutput"}],"connections":{"MySQL":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"MySQL1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4de30318-cc93-4d2f-9b2d-70b6672241b7","triggerCount":1,"tags":[]}