workflows/My workflow 7.json
{"createdAt":"2025-04-17T14:33:10.142Z","updatedAt":"2025-04-18T02:38:44.000Z","id":"O8CuNmsFfq7knw55","name":"My workflow 7","active":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET"],"path":"zalohoangthi","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"1d7737f1-4adf-4408-83da-c7a473ab176d","name":"Webhook","webhookId":"4b160e96-b0b0-4385-95e9-e73673f540d1"},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,-200],"id":"b97a292a-7eb4-4ace-bcf8-d0fe65d12e88","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"http://45.117.177.128:3000/sendMessage","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"hoangthikd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"Xin chào\",\n  \"threadId\": \"{{ $('Webhook').item.json.body.threadId }}\",\n  \"type\": \"0\",\n  \"ownId\": \"{{ $('Webhook').item.json.body._accountId }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,-60],"id":"e0ca81cd-8df4-430d-bb55-0aab3d45d985","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"9LZtDcHEHDUxCpRq","name":"Zalo Auth"}}},{"parameters":{"operation":"sendPhoto","chatId":"-4618273186","file":"={{ $json.body.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,320],"id":"07e57629-0792-4980-b3a9-5f9d318babe6","name":"Tele send photo","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"chatId":"-4618273186","text":"=from Zalo {{ $json.body.data.dName }}: {{ $json.body.data.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,100],"id":"aa2abd9a-a4b7-4264-8c96-4554005aaa2a","name":"Tele send text","webhookId":"03fc26e6-e486-40e8-a8ad-aa5efab4ea11","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"chatId":"-4618273186","text":":)","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[380,480],"id":"807822b6-747c-454f-9cde-0a6ef210ed8a","name":"Tele send photo1","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals"},"id":"e52a69ff-c3e6-49ba-9aed-0b0331b88504"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20b83b30-db63-4494-9fd6-cade71eb999a","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57086c96-14ba-4fa0-acc9-2b6f8246c722","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.video.msg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5d88a48-2b1e-4823-a759-3a0b9f9d3640","leftValue":"={{ $json.body.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[180,140],"id":"d9c9d15b-989d-49de-abcb-8f29a7da3510","name":"Switch text, image, video, sticker"}],"connections":{"Webhook":{"main":[[{"node":"Switch text, image, video, sticker","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"HTTP Request":{"main":[[]]},"Tele send text":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Switch text, image, video, sticker":{"main":[[{"node":"Tele send text","type":"main","index":0}],[{"node":"Tele send photo","type":"main","index":0}],[],[{"node":"Tele send photo1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eeb8b86b-8fed-4b28-8d13-9264c45148ee","triggerCount":2,"tags":[]}