workflows/My workflow 3.json
{"createdAt":"2025-04-01T16:14:08.192Z","updatedAt":"2025-04-01T16:14:08.192Z","id":"vKVtJu9J2OHJENPL","name":"My workflow 3","active":false,"nodes":[{"parameters":{},"id":"0625d62a-6dad-42d6-933a-a95413d9ba8b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1400,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"859aff57-d530-4039-863b-e122255cc8f5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1400,160],"typeVersion":1.1},{"parameters":{"command":"=n8n export:credentials --backup --decrypted --output=/backups/{{$now.format(\"LL-dd-yy\") }}/credentials/temp/"},"id":"d3b7d814-5e4c-47ce-a622-56aece72aea8","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[580,400]},{"parameters":{"fileSelector":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/*","options":{}},"id":"7c8b7d1c-9aa9-483a-b1e4-1362794ed76a","name":"Read Credentials","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[800,400]},{"parameters":{"command":"=rm -r /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/temp/\n\n\n"},"id":"63622e2a-2e1d-4198-95ab-86886988939d","name":"Remove Temp dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,400],"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"id":"a7bab165-4c2d-4885-ac68-dfbf5a15e222","name":"MAKE JSON FILES","type":"n8n-nodes-base.moveBinaryData","position":[1400,700],"notesInFlow":true,"typeVersion":1},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/credentials/{{ $('Turn individual files to single json  output to get filename').item.json.data.name }}.json","options":{"append":false}},"id":"35b2471a-fad6-42ee-b645-6863776d11de","name":"Write individual Files in understanable name","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1400,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"a3348a4c-e74c-4d20-8924-17168b08fe0a","name":"GET WORKFLOWS","type":"n8n-nodes-base.n8n","position":[1200,700],"typeVersion":1,"credentials":{"n8nApi":{"id":"q7vAMZ8K08BHDSzo","name":"n8n account"}}},{"parameters":{"operation":"write","fileName":"=//backups/{{ $now.format(\"LL-dd-yy\") }}/workflows/{{ $node[\"GET WORKFLOWS\"].json[\"name\"] }}.json","options":{"append":false}},"id":"d188b48f-dab9-438f-bf25-4365350ae5fa","name":"Write Workflows","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,700]},{"parameters":{"content":"1. Exports the Credentials into /credentials/temp directory as individual files\n2. Renames them to the Credential Name (as opposed to credential ID)\n3. Saves to /credentials, and \n4. Deletes /credentials/temp","height":231.3877551020408,"width":1733.7346938775481},"id":"e8952ead-b2a9-467c-8437-8761d588cae1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,340]},{"parameters":{"content":"Creates a directory structure under /backups - subdir todays date, then additional subdirs for credentials and workflows.\n\nNote the /backups needs to be a directory you've created within your n8hn environment, (or in case of Docker, made available to the n8n \n container by mapping the  directory read-write) - in my case this was //volume1/docker/n8n/backups)","height":287.6326530612244,"width":1734.8163265306116},"id":"bda9aecf-5fa9-4606-8b6e-834b1c5a918b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"5. retrieves the workflows from n8n, and\n6. saves them as the workflow name under /backups/{today's date}/workflows","height":231.3877551020408,"width":1722.9183673469383},"id":"be1e4d72-9fc2-498b-ad4f-ed9a9f381d55","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,620]},{"parameters":{"command":"=mkdir /backups/{{ $now.format(\"LL-dd-yy\") }}\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/credentials\nmkdir /backups/{{ $now.format(\"LL-dd-yy\") }}/workflows\n\n"},"id":"c1913d9f-98e3-46b3-a79c-44c42d86c2da","name":"Create directory structures","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,100],"onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"id":"417597c3-4896-4812-b38b-eb70de54427a","name":"Convert back to json files","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,400]},{"parameters":{"operation":"fromJson","options":{}},"id":"5b41b304-ff95-4a91-adbc-f7c2f07cae3b","name":"Turn individual files to single json  output to get filename","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1000,400]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Turn individual files to single json  output to get filename","type":"main","index":0}]]},"Remove Temp dir":{"main":[[{"node":"GET WORKFLOWS","type":"main","index":0}]]},"MAKE JSON FILES":{"main":[[{"node":"Write Workflows","type":"main","index":0}]]},"Write individual Files in understanable name":{"main":[[{"node":"Remove Temp dir","type":"main","index":0}]]},"GET WORKFLOWS":{"main":[[{"node":"MAKE JSON FILES","type":"main","index":0}]]},"Create directory structures":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert back to json files":{"main":[[{"node":"Write individual Files in understanable name","type":"main","index":0}]]},"Turn individual files to single json  output to get filename":{"main":[[{"node":"Convert back to json files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85597e4e-918b-4a6b-8286-321c8a62bfb2","triggerCount":0,"tags":[{"createdAt":"2025-04-01T16:13:01.727Z","updatedAt":"2025-04-01T16:13:01.727Z","id":"fnWI58V5InRmdjv0","name":"core"}]}