workflows/My workflow 2.json
{"createdAt":"2025-04-05T17:47:21.888Z","updatedAt":"2025-04-06T07:49:37.000Z","id":"NXJFEqG9uistP4Eu","name":"My workflow 2","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/upload/v1beta/files","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Command","value":"start, upload, finalize"},{"name":"X-Goog-Upload-Header-Content-Length","value":"128"},{"name":"X-Goog-Upload-Header-Content-Type","value":"image/png"},{"name":"Content-Type","value":"image/png"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,140],"id":"bb046053-421c-49ae-92e2-3fc7f546fb71","name":"upload","credentials":{"httpQueryAuth":{"id":"PW7nVm67DZV1Hdq3","name":"Query Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1000,140],"id":"05c209c3-7bb6-4158-81aa-ab32097ca7cf","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0","mode":"list","cachedResultName":"Demo Sản Phẩm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Trạng Thái","lookupValue":"Chưa làm"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-800,140],"id":"a6e2417b-2cf9-41a6-a52b-07a0c1b5eb3b","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Mô tả ngắn gọn nội dung hình ảnh trong 10 từ tiếng anh","imageUrls":"={{ $('Edit Fields').item.json.url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,0],"id":"c6553da3-1cb9-4de0-8e7c-6cdff818af18","name":"OpenAI","retryOnFail":true,"credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,140],"id":"8d8add80-5c8b-4360-b535-b260e0919cd4","name":"dowload"},{"parameters":{"promptType":"define","text":"=Mô tả về sản phẩm:  {{ $json.content }}","messages":{"messageValues":[{"message":"=## Overview:\n- Bạn là một chuyên gia thiết kế concept dựa trên hình ảnh sản phẩm được cung cấp. Ngoài ra bạn rất giỏi và am hiểu prompting bằng tiếng anh cho AI tạo ảnh\n\n## Nhiêm vụ:\n- Hãy tạo một đoạn prompt ngắn cho trình tạo hình ảnh AI, trong đó sẽ nhận vào một bức ảnh sản phẩm để cuối cùng tạo ra ảnh chụp sản phẩm chuyên nghiệp.\n- Nếu sản phẩm có thể mặc được, bạn phải đảm bảo nó được một người mẫu mặc. Nếu sản phẩm không thể mặc, hãy đảm bảo có một người mẫu cầm hoặc tương tác với nó theo cách nào đó. Sản phẩm LUÔN LUÔN phải đi kèm với một người mẫu.\n- Hãy chắc chắn bao gồm các hướng dẫn để có được độ chân thực tốt nhất, ánh sáng tốt nhất, góc chụp đẹp nhất, màu sắc chuẩn nhất, vị trí người mẫu phù hợp nhất, v.v. tùy thuộc vào loại sản phẩm.\n- Luôn viết prompt dưới dạng nhắc đến sản phẩm, ví dụ: \"sản phẩm này [PRODUCT]\", để trình tạo hình ảnh AI hiểu rằng nó sẽ nhận một bức ảnh sản phẩm làm đầu vào.\n\n## SOP:\n- Phong cách 'Product Photoshoot' chuyên nghiệp, phù hợp với sản phẩm\n- Prompt trả ra là tiếng anh"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[160,0],"id":"74772513-812f-430e-acf4-67a014583724","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,180],"id":"5a9b9f26-d122-4133-b698-a17a8782877c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [\n      {\n        \"text\": \"{{ $json.text.replaceAll('\\\"', '') }}\"\n      },\n      {\n        \"fileData\": {\n          \"mimeType\": \"image/png\",\n          \"fileUri\": \"{{ $('upload').item.json.file.uri }}\"\n        }\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 1.4,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"text/plain\",\n    \"responseModalities\": [\"image\",\"text\"]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"id":"fcb1dfcd-f623-4fcd-b3ec-d549baba3c4e","name":"generative","credentials":{"httpQueryAuth":{"id":"PW7nVm67DZV1Hdq3","name":"Query Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0e1396e7-10ad-4402-9961-f9b1d65f75ff","name":"url","value":"={{ $json['Link Sản Phâm'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-600,140],"id":"f4520167-37d5-4074-9959-4e8fec298371","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[0].inlineData.data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[660,0],"id":"947566b9-a2f0-4f2e-bac6-54733ba2446f","name":"Convert to File"},{"parameters":{"name":"img","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"15eDpewVhbA5ePEXEoya1TjVhi-hAakNV","mode":"list","cachedResultName":"n8n_demo_gemini","cachedResultUrl":"https://drive.google.com/drive/folders/15eDpewVhbA5ePEXEoya1TjVhi-hAakNV"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[820,0],"id":"7c40a3d9-779d-410b-a4da-826fdebae897","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0","mode":"list","cachedResultName":"Demo Sản Phẩm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FiNFltMOzJ_Ioqqvmu96TNIhllVfn2TOTJRV9AetBD0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Trạng Thái":"Done","Prompt Vẽ":"={{ $('Basic LLM Chain').item.json.text }}","Link Hình Ảnh":"={{ $json.webViewLink }}"},"matchingColumns":["row_number"],"schema":[{"id":"Link Sản Phâm","displayName":"Link Sản Phâm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trạng Thái","displayName":"Trạng Thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Vẽ","displayName":"Prompt Vẽ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Hình Ảnh","displayName":"Link Hình Ảnh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[980,0],"id":"edd9465d-704e-441a-b00e-11d61187dff3","name":"update","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"upload":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"dowload":{"main":[[{"node":"upload","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"generative","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"dowload","type":"main","index":0}]]},"generative":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"35700c31-f619-496d-a60a-622c9cefba86","triggerCount":0,"tags":[]}