workflows/My workflow.json
{"createdAt":"2025-04-06T15:56:20.381Z","updatedAt":"2025-04-06T15:56:20.000Z","id":"zvQmUF5PwThlaPfy","name":"My workflow","active":false,"nodes":[{"parameters":{"content":"Final confirmation to the user","height":80,"width":263,"color":7},"id":"3b788e2d-f98c-4822-92ce-6187670ac48a","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","position":[3500,3880],"typeVersion":1},{"parameters":{"resource":"image","prompt":"=Generate a photographic image to be used as the cover image for the article titled {{ $('Blog Planner').first().json.output.title }}, {{ $('Blog Planner').first().json.output.subtitle }}\nThis is the prompt for the image: {{ $('Blog Planner').first().json.output.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.","options":{"quality":"standard","size":"1792x1024","style":"natural"}},"id":"46bd8d11-4706-4db7-a2a6-5461aba29c0c","name":"Generate featured image","type":"@n8n/n8n-nodes-langchain.openAi","position":[1020,1460],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-560,540],"id":"8ae95f14-f516-490c-a239-807256a594cb","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=**Write a Chapter for an Article**\n\n**Article Details:**\n- **Topic:** {{ $('Blog Planner').first().json.output.title }}\n- **Subtitle:** {{ $('Blog Planner').first().json.output.subtitle }}\n\n**Chapter Details:**\n- **Chapter Title:** {{ $json.title }}\n- **Chapter Prompt:** {{ $json.prompt }}\n\n**Task:**\nGenerate a chapter for the article using the topic, subtitle, chapter title, and chapter prompt above.\nWrite a detailed, cohesive chapter for an article based on the topic, subtitle, chapter title, and chapter prompt above. The chapter should flow naturally without segmenting the content into many short or shallow subtopics.\n\n**Guidelines:**\n- **Avoid Phrases:** Do not use “In today’s fast-paced world” or similar expressions.\n- **No Product Names:** Refrain from mentioning any names of products or services.\n- **Formatting:** \n  - Return the chapter content as plain text without extra internal titles or headings.\n  - Use markdown formatting (e.g., **bold**, *italic*, lists) where appropriate.\n- **Length & Style:**\n  - The chapter should be about **{{ Math.round($('Settings').first().json['Max word count']) / $('Settings').first().json['Number of chapters'] }} words**.\n  - Keep most sentences under 20 words.\n  - Dive deep into the topic—avoid superficial explanations.\n- **Context Consideration:**\n    {{ $itemIndex > 0 ? \"- Previous chapter title: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Previous chapter prompt: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter title: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Next chapter prompt: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Ensure the chapter content is coherent with both previous and following chapters and does not repeat concepts already discussed.\n- **Internal Linking:**\n  - Review the list of blog URLs below:\n    ```\n    {{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Choose one URL that is relevant to the chapter content and embed it as an internal link with appropriate hyperlink text.\n  - Use each URL only once. If none are relevant, do not add any links.\n- **Integration:**  \n  This chapter is part of a larger article. Do not include an introduction or conclusion that stands alone; ensure the chapter flows naturally into the overall article.\n\n**Output Format:**\nReturn the chapter as a JSON object with two fields:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1880,460],"id":"d99061d6-23cd-4da7-bc1b-7144c7159892","name":"Write chapter text"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1240,360],"id":"1a5c069c-0cf1-4dc7-b94c-fdf1574578e1","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"deb6621e-982a-4e20-a1c1-1140be02cad3","name":"Website","value":"={{ $json.Website }}","type":"string"},{"id":"fdd24a9b-649b-4088-b085-da0be99f3d86","name":"Seed keyword","value":"={{ $json.Seed_keyword }}","type":"string"},{"id":"2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8","name":"Target audience","value":"={{ $json.Target_audience }}","type":"string"},{"id":"0dafb0ac-5735-4243-84cc-85e787697892","name":"Max word count","value":"={{ $json.Word_Count }}","type":"number"},{"id":"3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3","name":"Number of chapters","value":"={{ $json.Chapters }}","type":"number"},{"id":"191105bb-4f7e-4b4f-bab7-95fa1f858c43","name":"Introduction length","value":"={{ $json.Introduction_length }}","type":"number"},{"id":"d1368f97-9249-4bb6-9c5c-f3185b7ef9eb","name":"Conclusion length","value":"={{ $json.conclusion_length }}","type":"number"},{"id":"9579a7f2-1a4e-45b7-8cd7-ef249073798d","name":"style","value":"={{ $json.Style }}","type":"string"},{"id":"1575eee8-6b01-4d0f-8304-68d4d541f0f7","name":"Category ID","value":"={{ $json.Category_ID }}","type":"number"},{"id":"ae45f0c3-1ed6-4901-bf50-359ea3da33a9","name":"CTA","value":"={{ $json.CTA }}","type":"string"},{"id":"c71d3ccd-369d-4c50-8f57-1cb693af14be","name":"CTA URL","value":"={{ $json.CTA_URL }}","type":"string"},{"id":"f6e4ce2b-6d29-4ca8-9b91-6236701d71b5","name":"Company Offering","value":"={{ $json.Company_offering }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,360],"id":"7100bb5c-ca4a-493d-8997-d83bd2a7d0dc","name":"Settings"},{"parameters":{"content":"## Settings","height":431,"width":567,"color":2},"id":"8f478486-5084-47f5-98b8-da5fd534fcda","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1560,280],"typeVersion":1},{"parameters":{"content":"## Create Article structure\n","height":431,"width":787,"color":2},"id":"dffe6efb-fa3e-4d50-821b-3b9e086f6e76","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-940,280],"typeVersion":1},{"parameters":{"content":"## Generate text for each chapter\n","height":511,"width":2347,"color":2},"id":"23cba617-5786-4b06-8c1e-95e121be6554","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[500,280],"typeVersion":1},{"parameters":{"content":"## Get all internal links\n","height":231,"width":1207,"color":2},"id":"7e12f2fd-6e2d-413f-9caf-e2e98c378d66","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Generate image for each chapter","height":431,"width":2167,"color":2},"id":"58b70d2c-f69b-43ed-8cda-2d26d74ee41d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[700,880],"typeVersion":1},{"parameters":{"content":"## Combine and finalize the article\n","height":431,"width":1567,"color":2},"id":"f016eca3-80b1-456e-ba02-f56f29f8188c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2920,280],"typeVersion":1},{"parameters":{"content":"## Publish article to website\n","height":431,"width":367,"color":2},"id":"7c42eb32-56ab-433a-8f59-7a713c24900f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4640,280],"typeVersion":1},{"parameters":{"content":"## Set featured image for the article\n","height":431,"width":987,"color":2},"id":"770ca3b8-891b-42a9-8425-b20cd19bf3dc","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[5080,280],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2040,680],"id":"a10ecf53-7235-4dd6-8c50-e653c386f6f8","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.chapters","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,360],"id":"5b2a27be-c709-43cd-90b6-a38d19b28524","name":"Split out chapters"},{"parameters":{"url":"=https://{{ $json.Website }}/post-sitemap.xml","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,60],"id":"2edd9103-8489-439a-bced-a1ffb0d6ba07","name":"Get post sitemap"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[300,60],"id":"1c1a7992-79b3-4675-a3a0-88b8d96c6bf7","name":"Get XML file"},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[520,60],"id":"ea5fd21c-3f93-4bd5-baca-2b394ab16c29","name":"Split out links"},{"parameters":{"assignments":{"assignments":[{"id":"3db2a3a4-d89e-4848-835c-1d6ac68419ac","name":"chapter_title","value":"={{ $json.output.title }}","type":"string"},{"id":"25fbf572-7e57-4797-99ba-34fc1c8d560a","name":"chapter_content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,340],"id":"aa0a0ee6-7878-4c32-8642-05b78fa08058","name":"Get title chapter and content"},{"parameters":{"resource":"image","prompt":"=Generate a photographic image to be used as the cover image for the chapter {{ $json.title }} in the article titled {{ $('Blog Planner').first().json.output.title }},\nThis is the prompt for the image: {{ $json.image.imagePrompt }}, photography, realistic. Do not show any texts in the image.","options":{"quality":"standard","size":"1792x1024","style":"natural"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1460,1040],"id":"022c156b-615d-4687-9c17-d55e739a0765","name":"Generate chapter image","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"operation":"resize","dataPropertyName":"=data","width":800,"height":800,"options":{"fileName":"={{ $('Split out chapters').item.json.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1720,940],"id":"cc30327a-d323-457b-bd35-c03c7b852d0c","name":"Resize Image"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"51238740-4a4f-49ac-a5f3-f98a946f90ac","name":"Upload chapter images","type":"n8n-nodes-base.httpRequest","position":[2020,1000],"typeVersion":4.1},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"811c2e6f-5191-4947-b713-e99b175a6eb8","name":"Merge chapters title and text","type":"n8n-nodes-base.merge","position":[3320,420],"typeVersion":2.1},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.article }}","destinationKey":"article","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[4060,420],"id":"243d644b-3bae-43c4-bc38-378a136712a3","name":"Markdown to HTML"},{"parameters":{"title":"={{ $('Blog Planner').first().json.output.title }}","additionalFields":{"content":"={{ $('FInal article in HTML').item.json.article }}","slug":"={{ $('Blog Planner').first().json.output.slug }}","status":"publish","categories":[403]}},"id":"2a6087fb-c6d0-4305-a116-c6fe20952f96","name":"Post on Wordpress","type":"n8n-nodes-base.wordpress","position":[4760,420],"typeVersion":1},{"parameters":{"operation":"resize","width":800,"height":800,"options":{"fileName":"={{ $('Blog Planner').item.json.output.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1420,1400],"id":"0c8c9eb8-c130-41b4-9afc-35fa0cf7f0e8","name":"Resize featured image"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $('Blog Planner').item.json.output.image.fileName }}.{{ $binary.data.fileExtension }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"4f8b2fda-f548-4d00-b8ee-38096eaddd15","name":"Upload featured image","type":"n8n-nodes-base.httpRequest","position":[5400,440],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"featured_media","value":"={{ $json.id }}"}]},"options":{}},"id":"e6585bd2-53e3-4179-8ddf-474310752662","name":"Set featured image for post","type":"n8n-nodes-base.httpRequest","position":[5820,440],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $('Split out chapters').first().json.image.altText }}"},{"name":"title","value":"={{ $('Split out chapters').first().json.image.caption }}"},{"name":"caption","value":"={{ $('Split out chapters').first().json.image.caption }}"},{"name":"description","value":"={{ $('Split out chapters').first().json.image.caption }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1000],"id":"8417c815-89bb-40bd-a1c6-1f1c9254debe","name":"Update image meta data"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1020,920],"id":"a8b01435-989d-4543-81b2-297bffde8a26","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/media/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $('Blog Planner').first().json.output.image.altText }}"},{"name":"title","value":"={{ $('Blog Planner').first().json.output.image.caption }}"},{"name":"caption","value":"={{ $('Blog Planner').first().json.output.image.caption }}"},{"name":"description","value":"={{ $('Blog Planner').first().json.output.image.caption }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5620,440],"id":"f3edfadb-e4a3-4fe0-8836-081c41bf50bb","name":"Update featured image meta data"},{"parameters":{"batchSize":"={{ $('Settings').item.json['Number of chapters'] }}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1460,360],"id":"be9e5be5-1f81-49d7-ba95-ce232b99ce8e","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"178011dc-bb76-420d-a01e-5a5d9797957e","name":"response","value":"=A new blog post was created and published at {{ $('Post on Wordpress').item.json.link }}. All the generated materials are saved to Google Drive: https://drive.google.com/drive/folders/{{ $('Create Drive folder').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7320,440],"id":"3b1ebd04-d956-4439-933d-e9fbc75925b1","name":"Edit Fields"},{"parameters":{"content":"## Generate featured image","height":431,"width":1347,"color":2},"id":"4881f442-a9ce-45cf-97fe-a81d66751771","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[720,1380],"typeVersion":1},{"parameters":{"content":"## SEO\n","height":431,"width":507,"color":2},"id":"b7326737-3600-4a23-8f36-7def1ad1e417","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[6120,280],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings').first().json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"excerpt","value":"={{ $('Blog Planner').first().json.output.googleExcerpt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6180,440],"id":"db5fc809-5019-411d-9b8f-bae1ad1bbad5","name":"Set excerpt"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2340,460],"id":"2d1b43cb-69b3-41dd-9d82-94891dd1c37b","name":"Wait","webhookId":"ecc9702f-fabf-4b8e-957e-11a05033f36e","disabled":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2640,1040],"id":"4991f6a0-2e7c-468e-b2c9-7a0f159ff4ea","name":"Wait1","webhookId":"6d464934-8067-45c6-8e9f-4c90f806784c","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1aPn-7tRcSzd3A0_4LDCS66rdZdtQWEe6If71hs-TeXM/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D-aoHvQ4UbwI3OANqwNc1_bbwTw8IwnERgkP428ueDE/edit#gid=0"},"event":"rowAdded","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-2140,360],"id":"716d4082-39ed-4c01-a518-76ae9d158655","name":"Google Sheets Trigger"},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[760,60],"id":"8052ec45-4f6d-43f6-980a-d3e2ca67bafd","name":"Limit1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5e0892b-6f70-46d4-81fc-e33321dc87b9","leftValue":"={{ $json.Website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4b4c8d5-9acb-4b8d-be85-7cb70954da7d","leftValue":"={{ $json['Seed keyword'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"48f46993-3214-48b6-a7d1-54a23c0cad48","leftValue":"={{ $json['Target audience'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3","leftValue":"={{ $json['Max word count'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"4b177d23-d6e7-4444-8bbb-fe4d5064da03","leftValue":"={{ $json['Number of chapters'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"34b9e9d2-c5a3-4878-a12a-f5ad87b43efa","leftValue":"={{ $json['Introduction length'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"68969bc3-a14a-4459-95d3-7c6a0cb279ce","leftValue":"={{ $json['Conclusion length'] }}","rightValue":"","operator":{"type":"dateTime","operation":"notEmpty","singleValue":true}},{"id":"30633e71-924d-4f0f-9ea8-f2d4a119ae51","leftValue":"={{ $json.style }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"ecb3a6a6-a19a-40b5-8026-2b26cca361de","leftValue":"={{ $json['Category ID'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1220,360],"id":"a1171d7d-66fd-4690-ab66-8385a74c6a65","name":"Check inputs"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5180,440],"id":"5325e235-9561-4880-aed2-9d79582cc009","name":"Add featured image"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Final article in Markdown').item.json.article }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6980,440],"id":"69962c56-d111-4b56-9fa3-5aec128f56a5","name":"Save texts to Doc"},{"parameters":{"folderId":"={{ $('Create Drive folder').first().json.id }}","title":"={{ $('Blog Planner').first().json.output.title.replace(/ /g, \"_\") }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6740,440],"id":"27019728-125b-466e-9b28-b4c1f84c7e6f","name":"Create Doc"},{"parameters":{"name":"={{ $('Blog Planner').item.json.output.image.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Drive folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1420,1640],"id":"733668a3-560d-42d6-b114-41c01a62076b","name":"Upload featured image to Drive"},{"parameters":{"name":"={{ $('Split out chapters').item.json.image.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create Drive folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1720,1180],"id":"48c53e6b-f9ca-46d0-a9c8-06d7455d487c","name":"Upload chapter images to Drive"},{"parameters":{"assignments":{"assignments":[{"id":"8cada260-4cd5-4470-8dba-139cec531ddc","name":"output","value":"={{ $('Blog Planner').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,360],"id":"204dbe44-b99f-431a-95f1-eb5f92342d4f","name":"Get output"},{"parameters":{"resource":"folder","name":"={{ $json.output.title.replace(/ /g, \"_\") }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tSlpyxnzGSU1wj-SXruBjXYp2PFALNTf","mode":"list","cachedResultName":"Auto blog","cachedResultUrl":"https://drive.google.com/drive/folders/1tSlpyxnzGSU1wj-SXruBjXYp2PFALNTf"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,360],"id":"a4b43b04-ba7b-400a-8e2d-c7d6f3395d5f","name":"Create Drive folder"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1840,1520],"id":"ceadd2a0-750b-4a99-89a0-e00c3df79063","name":"Merge2"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2440,1040],"id":"d89d40a4-49a9-4cdd-a3f3-2274353e73a1","name":"Merge1"},{"parameters":{"content":"Create Save Folder on Drive","height":431,"width":467,"color":2},"id":"87746282-4098-422d-aa58-049b2fa5f323","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-20,280],"typeVersion":1},{"parameters":{"content":"## Save to Doc on Drive\n","height":431,"width":507,"color":2},"id":"00b01d53-7b80-401a-90d5-5075bd039b0b","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[6680,280],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2140,580],"id":"1a9842bd-36ed-4d58-8fb8-b2f4dbe4c465","name":"Schedule Trigger","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2140,800],"id":"8eee3515-5704-4218-819d-06a59bfde47a","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"b6877f11-541d-4ac5-8556-f10374322f2a","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4300,420],"id":"3d3d2b46-1b88-43de-afc3-de8036c963bc","name":"FInal article in HTML"},{"parameters":{"assignments":{"assignments":[{"id":"cd9e8fee-8386-4410-8cb4-5ef83c265d52","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,420],"id":"ba95cc1f-66b4-4740-a72b-a4f1fd57dc4d","name":"Final article in Markdown"},{"parameters":{"jsCode":"let article = \"\";\n\n// Introduction\narticle += $('Blog Planner').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\narticle += \"## Final words\\n\\n\";\narticle += $('Blog Planner').first().json.output.conclusion;\narticle += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Blog Planner').first().json.output.cta + \"\\n\\n\";\narticle += \"Learn more: [\" + $('Blog Planner').first().json.output.ctaUrl + \"](\" + $('Blog Planner').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## About us\\n\\n\";\narticle += $('Blog Planner').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];\n"},"id":"44afed6f-7028-43ff-917c-93921fada31e","name":"Combine into article","type":"n8n-nodes-base.code","position":[3560,420],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"loc","renameField":true,"outputFieldName":"internal_links"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1020,60],"id":"3378f689-874e-425d-8738-5c1177aafc40","name":"Aggregate internal links"},{"parameters":{"content":"## README\n\nUPDATE: \n1) replace Open Router with OpenAI node!\n2) Move \"Wait\" node to end of loop instead of at start\n3) COrrect the \"Loop\" node. The batch side should be equal to the number of chapter.\n\nThe best content automation in the market\\! This advanced workflow not only creates and publishes **SEO-optimized blog posts** to your **WordPress website,** but also generates **a unique image for each chapter and a featured image for the overall article**. In addition, it automatically collects internal website links—seamlessly inserting them throughout each chapter and the entire article. Last but not least, it automatically **backs up all content and images** to a designated folder in your Google Drive.   \nThis integrated approach enhances on-page SEO, improves navigation, and streamlines your content creation process, saving you time while ensuring your work is securely stored.\n\n### How it works\n\n1. **Trigger:** It activates upon adding a new row to a Google Sheet. Users can control many customizable parameters, such as see keyword, number of chapters, target audience, length, and style.  \n2. **Structure Planning:** It plans a detailed structure for the entire article and breaks the article into chapters strongly tied to the main topic.  \n3. **Expert Copywriting: It** generates content for each chapter in depth based on the provided parameters.  \n4. **Image Generation:** It generates and adds images for each chapter, as well as a featured image for the article.  \n5. **Internal Linking:** The system gathers internal website links and strategically embeds them within each chapter and throughout the article, boosting SEO and enhancing user navigation.  \n6. **Final Assembly & Publishing:** All texts, images, and links are combined into one comprehensive article, which is then published directly to your WordPress website. You can also choose to post it as a draft for final review.  \n7. **Auto Backup to Drive:** Get peace of mind knowing all content (blog post and images) is automatically saved to Google Drive, organized in a folder named after the blog post title.\n\n### Unique features\n\n1. **Full Automation:** The workflow is designed to be 100% automated. Once imported and configured, it can run without manual intervention.  \n2. **Simple Activation:** It can be easily triggered through the Google Spreadsheets interface. You simply add a new row to a Google Sheet.  \n3. **Customization Options:** Offers a wide array of customization options, including topic, category, target audience, word count, number of chapters, length of introduction and conclusion, and writing style. It also allows for the inclusion of calls-to-action (CTAs) and company/product introductions.  \n4. **Automatic Content Saving:** After writing a blog post, all content and images are automatically saved to Google Drive, preventing data loss. The folder is even named after the title of the blog post.  \n5. **Advanced Loop:** Clever looping is used to write each chapter and generate images, ensuring optimal results. “Wait” nodes are added where appropriate to avoid API call rate limits.  \n6. **SEO-Optimized Content:** It's designed to create content optimized for SEO using seed keywords.  \n7. **Rate Limit Handling:** Includes \"Wait\" nodes to avoid rate limits.  \n8. **Internal Link Limit:** Limits the number of internal links to 20 by default.\n\nAnd many more big and small improvements.\n\n### Requirements\n\nPlease make sure you have these requirements ready to ensure smooth deployment of this n8n workflow template:\n\n1. **OpenAI API** or equivalent for text and image generation  \n2. A **WordPress** website (other website platforms will not work\\!)  \n3. Google Sheets for triggering the workflow, or a trigger of your choice  \n4. Google Drive and Google Docs for auto backup\n\n### Set up steps\n\n1. **Install the Workflow Template:** Import the JSON files into your n8n instance.   \n2. **Connect the Workflow with Your Accounts:** Link your accounts for OpenAI API, Google Drive, Google Sheets, Google Docs, and WordPress website.  \n3. **Configure the Google Sheet:** Ensure your Google Sheet is set up to trigger the workflow upon adding a new row and that the input data is correctly formatted.  \n4. **Customize the Inputs:** Adjust parameters like topic, target audience, and writing style to match your specific content needs. Optimize prompts for the best results.  \n5. **Test the Workflow:** Use low-cost AI models and image settings initially to ensure everything runs smoothly.  \n6. **Tailor Further as Needed:**  Modify workflow elements to perfectly align with your needs and content strategy.\n\n---\n\n### Tips for PROs\n\n1. **Image Generation:** The default AI model for image generation is OpenAI’s Dall-E. However, the outputs of this model are not impressive. Consider using FLUX.1 for better image quality.  \n2. **Triggering:** Triggering with a new row on Google Sheets is limited and unreliable. Consider setting an auto trigger with a daily schedule at a specific time. You can even put the whole workflow in a loop to process multiple rows one-by-one from Google Sheets.  \n3. **Human in the Loop:** It is possible to incorporate a human review process. For example, after the article is posted to WordPress as a draft, a human can review the draft. Only after approval will the post be published, and a final copy of the post will be saved to the shared Drive folder.","height":1460,"width":1360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3800,320],"id":"9b7e7da5-7c9b-4bc2-a04a-1df2ff5967a9","name":"Sticky Note12"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-780,560],"id":"8252982e-1697-4d32-a93c-b97609022397","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,660],"id":"f6e17bf8-174e-4b1e-bd4a-bc05a1b2dbd7","name":"OpenAI Chat Model1"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1800,360],"id":"652b1eb7-13e7-4f49-86ab-5d5fecf30104","name":"Limit to the last row"},{"parameters":{"promptType":"define","text":"=## Instructions\nWrite a article about {{ $json['Seed keyword'] }} that targets {{ $json['Target audience'] }} in {{ $json.style }} writing style. The article should have {{ $json['Number of chapters'] }} chapters with {{ $json['Max word count'] }} maximum word count. \n\n### Title and Subtitle\nWrite an **engaging title** and a **concise subtitle** that reflects the topic.\n\n### Introduction\nWrite an introduction of approximately **{{ $json['Introduction length'] }} words** that introduces the topic and sets the stage for the rest of the article.\n\n- **Avoid phrases** like:\n  - \"In this article\"\n  - \"In the fast-paced world\"\n  - \"Transformative\"\n\n### Slug\nCreate a **short, SEO-friendly URL slug** of 3-5 words:\n\n- Ensure it contains the **SEO keyword phrase**.\n- Use **dashes (-)** to separate words.\n\n### Google Excerpt\nWrite a **Google-friendly excerpt** (up to **160 characters**):\n\n- Use an **active voice**.\n- Include the **target key phrase**.\n\n### Google Meta Description\nBased on the article content:\n\n- Limit to **156 characters**.\n- Use an **active voice** and make it **actionable**.\n- Include the **target key phrase**.\n\n### Chapters\nCreate detailed chapter content:\n\n- **Structure**:\n  - Provide a title and an **exhaustive prompt** for each chapter.\n  - Place chapters in an array field called **chapters**, with fields:\n    - `title`\n    - `prompt`\n    - `image`\n  - Ensure a **logical flow** between chapters without repeating concepts.\n  - Avoid generic titles like \"Chapter 1,\" \"Chapter 2,\" etc.; use **descriptive titles**.\n\n- **Markdown Formatting**:\n  - Use **bold**, *italic*, and _underline_ styles when appropriate.\n  - Include **lists** and **numbered lists** as needed.\n\n- **Image Details** for Each Chapter:\n  - **Image Prompt**: A vivid and detailed description of the image.\n  - **File Name**: A descriptive file name for the image (without an extension).\n  - **Caption**: A succinct summary of the image content.\n  - **Alt Text**: An accessibility-focused description of the image.\n\n### Conclusion\nWrite a **{{ $json['Conclusion length'] }}-word conclusion** summarizing the article and leaving the reader with a final takeaway.\n\n### Call-to-Action (CTA) and Company Offering\n- **CTA**: At the end of the article, include a compelling call-to-action message that motivates readers to take the next step: {{ $('Settings').item.json.CTA }} \n- **CTA URL**: Provide a URL for the CTA: {{ $('Settings').item.json['CTA URL'] }}\n- **Company Offering**: Include a detailed description of the company’s offering: {{ $('Settings').item.json['Company Offering'] }}\n\n---\n\n## Image Details for Article Cover\nThe article should include a **featured image object** with the following fields:\n\n- **Image Prompt**: A vivid and detailed description of the image reflecting the article's content and sentiment.\n- **File Name**: A descriptive file name for the cover image (without an extension).\n- **Caption**: A succinct summary of the cover image content.\n- **Alt Text**: An accessibility-focused description of the cover image.\n\n**Requirements** for the Cover Image:\n- **Aspect Ratio**: 16:9\n- Must be **relevant** to the article's content and sentiment.\n- Contain **rich details** and reflect the text content in a **photo-realistic style**.\n- Exclude any text other than the DALL-E 3 prompt.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-760,360],"id":"3b826c80-7b8f-44e1-bca8-cb84cb5170f2","name":"Blog Planner","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f85e6d76-179d-4fa8-ac9b-d0ae849c2d83","leftValue":"{{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,360],"id":"3cbfd8e8-a1e9-4882-8fdd-59104a7543ed","name":"Check empty output"}],"connections":{"Generate featured image":{"main":[[{"node":"Upload featured image to Drive","type":"main","index":0},{"node":"Resize featured image","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Blog Planner","type":"ai_outputParser","index":0}]]},"Write chapter text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Check inputs","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Write chapter text","type":"ai_outputParser","index":0}]]},"Split out chapters":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Get post sitemap":{"main":[[{"node":"Get XML file","type":"main","index":0}]]},"Get XML file":{"main":[[{"node":"Split out links","type":"main","index":0}]]},"Split out links":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get title chapter and content":{"main":[[{"node":"Merge chapters title and text","type":"main","index":0}]]},"Generate chapter image":{"main":[[{"node":"Upload chapter images to Drive","type":"main","index":0},{"node":"Resize Image","type":"main","index":0}]]},"Resize Image":{"main":[[{"node":"Upload chapter images","type":"main","index":0}]]},"Upload chapter images":{"main":[[{"node":"Update image meta data","type":"main","index":0}]]},"Merge chapters title and text":{"main":[[{"node":"Combine into article","type":"main","index":0}]]},"Markdown to HTML":{"main":[[{"node":"FInal article in HTML","type":"main","index":0}]]},"Post on Wordpress":{"main":[[{"node":"Add featured image","type":"main","index":0}]]},"Resize featured image":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Upload featured image":{"main":[[{"node":"Update featured image meta data","type":"main","index":0}]]},"Update image meta data":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge chapters title and text","type":"main","index":1}],[{"node":"Generate chapter image","type":"main","index":0}]]},"Update featured image meta data":{"main":[[{"node":"Set featured image for post","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get title chapter and content","type":"main","index":0}],[{"node":"Write chapter text","type":"main","index":0}]]},"Set featured image for post":{"main":[[{"node":"Set excerpt","type":"main","index":0}]]},"Set excerpt":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Limit to the last row","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Aggregate internal links","type":"main","index":0}]]},"Check inputs":{"main":[[{"node":"Blog Planner","type":"main","index":0},{"node":"Get post sitemap","type":"main","index":0}]]},"Add featured image":{"main":[[{"node":"Upload featured image","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"Save texts to Doc","type":"main","index":0}]]},"Upload chapter images to Drive":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Save texts to Doc":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get output":{"main":[[{"node":"Split out chapters","type":"main","index":0},{"node":"Generate featured image","type":"main","index":0}]]},"Create Drive folder":{"main":[[{"node":"Get output","type":"main","index":0}]]},"Upload featured image to Drive":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Add featured image","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"FInal article in HTML":{"main":[[{"node":"Post on Wordpress","type":"main","index":0}]]},"Final article in Markdown":{"main":[[{"node":"Markdown to HTML","type":"main","index":0}]]},"Combine into article":{"main":[[{"node":"Final article in Markdown","type":"main","index":0}]]},"Aggregate internal links":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Blog Planner","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Write chapter text","type":"ai_languageModel","index":0}]]},"Limit to the last row":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Blog Planner":{"main":[[{"node":"Check empty output","type":"main","index":0}]]},"Check empty output":{"main":[[{"node":"Create Drive folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d3a298c9-bbb6-448a-a9e6-3ff11562a031","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:04:54.631Z","updatedAt":"2025-04-03T03:04:54.631Z","id":"08VlwlFaB1lTAFMn","name":"OpenAI"},{"createdAt":"2025-04-03T03:04:54.608Z","updatedAt":"2025-04-03T03:04:54.608Z","id":"NGzPEh36t8faxqM6","name":"AI"},{"createdAt":"2025-04-03T03:04:54.657Z","updatedAt":"2025-04-03T03:04:54.657Z","id":"fBcNH6Q0E5X8FWRR","name":"WordPress"}]}