workflows/RAG Chatbot for Company Documents using Google Drive and Gemini.json
{"createdAt":"2025-04-03T02:59:49.493Z","updatedAt":"2025-04-10T23:58:18.000Z","id":"EdTvWhmS4EmEOukt","name":"RAG Chatbot for Company Documents using Google Drive and Gemini","active":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"productdb","mode":"list","cachedResultName":"productdb"},"options":{}},"id":"35aef591-428e-49c6-95ae-f6f831af7d85","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[240,240],"typeVersion":1,"credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"8d1b29d4-173f-4577-906b-4a2c069f921a","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[200,520],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","loader":"csvLoader","options":{}},"id":"6020b236-e425-4e2c-b1de-c524ff8a864e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[400,460],"typeVersion":1},{"parameters":{"chunkOverlap":10,"options":{}},"id":"01a3576b-c586-4456-aa82-644d99937ab4","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[380,660],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"f0cc5965-3943-4cc2-8615-8532597f25cf","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-20,1080],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"06dd53ff-4c9d-40e2-bd3c-c63af67ddabb","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[560,1200],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"bf2782da-8149-484b-9397-264cbb47fc5c","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[440,1380],"typeVersion":1,"credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"592e3ee5-3970-48d5-8220-482e63d32e43","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[440,1560],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"cbf4d5af-47bd-49a6-9615-6ee74cfffe86","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[20,240],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"content":"## Chat with company documents"},"id":"99e5328e-11ec-46f2-927c-147db3e8a670","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-20,900],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc","mode":"list","cachedResultName":"Product Data","cachedResultUrl":"https://drive.google.com/drive/folders/1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc"},"event":"fileUpdated","options":{}},"id":"1f6d4070-91dc-4426-96c9-c2d76f7a3e2b","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-300,380],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc","mode":"list","cachedResultName":"Product Data","cachedResultUrl":"https://drive.google.com/drive/folders/1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc"},"event":"fileCreated","options":{"fileType":"application/vnd.google-apps.document"}},"id":"08e1d81a-bd9b-4b9a-b3eb-8924854703ad","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-300,120],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{},"id":"bfade0d8-0a17-4119-8934-2354790fa35d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[60,1380],"typeVersion":1.3},{"parameters":{"options":{}},"id":"2b72a165-2092-4a91-aac3-c5495dff930d","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-360,1080],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add documents to vector store when updating or creating new documents in Google Drive","width":320},"id":"7e7984ed-694e-43eb-b2b2-8888c789b0fb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"68e0880c-e96d-4e0f-bafa-f19defda33b8","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-120,1380],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"7a9c4807-97ea-4396-a2d1-802658a71852","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[800,1380],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"6dc7342d-8057-4002-966e-1bcba7af21bf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-980,460],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09558e55-9542-435e-ae99-91e74d849f43","triggerCount":0,"tags":[]}