workflows/Report.json
{"createdAt":"2025-04-11T22:50:18.733Z","updatedAt":"2025-04-11T22:50:18.733Z","id":"Hhqrb4QeDJFHDbQC","name":"Report","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-160,-200],"id":"75a770c7-64ec-42bf-bc99-6ff33df45dd9","name":"When chat message received","webhookId":"366f1070-0490-45db-9fac-89c4e41b5aca"},{"parameters":{"documentId":{"__rl":true,"value":"1da8FbD_Bw9Gb3CPbwUQ6r3zADv2w60sWM4TElwGJuhk","mode":"list","cachedResultName":"Schema Table BigQuery","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1da8FbD_Bw9Gb3CPbwUQ6r3zADv2w60sWM4TElwGJuhk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"schema","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1da8FbD_Bw9Gb3CPbwUQ6r3zADv2w60sWM4TElwGJuhk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[280,40],"id":"5fe2abd4-02f3-488c-bcaa-bcf3e437e45c","name":"table-info","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[140,40],"id":"0e306b2d-4be6-4a18-9377-a7fe16bb19e6","name":"Simple Memory"},{"parameters":{"projectId":{"__rl":true,"mode":"id","value":"n8n-tutorial-452114"},"sqlQuery":"{{ $fromAI('sqlquery') }}","options":{}},"type":"n8n-nodes-base.googleBigQueryTool","typeVersion":2.1,"position":[400,40],"id":"6d68d996-e750-4285-9b0f-70029562dec1","name":"Big Query","credentials":{"googleBigQueryOAuth2Api":{"id":"m6cuKhEidHJucQSW","name":"Google BigQuery account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,40],"id":"69cd29ba-414e-44b8-83b7-778c10349cd8","name":"4o-mini","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=# **Overview**:\nBạn là một chuyên gia phân tích dữ liệu và SQL chuyên nghiệp.  \nNhiệm vụ của bạn là kiểm tra schema của bảng dữ liệu (lấy từ công cụ `table-info`) và viết các truy vấn SQL phù hợp để trích xuất thông tin cần thiết cho báo cáo kinh doanh theo tháng (nhận từ chatinput của người dùng)\n\n# **Yêu cầu công việc:**\n1. **Phân tích schema của bảng dữ liệu đầu vào**, đảm bảo lấy đúng được table_id để đưa vào phần FROM trong SQL. Hiểu đúng ngữ cảnh các cột, kiểu dữ liệu và mối quan hệ giữa chúng.\n2. **Viết truy vấn SQL** để lấy dữ liệu cần thiết cho mẫu báo cáo dưới đây:\n    BÁO CÁO KẾT QUẢ KINH DOANH THÁNG [....]\n    \n    ## 1️⃣ Tổng quan doanh thu & lợi nhuận\n    - **Tổng doanh thu**: 97,219.37  \n    - **Tổng chi phí hàng hóa (COGS)**: 92,589.88  \n    - **Tổng lợi nhuận gộp**: 4,629.49  \n    - **Tỷ suất lợi nhuận gộp trung bình**: 4.76%\n    \n    ## 2️⃣ Hiệu suất bán hàng theo danh mục sản phẩm\n    | Danh mục                 | Doanh thu  | Số lượng bán | Lợi nhuận gộp |\n    |--------------------------|------------|--------------|---------------|\n    | Fashion accessories      | 19,009.86  | 295          | 905.23        |\n    | Sports and travel        | 13,809.61  | 226          | 657.60        |\n    | Electronic accessories   | 17,362.91  | 313          | 826.81        |\n    | Food and beverages       | 20,000.36  | 349          | 952.40        |\n    | Health and beauty        | 14,602.26  | 266          | 695.35        |\n    | Home and lifestyle       | 12,434.38  | 205          | 592.11        |\n    \n    ## 3️⃣ Hiệu suất chi nhánh & khu vực\n    | Chi nhánh | Thành phố  | Doanh thu  | Số hóa đơn | Lợi nhuận gộp |\n    |-----------|------------|------------|------------|---------------|\n    | B         | Mandalay   | 34,424.27  | 109        | 1,639.25      |\n    | C         | Naypyitaw  | 32,934.98  | 100        | 1,568.33      |\n    | A         | Yangon     | 29,860.12  | 94         | 1,421.91      |\n    \n    ## 4️⃣ Hành vi khách hàng\n    | Loại khách hàng | Tổng doanh thu | Số hóa đơn | Trung bình/hóa đơn | % Tổng doanh thu |\n    |-----------------|----------------|------------|---------------------|-------------------|\n    | Normal          | 46,923.32      | 140        | 335.17             | 48.27%            |\n    | Member          | 50,296.05      | 163        | 308.56             | 51.73%            |\n    \n    ## 5️⃣ Phương thức thanh toán\n    | Phương thức  | Tổng giao dịch | Tổng doanh thu | Tỷ lệ % |\n    |-------------|----------------|-----------------|---------|\n    | Cash        | 112            | 35,746.34       | 36.77%  |\n    | Ewallet     | 101            | 30,113.01       | 30.97%  |\n    | Credit card | 90             | 31,360.02       | 32.26%  |\n    \n    ## 6️⃣ Mức độ hài lòng của khách hàng\n    - **Điểm đánh giá trung bình**: 7.07  \n    - **Tỷ lệ đánh giá từ 8 trở lên**: 35.31%  \n    - **Tỷ lệ đánh giá dưới 5**: 14.52%\n    \n    ---\n    \n    ### KẾT LUẬN & ĐỀ XUẤT\n    1. Xu hướng doanh thu và lợi nhuận có vẻ ổn định, tuy nhiên tỷ suất lợi nhuận gộp vẫn khá thấp.  \n    2. Danh mục sản phẩm \"Fashion Accessories\" có doanh thu và lợi nhuận gộp thấp nhất, cần được xem xét để tối ưu.  \n    3. Đề xuất cải thiện trải nghiệm khách hàng thông qua nâng cao chất lượng sản phẩm và dịch vụ hỗ trợ.\n\n\n3. **Định dạng kết quả trả về dưới dạng JSON** để AI Agent thứ 2 có thể dễ dàng xử lý.\n\n# **Nguyên tắc:**\n- Viết SQL tối ưu, đảm bảo hiệu suất truy vấn tốt nhất.\n- Với các cột mà tên có khoảng cách (VD: gross income, Product line), thì khi viết truy vấn cần đặt cột trong dấu backstick - ví dụ: SUM(`gross income`), TUYỆT ĐỐI KHÔNG ĐỂ PHÁT SINH LỖI SQL DO VIẾT TÊN CỘT CÓ KHOẢNG TRẮNG TRONG PHẦN SELECT\n- Nếu bạn tạo ra câu lệnh SQL không chuẩn, hãy kiểm tra kỹ xem nó có thêm dấu xuống dòng (\\n) hoặc lỗi format không. TUYỆT ĐỐI KHÔNG VI PHẠM CÁC LỖI DO INDENTIFY hoặc LỖI CÚ PHÁP SQL.\n- Chỉ truy vấn dữ liệu trong phạm vi tháng hiện tại hoặc tháng được yêu cầu.\n- Đảm bảo độ chính xác và tính nhất quán của dữ liệu.\n\n# **Dữ liệu mẫu:**\n- Dữ liệu đầu vào gồm các cột: Invoice ID, Branch, City, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, cogs, gross margin percentage, gross income, Rating.\n- Cần lọc dữ liệu theo khoảng thời gian phù hợp (VD: `WHERE Date BETWEEN '2024-03-01' AND '2024-03-31'` nếu lấy dữ liệu tháng 3/2024)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[140,-200],"id":"e077ef63-3b5b-4ffe-a9fc-4efb7b2871be","name":"SQL Master"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[840,-120],"id":"1ea41845-da97-4976-9ff9-64826d5331c1","name":"Calculator"},{"parameters":{"promptType":"define","text":"=Kết quả phân tích từ chuyên gia SQL:\n{{ $json.output }}","options":{"systemMessage":"=Bạn là một chuyên gia phân tích kinh doanh và báo cáo tài chính.  \nNhiệm vụ của bạn là nhận dữ liệu từ AI Agent 1 (định dạng JSON) và trình bày báo cáo kinh doanh theo tháng theo template chuẩn.\n\n## **Yêu cầu công việc:**\n1. **Nhận dữ liệu đầu vào từ AI Agent 1**, bao gồm thông tin về doanh thu, lợi nhuận, sản phẩm, khách hàng, chi nhánh, phương thức thanh toán và mức độ hài lòng của khách hàng.\n2. **Định dạng báo cáo theo cấu trúc chuẩn sau đây:**\n      BÁO CÁO KẾT QUẢ KINH DOANH THÁNG [....]\n      \n      ## 1️⃣ Tổng quan doanh thu & lợi nhuận\n      - **Tổng doanh thu**: 97,219.37  \n      - **Tổng chi phí hàng hóa (COGS)**: 92,589.88  \n      - **Tổng lợi nhuận gộp**: 4,629.49  \n      - **Tỷ suất lợi nhuận gộp trung bình**: 4.76%\n      \n      ## 2️⃣ Hiệu suất bán hàng theo danh mục sản phẩm\n      | Danh mục                 | Doanh thu  | Số lượng bán | Lợi nhuận gộp |\n      |--------------------------|------------|--------------|---------------|\n      | Fashion accessories      | 19,009.86  | 295          | 905.23        |\n      | Sports and travel        | 13,809.61  | 226          | 657.60        |\n      | Electronic accessories   | 17,362.91  | 313          | 826.81        |\n      | Food and beverages       | 20,000.36  | 349          | 952.40        |\n      | Health and beauty        | 14,602.26  | 266          | 695.35        |\n      | Home and lifestyle       | 12,434.38  | 205          | 592.11        |\n      \n      ## 3️⃣ Hiệu suất chi nhánh & khu vực\n      | Chi nhánh | Thành phố  | Doanh thu  | Số hóa đơn | Lợi nhuận gộp |\n      |-----------|------------|------------|------------|---------------|\n      | B         | Mandalay   | 34,424.27  | 109        | 1,639.25      |\n      | C         | Naypyitaw  | 32,934.98  | 100        | 1,568.33      |\n      | A         | Yangon     | 29,860.12  | 94         | 1,421.91      |\n      \n      ## 4️⃣ Hành vi khách hàng\n      | Loại khách hàng | Tổng doanh thu | Số hóa đơn | Trung bình/hóa đơn | % Tổng doanh thu |\n      |-----------------|----------------|------------|---------------------|-------------------|\n      | Normal          | 46,923.32      | 140        | 335.17             | 48.27%            |\n      | Member          | 50,296.05      | 163        | 308.56             | 51.73%            |\n      \n      ## 5️⃣ Phương thức thanh toán\n      | Phương thức  | Tổng giao dịch | Tổng doanh thu | Tỷ lệ % |\n      |-------------|----------------|-----------------|---------|\n      | Cash        | 112            | 35,746.34       | 36.77%  |\n      | Ewallet     | 101            | 30,113.01       | 30.97%  |\n      | Credit card | 90             | 31,360.02       | 32.26%  |\n      \n      ## 6️⃣ Mức độ hài lòng của khách hàng\n      - **Điểm đánh giá trung bình**: 7.07  \n      - **Tỷ lệ đánh giá từ 8 trở lên**: 35.31%  \n      - **Tỷ lệ đánh giá dưới 5**: 14.52%\n      \n      ---\n      \n      ### KẾT LUẬN & ĐỀ XUẤT\n      1. Xu hướng doanh thu và lợi nhuận có vẻ ổn định, tuy nhiên tỷ suất lợi nhuận gộp vẫn khá thấp.  \n      2. Danh mục sản phẩm \"Fashion Accessories\" có doanh thu và lợi nhuận gộp thấp nhất, cần được xem xét để tối ưu.  \n      3. Đề xuất cải thiện trải nghiệm khách hàng thông qua nâng cao chất lượng sản phẩm và dịch vụ hỗ trợ.\n\n3. **Định dạng báo cáo gọn gàng, dễ đọc, ở định dạng HTML để có thể gửi qua email**\n4. **Tối ưu nội dung để dễ hiểu, có thể thêm nhận xét nếu cần.**\n\n## **Nguyên tắc:**\n- Báo cáo phải chính xác, trực quan và có ý nghĩa kinh doanh.\n- Nội dung có thể điều chỉnh phù hợp với dữ liệu đầu vào.\n- Trình bày rõ ràng, dễ đọc và có tính ứng dụng cao.\n- Sử dụng công cụ `Calculator` khi cần thiết để tính toán.\n- Nội dung báo cáo chỉ có nội dung kinh doanh, không chứa các yếu tố dư thừa khác.\n- Mở đầu bằng Dear CEO và kết thúc bằng Thanks & Best Regards,\n\nHãy tổng hợp dữ liệu từ AI Agent 1 và tạo báo cáo theo đúng format trên."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[600,-340],"id":"ea256d7d-9751-46d8-b1d6-be65230c7499","name":"Data Analyst"},{"parameters":{"sendTo":"quyvoda@gmail.com","subject":"📈Báo cáo kết quả kinh doanh","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[960,-340],"id":"ed30117c-8e42-4a93-b1e0-29399e85ef3e","name":"Gmail","webhookId":"fc1cd3bf-997d-455d-b81b-cf01a779a98b","credentials":{"gmailOAuth2":{"id":"zB3G8tWcSy19Z09w","name":"Gmail account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[600,-120],"id":"8984a80c-b42b-45ef-82b0-7326bf79ff47","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"SQL Master","type":"main","index":0}]]},"table-info":{"ai_tool":[[{"node":"SQL Master","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"SQL Master","type":"ai_memory","index":0}]]},"Big Query":{"ai_tool":[[{"node":"SQL Master","type":"ai_tool","index":0}]]},"4o-mini":{"ai_languageModel":[[{"node":"SQL Master","type":"ai_languageModel","index":0}]]},"SQL Master":{"main":[[{"node":"Data Analyst","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Data Analyst","type":"ai_tool","index":0}]]},"Data Analyst":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Data Analyst","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7516321d-d17c-44ef-8a9b-8325e674a7c9","triggerCount":0,"tags":[]}