workflows/Restore your credentials from GitHub.json
{"createdAt":"2025-04-16T02:27:27.836Z","updatedAt":"2025-04-16T02:29:43.000Z","id":"yTR7PaQKL2223aOf","name":"Restore your credentials from GitHub","active":false,"nodes":[{"parameters":{},"id":"f8aff38c-3e40-4820-b8f5-50e3e1f878c8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[760,260],"typeVersion":1},{"parameters":{"content":"## Restore from GitHub \nThis workflow will restore all instance credentials from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the credentials to go into a `credentials` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - credentials/\n","height":420,"width":320},"id":"f838e0c6-36aa-4c0b-bdd2-ef096ffd3d1d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"BeyondspaceStudio"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials"}]},"options":{}},"id":"8f59b7b0-ea9d-4209-8c6b-d48fe9d8cf7b","name":"Globals","type":"n8n-nodes-base.set","position":[1020,260],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"d72bf1a6-f3a0-4dc0-afc0-e39c7e8b16f3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[960,140],"typeVersion":1},{"parameters":{"content":"## Skip credential\n- The empty json files\n- The n8n account api\n- ...edit this node at will","color":4},"id":"4eeb0ed5-7e90-4f09-8296-04c0349de49b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1500,400],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"40856ade-3ff7-43ef-8c45-ec5a126a5787","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[1240,260],"typeVersion":4.2,"credentials":{"githubApi":{"id":"LbeWBgkNjJ1O4VjA","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"4284aadd-4840-4754-9416-6bb74a1df192","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[800,580],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"BeyondspaceStudio"},"repository":{"__rl":true,"mode":"name","value":"n8n-backup"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"48a04e72-5f9e-4dc3-863d-a8bb30f1c8c2","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[1040,580],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"LbeWBgkNjJ1O4VjA","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"id":"507c8514-6acf-4568-83cc-bb07f06e6a96","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[1260,580],"typeVersion":1},{"parameters":{"resource":"credential","name":"={{ $json.data.name }}","credentialTypeName":"={{ $json.data.type }}","data":"={{ JSON.stringify($json.data.data) }}","requestOptions":{}},"id":"084e7306-4c7b-4a9b-8f3e-f844ab340f6a","name":"Restore n8n Credentials","type":"n8n-nodes-base.n8n","position":[1780,580],"typeVersion":1,"credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"ad031296-4ac0-4087-bc35-7975a2cc25e6","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.data }}","rightValue":""},{"id":"ca912a57-6a4b-4b9a-be0e-37b69d3e4917","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.data.name }}","rightValue":"n8n account"}]},"options":{}},"id":"f8267df1-eb0a-491e-bed4-01480583a535","name":"Check for skipped Credentials","type":"n8n-nodes-base.if","position":[1500,580],"typeVersion":2.2}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Check for skipped Credentials","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"Check for skipped Credentials":{"main":[[],[{"node":"Restore n8n Credentials","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3097"},"pinData":{},"versionId":"5c7c3fcb-de82-4f85-99c7-579aab17c94f","triggerCount":0,"tags":[{"createdAt":"2025-04-16T02:29:18.555Z","updatedAt":"2025-04-16T02:29:18.555Z","id":"9IjNk29Vlng1KvRI","name":"credential"},{"createdAt":"2025-04-16T02:29:42.308Z","updatedAt":"2025-04-16T02:29:42.308Z","id":"tvyd4D20vfLtvbTm","name":"backup"}]}