workflows/Test upload image from url to WP.json
{"createdAt":"2025-04-06T07:52:39.559Z","updatedAt":"2025-04-06T09:16:12.000Z","id":"IWiRfmWwdpxcEjIv","name":"Test upload image from url to WP","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"1bg67POjEJz_RO2zcgS0vyo3v8m2wyim13hErBt5RNJY","mode":"list","cachedResultName":"create image from url","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bg67POjEJz_RO2zcgS0vyo3v8m2wyim13hErBt5RNJY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bg67POjEJz_RO2zcgS0vyo3v8m2wyim13hErBt5RNJY/edit#gid=0"},"event":"rowAdded","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-600,-80],"id":"a6d38228-0792-4c77-91a4-9338914aeb5c","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"FmO3WTWFRL3Ke6sP","name":"Google Sheets Trigger account"}}},{"parameters":{"url":"={{ $json['Link ảnh'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-80],"id":"2e8dd740-ab2d-4113-8c8e-1877788790c9","name":"Download"},{"parameters":{"name":"img","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-60,-80],"id":"5c7689b7-68e1-4859-b747-0480a78b085a","name":"Up IMG to Drive","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Download","type":"main","index":0}]]},"Download":{"main":[[{"node":"Up IMG to Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5e72dcf-6f7c-45a2-ac5c-1bb3157cd850","triggerCount":0,"tags":[]}