workflows/Test FB Webhook and API.json
{"createdAt":"2025-04-09T21:34:56.637Z","updatedAt":"2025-04-10T02:55:08.000Z","id":"zs0CMNH9TotZsmLs","name":"Test FB Webhook and API","active":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"8f85d160-fcfd-47ee-89b9-477c34d7d655","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,-20],"id":"0b853ea2-4d20-4515-85a5-42283b75a1d9","name":"Webhook","webhookId":"8f85d160-fcfd-47ee-89b9-477c34d7d655"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-120,-180],"id":"10fd2426-c7e2-4f78-99ad-40fe1f28f106","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"2e0067c8-b8c6-4079-8a56-e65b46deeceb","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,-180],"id":"775a0f41-d1b8-4477-b4cc-b979384f55d5","name":"Config"},{"parameters":{"assignments":{"assignments":[{"id":"356b2955-c638-4aea-b7c3-33bd6d639f6a","name":"id","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"dd8387b7-c983-404f-93e8-b7ed82487aba","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,80],"id":"c0af1e39-0740-49d1-8b0d-ef25861121ca","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-120,80],"id":"428d8a6e-9f40-4374-bbe1-189d6c4744c2","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-100,300],"id":"cd5b8d5a-15ea-40ef-8c7d-cb45c7a2263e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAAQ4xBFTmFEBOZCibT6agZBR84uRCkZBH3XfMkIHsegsj4uCLjg4oZBrEvrP03nW3MEJPEwIJvH8ZABhvc3EV4KRQCXlDP2s3rZCK9ja8cNUuoNJ3vKumptKIQFprykgvBNB5kqsGJBQ9bp7xu5lZBNZBWlMos4RxZAodhMKkdfDeuJfZCCBI9PTxGhY8m"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"recipient\":{\"id\": \"{{ $('Edit Fields').item.json.id }}\"},\"message\":{\"text\": \"{{ $json.output }}\"}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,80],"id":"0239e9c7-1b1c-402d-bfa5-73da6fb9195a","name":"HTTP Request"},{"parameters":{"jsCode":"let output = $input.first().json.output.replace(/\\n/g,\"\")\nreturn {output:output}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80],"id":"e4939c9e-7580-4215-b81d-a81863219918","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Config","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Config":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"623b9737-5800-4b49-b7bc-2aee6d42e2cf","triggerCount":2,"tags":[]}