workflows/Test FB Webhook and API.json
{"createdAt":"2025-04-09T21:34:56.637Z","updatedAt":"2025-04-09T21:40:32.000Z","id":"zs0CMNH9TotZsmLs","name":"Test FB Webhook and API","active":false,"nodes":[{"parameters":{"path":"8f85d160-fcfd-47ee-89b9-477c34d7d655","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"0b853ea2-4d20-4515-85a5-42283b75a1d9","name":"Webhook","webhookId":"8f85d160-fcfd-47ee-89b9-477c34d7d655"},{"parameters":{"assignments":{"assignments":[{"id":"2e0067c8-b8c6-4079-8a56-e65b46deeceb","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"775a0f41-d1b8-4477-b4cc-b979384f55d5","name":"Edit Fields"},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"10fd2426-c7e2-4f78-99ad-40fe1f28f106","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2ba5fca3-423a-4467-b114-1f9bcff72916","triggerCount":0,"tags":[]}