workflows/Thông báo 14, 15, 29, 30 ÂL.json
{"createdAt":"2025-04-22T14:33:09.176Z","updatedAt":"2025-04-22T15:08:00.000Z","id":"OpPRJwvhexNcrSoS","name":"Thông báo 14, 15, 29, 30 ÂL","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://open.oapi.vn/date/convert-to-lunar","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"day\": {{ $now.format('dd') }}, \n    \"month\": {{ $now.format('M') }},\n    \"year\": {{ $now.format('yyyy') }}\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,-120],"id":"c384f2e3-e2e9-497b-8bf6-e62c8d1f8e8f","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,-100],"id":"c323b2f2-b534-421e-bc6e-dff7a8df7f3a","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7354bc6-28dd-4a34-a4fa-a18581cd396e","leftValue":"={{ $json.data.day }}","rightValue":29,"operator":{"type":"number","operation":"equals"}},{"id":"04022442-6bf1-474f-a8a0-64d84f217d6a","leftValue":"={{ $json.data.day }}","rightValue":30,"operator":{"type":"number","operation":"equals"}},{"id":"49782d64-b893-4930-b7f6-2dca95739661","leftValue":"={{ $json.data.day }}","rightValue":14,"operator":{"type":"number","operation":"equals"}},{"id":"d1971b6f-c652-48b7-ab9b-9c004d755a7f","leftValue":"={{ $json.data.day }}","rightValue":15,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,-120],"id":"c0199071-5bae-4b41-9f36-078aedc9b4e1","name":"If"},{"parameters":{"threadId":"4641679337853475819","message":"=Hôm nay ngày {{ $json.data.day }}/{{ $json.data.month }} Âm Lịch, cúng kiếng gì tính luôn đi bạn. Bot tự động không phải THI, OK?"},"type":"n8n-nodes-zalo-tools.zaloSendMessage","typeVersion":3,"position":[220,-200],"id":"d665a40b-a6e3-4938-aed3-c4ad36e666f7","name":"Zalo Send Message","credentials":{"zaloApi":{"id":"jyDCT4KLnliRcbAx","name":"Zalo API Credentials"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Zalo Send Message","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80064320-38e4-4c0f-b9b5-58b5b3fa2dae","triggerCount":1,"tags":[]}