workflows/Upload img WP from URL.json
{"createdAt":"2025-04-06T16:18:35.346Z","updatedAt":"2025-04-10T21:20:52.000Z","id":"XM2yuFCy1mfsYFDx","name":"Upload img WP from URL","active":false,"nodes":[{"parameters":{},"id":"d4b2bfee-df59-4bd7-8ac6-9df222b030af","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://picsum.photos/200/300","options":{}},"id":"9a98631e-e61a-483e-910d-291f1ab8184e","name":"Get an Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[420,0]},{"parameters":{"method":"POST","url":"={{$('Config').first().json.blogUrl}}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-disposition","value":"=attachment; filename={{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"},{"name":"content-type","value":"={{ $binary.data.mimeType }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"1b6030f5-2da2-44e7-b351-756a3adfa093","name":"Upload Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,0],"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}}},{"parameters":{"method":"POST","url":"={{$('Config').first().json.blogUrl}}/wp-json/wp/v2/posts/1","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"featured_media","value":"={{ $json.id }}"}]},"options":{}},"id":"0a1b9dcd-5550-4da9-9661-04e5d14a3c97","name":"Set Featured Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,0],"credentials":{"wordpressApi":{"id":"n2PfJv3XIBEtplnO","name":"Wordpress account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"blogUrl","value":"https://dacsandatmui.com"}]},"options":{}},"id":"ea9154d2-caa9-4882-8e8d-82e8ef897759","name":"Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[220,0]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Config","type":"main","index":0}]]},"Get an Image":{"main":[[{"node":"Upload Media","type":"main","index":0}]]},"Upload Media":{"main":[[{"node":"Set Featured Image","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get an Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d91dcb68-b507-4b72-a67f-d991871068cb","triggerCount":0,"tags":[]}