workflows/Zalo AI Agent.json
{"createdAt":"2025-04-12T14:57:20.644Z","updatedAt":"2025-04-12T15:32:30.000Z","id":"QDAIjxB3D2FrYSSx","name":"Zalo AI Agent","active":false,"nodes":[{"parameters":{"chatId":"-4618273186","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,-60],"id":"5411bb22-1856-485f-a4bd-9287c38b539c","name":"Telegram","webhookId":"71462c61-c6e2-4a17-823d-983d90b49e6b","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"events":["init","activate","update"]},"type":"n8n-nodes-zalo-user.zaloUser","typeVersion":2,"position":[-900,240],"id":"59023845-ca3b-4d97-8ace-3edcc9bbc2ed","name":"Zalo User Trigger","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"593f613c-0692-43db-829c-b2546961cfd7","leftValue":"={{ $json.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals"},"id":"00a6326f-480c-49a4-afc1-83783ff90ebc"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e03dd92-64d0-4230-ae06-2ad7f996aae4","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.video.msg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50fa8978-a63e-41be-ab37-d52ff2f16f08","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9561b879-177e-47f1-859f-02ceeb31c5a3","leftValue":"={{ $json.data.msgType }}","rightValue":"share.file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-660,200],"id":"3137da04-4352-4360-989c-5b01620f13d3","name":"Switch"},{"parameters":{"operation":"sendPhoto","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,600],"id":"84e083b1-095a-4a16-8a4b-c9b88139fd62","name":"Telegram1","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendVideo","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,800],"id":"5f80f4b3-888d-4cfa-b47b-a4fe1f202bb5","name":"Telegram2","webhookId":"c0b8e5be-3ae4-49b1-ad6a-85e6c6bf3a1f","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"926995b0-3eab-4d01-a696-a2b23ad33dc2","leftValue":"={{ $json.data.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"91c38034-452d-4d49-bb31-ada7df029480","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-420,180],"id":"89e92b27-b3e6-44cc-91c2-2dfa4c58055c","name":"If"},{"parameters":{},"type":"n8n-nodes-zalo-user.zaloUserLogin","typeVersion":3,"position":[-560,-620],"id":"b93f760a-7d15-48a4-a43c-52e5ce8f5d8f","name":"Zalo Login Via QR Code","credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b3b05fc-0221-463e-a821-8f8cbfb39604","leftValue":"={{ $json.isSelf }}","rightValue":"isSelf","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0e717c6b-50dc-4e77-a1fa-8061edcbc400","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,40],"id":"2aabbdba-22c0-41a2-9398-8bb451a9c549","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da3b5a03-e784-486f-b0b1-99d7154cc6b7","leftValue":"={{ $json.isSelf }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,160],"id":"31509190-4ca8-4b03-ba23-cbefd6fea711","name":"If2"},{"parameters":{"chatId":"-4618273186","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,320],"id":"7b7f9109-8750-4d53-9fdb-0ae580f0d1e0","name":"Telegram4","webhookId":"4fd33c7d-60b7-4211-abcd-f9c55ece0683","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendDocument","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,1020],"id":"e7a6acb3-f1be-49e3-b8f3-8fcf24f759bb","name":"Telegram5","webhookId":"741c2f6b-32a9-4c1a-924a-de3d798803c5","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[640,-560],"id":"4893fc4c-04c1-4ff0-9a84-8fd2a9af7a88","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc","mode":"list","cachedResultName":"Product Data","cachedResultUrl":"https://drive.google.com/drive/folders/1z2S9Qjkxl3h979yDyajk4KFcJOw1FQKc"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[860,-560],"id":"44ad898a-de92-49f3-875f-955c6a9e99f7","name":"search_file","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1080,-560],"id":"663e17eb-c834-4823-a050-a46549d8e702","name":"dowload","credentials":{"googleDriveOAuth2Api":{"id":"uiHncLjbSO7TCAzr","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1340,-580],"id":"111c3696-ac6c-42fa-849c-6039c5cd10d7","name":"Loop Over Items"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"prodata","mode":"list","cachedResultName":"prodata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1600,-620],"id":"4e0204f5-2b2e-453b-8359-1721cbd34539","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1700,-400],"id":"e8d40589-7528-4f43-903d-870ccae3dd7f","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1720,-260],"id":"ab9c557b-7bff-4919-976b-fc1aa760f148","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1480,-400],"id":"50fb3ab7-dd8e-488b-8117-817ba2b4c471","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"content":"## Upload tài liệu","height":400,"width":1480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[560,-660],"typeVersion":1,"id":"e8e69d36-2fd2-4038-b69d-3460d370e3c9","name":"Sticky Note"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1020,340],"id":"0c054a4e-5c9c-4402-adda-992fce5a4b10","name":"Window Buffer Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[860,340],"id":"fba1274d-f7a5-41d0-b6ad-dd6e166a120e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"name":"dulieu","description":"Chứa dữ liệu nội bộ, truy vấn để tìm thông tin trả lời câu hỏi của người dùng"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1320,240],"id":"77ac002e-b462-4520-ab39-a990d4551a39","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"prodata","mode":"list","cachedResultName":"prodata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1340,420],"id":"c4ecff14-d040-48c3-a76a-a43877e9109f","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"wRt7ght9FVF0kVRQ","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1260,580],"id":"d7f59006-a3ed-41b5-9155-9805ab3b0f93","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"YUXfwQd3CGq9bfen","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA","mode":"list","cachedResultName":"Giá","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nVLj5Elz3hY3uO5STqkcryu0tX-TkZZ_G0eRqiDeQiA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1160,340],"id":"87c482a0-7ee9-4c08-a967-6e0045f71532","name":"Price DB","credentials":{"googleSheetsOAuth2Api":{"id":"WgF6l0tsz1Jeq8pk","name":"Google Sheets account"}}},{"parameters":{"content":"## Chat","height":780,"width":1300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[620,0],"typeVersion":1,"id":"e06dcb54-251a-42fd-8b68-699995831ccd","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"5f87513d-4372-467a-add3-9e7ac692598e","name":"message","value":"={{ $json.data.content }}","type":"string"},{"id":"97d04e38-fc7d-4092-abf2-54524413589d","name":"sessionId","value":"=zalo_chat_{{ $json.threadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,80],"id":"4e4c903a-6217-48a5-8e32-05fa89084ff6","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=## Overview:\n- Bạn là AI trợ lý riêng của người dùng. Nhiệm vụ của bạn là tiếp nhận và hỗ trợ giải đáp thắc mắc của người dùng dựa trên tài liệu nội bộ\n\n## Công Cụ:\n- `dulieu`: Chứa dữ liệu nội bộ, dùng để tìm kiếm thông tin trước khi đưa ra phản hồi\n- `Price DB`: Chứa dữ liệu về giá bán sản phẩm, dùng để tìm kiếm thông tin trước khi đưa ra phản hồi\n\n\n## Hướng dẫn:\n- Luôn gọi công cụ `dulieu` và `Price DB` để tìm kiếm thông tin trước khi phản hồi\n- Không tự ý tìm kiếm thông tin bên ngoài\n- Nếu trong `dulieu` và `Price DB` không có thông tin, phản hồi chưa có thông tin\n- Giao tiếp chuyên nghiệp, lịch sự"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[900,80],"id":"9d4394ec-c420-43de-8b70-0c469aa30c77","name":"Trợ Lý AI Zalo"},{"parameters":{"threadId":"={{ $('Zalo User Trigger').item.json.threadId }}","message":"={{ $json.output }}","threadType":"={{ $('Zalo User Trigger').item.json.type }}"},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[1600,80],"id":"5a98fda6-6371-4aee-ac86-add4bc20a8ef","name":"Zalo Answer","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}}],"connections":{"Zalo User Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[],[{"node":"Telegram5","type":"main","index":0}]]},"If":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram4","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"search_file","type":"main","index":0}]]},"search_file":{"main":[[{"node":"dowload","type":"main","index":0}]]},"dowload":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Trợ Lý AI Zalo","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Trợ Lý AI Zalo","type":"ai_languageModel","index":0},{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"Trợ Lý AI Zalo","type":"ai_tool","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Price DB":{"ai_tool":[[{"node":"Trợ Lý AI Zalo","type":"ai_tool","index":0}]]},"Telegram4":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Trợ Lý AI Zalo","type":"main","index":0}]]},"Trợ Lý AI Zalo":{"main":[[{"node":"Zalo Answer","type":"main","index":0}]]},"Zalo Answer":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9267202-c8f3-46ac-b5bd-5e14eae8f689","triggerCount":2,"tags":[]}