workflows/Zalo and Tele.json
{"createdAt":"2025-04-07T16:20:07.851Z","updatedAt":"2025-04-12T14:38:15.000Z","id":"U4ctJfjFEsIe0wlZ","name":"Zalo and Tele","active":false,"nodes":[{"parameters":{"content":"## Zalo Login Via QR Code","height":280,"width":1880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-460],"id":"55831fb0-9530-4b1f-bb19-8fba7ec0a175","name":"Sticky Note"},{"parameters":{"content":"## Receive events from Zalo User and trigger workflows","height":1180,"width":1840,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-120],"id":"a9837a77-6c51-4cd4-8b8a-cd2f49639730","name":"Sticky Note1"},{"parameters":{"chatId":"-0000","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,-80],"id":"4b66a0d5-6acc-4a3d-8076-fe5fa6f2aa4d","name":"Telegram","webhookId":"71462c61-c6e2-4a17-823d-983d90b49e6b","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[1640,-400],"id":"003ecd2b-fb61-436a-9aac-64ab123fcd5c","name":"Telegram Trigger","webhookId":"d1eb7888-7211-41eb-97f2-53da71b435e5"},{"parameters":{"content":"## Anwser Zalo messages via Telegram","height":420,"width":1840,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,-440],"id":"7fcab903-6ef8-4012-a78d-c499e412d1e8","name":"Sticky Note3"},{"parameters":{"events":["init","activate","update"]},"type":"n8n-nodes-zalo-user.zaloUser","typeVersion":2,"position":[-560,400],"id":"8dbd72ba-9c32-49a6-9518-f0ca3fbb7232","name":"Zalo User Trigger","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}},{"parameters":{"threadId":"={{ $json.message.reply_to_message.text.match(/###(\\d+)###/)[1] }}","message":"={{ $json.message.text }} \n\n[Sent from Telegram]","threadType":"={{ $json.message.reply_to_message.text.match(/###\\d+###(\\d+)###/)[1] }}"},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[2080,-180],"id":"8c62477b-6fd1-446e-b4aa-1f5ce995b178","name":"Zalo User Interact1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"593f613c-0692-43db-829c-b2546961cfd7","leftValue":"={{ $json.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals"},"id":"00a6326f-480c-49a4-afc1-83783ff90ebc"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e03dd92-64d0-4230-ae06-2ad7f996aae4","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.video.msg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50fa8978-a63e-41be-ab37-d52ff2f16f08","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9561b879-177e-47f1-859f-02ceeb31c5a3","leftValue":"={{ $json.data.msgType }}","rightValue":"share.file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,360],"id":"47353cee-bf10-4ae5-b4d9-c8451198a41c","name":"Switch"},{"parameters":{"operation":"sendPhoto","chatId":"-0000","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,380],"id":"6ec80af5-2d16-4378-9d6c-0f951779cf50","name":"Telegram1","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendVideo","chatId":"-0000","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,580],"id":"4d4d6eb1-55c0-4fe9-bdd8-12f2dcd18aac","name":"Telegram2","webhookId":"c0b8e5be-3ae4-49b1-ad6a-85e6c6bf3a1f","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.dName }}: {{ $json.data.content.substring(4) }}","options":{"systemMessage":"Thay doi prompt"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[180,380],"id":"d75e3a46-1fb7-438f-b87d-47de173abe1d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,640],"id":"e9555d98-7825-4b8e-ad43-4fbf3c8673e6","name":"Google Gemini Chat Model"},{"parameters":{"chatId":"-0000","text":"={{ $('AI Agent').item.json.output.substring(0, 2000).replace(/[!@#$%^_&*()]/g, '') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,380],"id":"f1cbcba6-b68c-4e8c-b213-ba1b9fa989b2","name":"Telegram3","webhookId":"74e5f3c7-cb79-44a6-9d9d-1be15ab30206","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Zalo User Trigger').item.json.data.idTo }}","contextWindowLength":1000},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[360,640],"id":"b4912716-1991-42b5-8125-0ef3c8c2b681","name":"Redis Chat Memory"},{"parameters":{"threadId":"={{ $('Zalo User Trigger').item.json.threadId }}","message":"=[Thành AI]: {{ $json.output.substring(0, 2000).replace(/[!@#$%^&*()]/g, ''); }}","threadType":"={{ $('Zalo User Trigger').item.json.type }}"},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[560,380],"id":"2c378955-7faf-4e38-bb4c-de1a0ddd9134","name":"Zalo User Interact2","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"926995b0-3eab-4d01-a696-a2b23ad33dc2","leftValue":"={{ $json.data.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"91c38034-452d-4d49-bb31-ada7df029480","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,180],"id":"a40e62db-ca9d-4525-9c5b-6ae48ec2bc58","name":"If"},{"parameters":{},"type":"n8n-nodes-zalo-user.zaloUserLogin","typeVersion":3,"position":[-400,-360],"id":"618405dd-3ae3-4868-a9c0-54bf2b3c1664","name":"Zalo Login Via QR Code","credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b3b05fc-0221-463e-a821-8f8cbfb39604","leftValue":"={{ $json.isSelf }}","rightValue":"isSelf","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0e717c6b-50dc-4e77-a1fa-8061edcbc400","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,20],"id":"3168b694-cb35-4b56-bc71-6591ea746599","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da3b5a03-e784-486f-b0b1-99d7154cc6b7","leftValue":"={{ $json.isSelf }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,120],"id":"4d8d65c6-c1f7-4008-b501-79dab277218c","name":"If2"},{"parameters":{"chatId":"-0000","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,120],"id":"9aa45d23-cb62-4605-928f-aec415f2d95f","name":"Telegram4","webhookId":"4fd33c7d-60b7-4211-abcd-f9c55ece0683","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendDocument","chatId":"-0000","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,780],"id":"123b72a8-9405-43ef-8dfd-f43ce06762f4","name":"Telegram5","webhookId":"741c2f6b-32a9-4c1a-924a-de3d798803c5","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f398f8ad-d922-4481-a22a-59b54b5f03b0","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,-400],"id":"e8aaad66-e878-4c63-be86-8cd02ca2555d","name":"If3"},{"parameters":{"threadId":"={{ $('Telegram Trigger').item.json.message.reply_to_message.text.match(/###(\\d+)###/)[1] }}","message":" [Sent from Telegram]","threadType":"={{ $('Telegram Trigger').item.json.message.reply_to_message.text.match(/###\\d+###(\\d+)###/)[1] }}","attachmentsParameter":{"attachmentPaths":[{"attachmentPath":"=https://api.telegram.org/file/bot[BOTOKEN]/{{ $json.result.file_path }}"}]}},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[2300,-400],"id":"c5932f77-2c2c-42f8-8d34-15f4db5e7236","name":"Zalo User Interact3"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}","download":false},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,-400],"id":"2ef01826-0079-4305-8e8d-4ee6d644440b","name":"Telegram6","webhookId":"b32543f4-46bd-4d2a-83a2-5a111a1096a2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1240,260],"id":"f73d897a-23e8-47df-a86c-e8bc81e9bcec","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Get All Groups","height":900,"width":1880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,80],"id":"da3db1c5-8930-46d5-9205-0b6bc66bd335","name":"Sticky Note4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/xxxxx","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uG-cs25rAp_JbailtKFU1AgSX3FcUTLyjbRrEYwLCb4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Group ID":"={{ $json.response.gridInfoMap[Object.keys($json.response.gridInfoMap)[0]].groupId }}","Name":"={{ $json.response.gridInfoMap[Object.keys($json.response.gridInfoMap)[0]].name }}"},"matchingColumns":[],"schema":[{"id":"Group ID","displayName":"Group ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2560,180],"id":"69f2636b-b918-47ba-ae1a-fce94a53e6e7","name":"Google Sheets","disabled":true},{"parameters":{"fieldToSplitOut":"groups","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1900,260],"id":"fc2ae485-73a8-46d7-85eb-0e1bc312e997","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2120,260],"id":"ae36548b-d28d-45fb-919f-913e9854fe81","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2780,260],"id":"e558e075-2479-4736-b5bc-8147b280d08b","name":"Wait","webhookId":"39fa8d4c-66c1-46ef-ba55-663714b50b09"},{"parameters":{"assignments":{"assignments":[{"id":"557c6478-4fb8-4b61-a3b8-de5d81d566ef","name":"groups","value":"={{ Object.keys($json.response.gridVerMap )}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,260],"id":"2dacb7cb-6852-480a-ba5a-05511c88348a","name":"Group Array"},{"parameters":{"resource":"get","operation":"getAllGroups"},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[1460,260],"id":"f9a6b8b7-a823-4a47-9978-89e296d3b3e8","name":"Zalo User Interact5"},{"parameters":{"resource":"get","operation":"getGroupInfo","groupIdsParameter":{"groupIdValues":[{"groupId":"={{ $json.groups }}"}]}},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[2340,180],"id":"38c4ab92-a4d6-45b5-a375-8e5f9d76398c","name":"Zalo User Interact4"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If3","type":"main","index":0}]]},"Zalo User Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[],[{"node":"Telegram5","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Zalo User Interact2","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Zalo User Interact2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"If3":{"main":[[{"node":"Telegram6","type":"main","index":0}],[{"node":"Zalo User Interact1","type":"main","index":0}]]},"Telegram6":{"main":[[{"node":"Zalo User Interact3","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Zalo User Interact5","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Zalo User Interact4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Group Array":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Zalo User Interact5":{"main":[[{"node":"Group Array","type":"main","index":0}]]},"Zalo User Interact4":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"031770f2-a1be-4970-905f-8af01732cf2b","triggerCount":0,"tags":[]}