workflows/Zalo AI Agent.json
{"createdAt":"2025-04-12T14:57:20.644Z","updatedAt":"2025-04-12T14:57:20.644Z","id":"QDAIjxB3D2FrYSSx","name":"Zalo AI Agent","active":false,"nodes":[{"parameters":{"chatId":"-4618273186","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,-340],"id":"5411bb22-1856-485f-a4bd-9287c38b539c","name":"Telegram","webhookId":"71462c61-c6e2-4a17-823d-983d90b49e6b","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"events":["init","activate","update"]},"type":"n8n-nodes-zalo-user.zaloUser","typeVersion":2,"position":[-720,140],"id":"59023845-ca3b-4d97-8ace-3edcc9bbc2ed","name":"Zalo User Trigger","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"593f613c-0692-43db-829c-b2546961cfd7","leftValue":"={{ $json.data.msgType }}","rightValue":"webchat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.msgType }}","rightValue":"chat.photo","operator":{"type":"string","operation":"equals"},"id":"00a6326f-480c-49a4-afc1-83783ff90ebc"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e03dd92-64d0-4230-ae06-2ad7f996aae4","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.video.msg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50fa8978-a63e-41be-ab37-d52ff2f16f08","leftValue":"={{ $json.data.msgType }}","rightValue":"chat.sticker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9561b879-177e-47f1-859f-02ceeb31c5a3","leftValue":"={{ $json.data.msgType }}","rightValue":"share.file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,100],"id":"3137da04-4352-4360-989c-5b01620f13d3","name":"Switch"},{"parameters":{"operation":"sendPhoto","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,120],"id":"84e083b1-095a-4a16-8a4b-c9b88139fd62","name":"Telegram1","webhookId":"a384a84f-85ff-4292-8173-8fd24f7d5bc3","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendVideo","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,320],"id":"5f80f4b3-888d-4cfa-b47b-a4fe1f202bb5","name":"Telegram2","webhookId":"c0b8e5be-3ae4-49b1-ad6a-85e6c6bf3a1f","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.dName }}: {{ $json.data.content.substring(4) }}","options":{"systemMessage":""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[20,120],"id":"9d8365cf-656e-4928-ae7a-705dccf9921d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[40,380],"id":"4166c30f-8a7f-407e-ac9e-efb0fa3adab3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lZA6csfPdy7FscxR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"-4618273186","text":"={{ $('AI Agent').item.json.output.substring(0, 2000).replace(/[!@#$%^_&*()]/g, '') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[620,120],"id":"0ae65606-1e82-4ac7-8dc8-da5f53d3c54d","name":"Telegram3","webhookId":"74e5f3c7-cb79-44a6-9d9d-1be15ab30206","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"threadId":"={{ $('Zalo User Trigger').item.json.threadId }}","message":"=[Thành AI]: {{ $json.output.substring(0, 2000).replace(/[!@#$%^&*()]/g, ''); }}","threadType":"={{ $('Zalo User Trigger').item.json.type }}"},"type":"n8n-nodes-zalo-user.zaloUserInteract","typeVersion":1,"position":[400,120],"id":"5a98fda6-6371-4aee-ac86-add4bc20a8ef","name":"Zalo User Interact2","credentials":{"zaloUserCredentialsApi":{"id":"Wda26mEg3EiS6ojZ","name":"Zalo 1491348570171103027 - 2025-04-12T14:30:10.257Z"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"926995b0-3eab-4d01-a696-a2b23ad33dc2","leftValue":"={{ $json.data.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"91c38034-452d-4d49-bb31-ada7df029480","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,-80],"id":"89e92b27-b3e6-44cc-91c2-2dfa4c58055c","name":"If"},{"parameters":{},"type":"n8n-nodes-zalo-user.zaloUserLogin","typeVersion":3,"position":[-560,-620],"id":"b93f760a-7d15-48a4-a43c-52e5ce8f5d8f","name":"Zalo Login Via QR Code","credentials":{"n8nApi":{"id":"Jxn7OZTZknCGAegk","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b3b05fc-0221-463e-a821-8f8cbfb39604","leftValue":"={{ $json.isSelf }}","rightValue":"isSelf","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0e717c6b-50dc-4e77-a1fa-8061edcbc400","leftValue":"={{ $json.data.content }}","rightValue":"/ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,-240],"id":"2aabbdba-22c0-41a2-9398-8bb451a9c549","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da3b5a03-e784-486f-b0b1-99d7154cc6b7","leftValue":"={{ $json.isSelf }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,-140],"id":"31509190-4ca8-4b03-ba23-cbefd6fea711","name":"If2"},{"parameters":{"chatId":"-4618273186","text":"={{ $json.data.dName }} ###{{ $json.threadId }}###{{ $json.type }}###: {{ $json.data.content }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[620,-140],"id":"7b7f9109-8750-4d53-9fdb-0ae580f0d1e0","name":"Telegram4","webhookId":"4fd33c7d-60b7-4211-abcd-f9c55ece0683","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{"operation":"sendDocument","chatId":"-4618273186","file":"={{ $json.data.content.href }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,520],"id":"e7a6acb3-f1be-49e3-b8f3-8fcf24f759bb","name":"Telegram5","webhookId":"741c2f6b-32a9-4c1a-924a-de3d798803c5","credentials":{"telegramApi":{"id":"7Xc6b4DxtC1HPG8U","name":"Telegram Check Rank Bot"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,340],"id":"00dca0de-ad42-44fd-914e-65b398b6d27a","name":"Simple Memory"}],"connections":{"Zalo User Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[],[{"node":"Telegram5","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Zalo User Interact2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Zalo User Interact2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49a8e1d4-1c1f-456a-8cab-a29246100196","triggerCount":0,"tags":[]}